﻿@inherits SayYeahTV.Web.Models.CustomViewPages.AuthViewPage
@using Microsoft.AspNet.Identity
@using SayYeahTv.Dependencies.Services
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models.Dto
@using Roles = SayYeahTV.DataAccess.Enums.Roles

@if (GeoIpService.IsInEuroUnion(Request.ServerVariables["REMOTE_ADDR"]))
{
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {
            "message":"This website uses cookies to ensure you get the best experience on our website",
            "dismiss":"Got it!",
            "learnMore":"Learn More",
            "link":"@Url.Action("Policy", "About")",
            "theme":"dark-bottom"
        };
    </script>

    <script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
    <!-- End Cookie Consent plugin -->
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var isPresenter = User.IsInAnyRoles(Roles.Presenter);
        IEnumerable<ChannelDto> shows = null;
        IEnumerable<EventDto> upcomings = null;

        var user = DbContext.Users.Find(User.Identity.GetUserId());
        
        if (isPresenter)
        {
            shows = UserDto.GetShows(User.Identity.GetUserId());
            upcomings = UserDto.GetUpcomings(User.Identity.GetUserId());
        }

        var unreadNotifications = DbContext.Notifications.Count(n => n.UserId == user.Id && n.IsVisible);
        
        @Html.AntiForgeryToken()

        <ul class="dropdown nav navbar-nav navbar-right">
            @*            <li class="invite-block dropdown">
                    <a data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button">
                        <img src="/Content/images/icons/add-plus.png" alt="Invite friends"/>
                        <span>invite friends</span>
                    </a>
                    <ul class="dropdown-menu invite-dropdown">
                        <li>
                            <div>Have fun watching
                                broadcasts together
                                with your friends
                            </div>
                            <h2>send an invite:</h2>
                            <a href="javascript:;">
                                <img id="invite-friends-button" src="/Content/images/icons/invite-icon.png" alt="Invite friends" />
                            </a>
                        </li>
                    </ul>
                </li>*@
            @if (isPresenter)
            {
                <li class="dropdown dropdown-overlayed dropdown-overlayed-center">
                    <a class="wide-button" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@StringHelper.Translate("Go live")">
                        <i class="sficon-camera"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        @if (shows != null && shows.Any())
                        {
                            foreach (var show in shows)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("Channel", new {tag = show.Tag})#live=0">@show.Name</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li><a class="text-center" href="javascript: void(0)" data-modal="@Url.Action("SetShow", "Channel")">@StringHelper.Translate("Create new Broadcast")</a></li>
                        }
                    </ul>
                </li>
            }
            <li class="dropdown dropdown-overlayed" id="dropdown-notifications" data-href="@Url.Action("GetNotifications", "Home")">
                <a class="wide-button" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="@StringHelper.Translate("Notifications")">
                    <i class="notifications-counter @if (unreadNotifications == 0) { <text>hide</text> }">
                        <span id="notifications-counter-holder">@(unreadNotifications > 99 ? 99 : unreadNotifications)</span>
                    </i>
                    <i class="sficon-bell"></i>
                </a>
                <ul class="dropdown-menu notifications-list @if (unreadNotifications > 0) { <text>not-empty-notifications</text> }" aria-labelledby="dLabel"></ul>
            </li>
            <li class="dropdown dropdown-overlayed dropdown-overlayed-center">
                <a class="wide-button user-avatar" data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-circle" src="@(user.Photo ?? FileHelper.GetUploadedFileUrl(FileHelper.DefaultUserLogo))" alt="" />
                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li class="user-name-dropdown"><span>test user @string.Format("{0} {1}", user.FirstName, user.LastName)</span></li>
                    <li><a class="text-uppercase text-left" href="@Url.Action("Index", "Manage")">@StringHelper.Translate("Settings")</a></li>
                    <li><a class="text-uppercase text-left" href="@Url.Action("Index", "Profile", new {name = user.UserName})">@StringHelper.Translate("Profile")</a></li>
                    @if (isPresenter)
                    {
                        <li class="title"><a href="@(Url.Action("Index", "Manage") + "#my-webshows")">@StringHelper.Translate("My Broadcasts")</a></li>
                        if (shows != null)
                        {
                            foreach (var show in shows)
                            {
                                <li>@Html.RouteLink(show.Name, "Channel", new { tag = show.Tag }, new {@class = "text-left text-uppercase"})</li>
                            }
                        }

                        <li><button type="button" data-modal="@Url.Action("SetShow", "Channel")" class="bt bt-xs bt-blue">+ Add new broadcast</button></li>

                        <li class="title"><a href="@(Url.Action("Index", "Manage") + "#upcoming")">@StringHelper.Translate("Upcoming")</a></li>

                        if (upcomings != null)
                        {
                            foreach (var upcoming in upcomings)
                            {
                                <li>@Html.RouteLink(upcoming.Title, "Channel", new { tag = upcoming.Channel.Tag }, new { @class = "text-center" })</li>
                            }
                        }

                        <li><button type="button" data-modal="@Url.Action("SetEvent", "Channel")" class="bt bt-xs bt-blue">Anounce new</button></li>
                    }
                    <li><a class="text-uppercase text-left" href="javascript:document.getElementById('logoutForm').submit()">@StringHelper.Translate("Logout")</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right signup-container">
        <li>
            <a href="javascript: void(0)" data-modal="@Url.Action("Register", "Account")">@StringHelper.Translate("Sign Up")</a>
        </li>
        <li>
            <a href="javascript: void(0)" data-modal="@Url.Action("Login", "Account")">@StringHelper.Translate("Log in")</a>
        </li>
        @*        <li>
            <a class=" sicon sicon-user" data-modal="@Url.Action("Login", "Account", new {isSignUp = true})" href="javascript: void(0)"></a>
        </li>*@
    </ul>
}
