﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.BroadcastDto>
           
<ul class="carousel">
    @foreach (var broadcast in Model)
    {
        <li class="counted-item">
            @Html.Partial("_VideoPreviewLive", broadcast)          
        </li>
    }
</ul>