﻿@model Dictionary<SayYeahTV.Web.Models.Dto.CategoryDto, IEnumerable<SayYeahTV.Web.Models.Dto.BroadcastDto>>
           
@foreach (var item in Model)
{
    var category = item.Key;
    
    <div class="categories">

        <div class="row">
            <div class="col-xs-12">
                <h1 class="category-title text-center">#@category.Name</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                        
                    <li role="presentation" class="active">
                        <a href="#category-live-@category.CategoryId" aria-controls="category-live-@category.CategoryId" role="tab" data-toggle="tab" data-limit="@ViewBag.BroadcastsLimit" data-loaded="1">
                            Live
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#category-upcoming-@category.CategoryId" aria-controls="category-upcoming-@category.CategoryId" role="tab" data-toggle="tab" data-limit="@ViewBag.EventsLimit"
                           data-href="@Url.Action("GetUpcomings", "Category", new {id = category.CategoryId})">
                            Upcoming
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#category-recent-@category.CategoryId" aria-controls="category-recent-@category.CategoryId" role="tab" data-toggle="tab" data-limit="@ViewBag.RecordingsLimit"
                           data-href="@Url.Action("GetRecent", "Category", new {id = category.CategoryId})">
                            Recent
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#category-users-@category.CategoryId" aria-controls="category-users-@category.CategoryId" role="tab" data-toggle="tab" data-limit="@ViewBag.UsersLimit"
                           data-href="@Url.Action("GetUsers", "Category", new {id = category.CategoryId})">
                            Users
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-content-custom">
                    <div role="tabpanel" id="category-live-@category.CategoryId" class="tab-pane active">
                        @Html.Partial("_BroadcastsPartial", item.Value)
                    </div>
                    <div role="tabpanel" id="category-upcoming-@category.CategoryId" class="tab-pane"></div>
                    <div role="tabpanel" id="category-recent-@category.CategoryId" class="tab-pane"></div>
                    <div role="tabpanel" id="category-users-@category.CategoryId" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
}
                        





