﻿@model Dictionary<SayYeahTV.Web.Models.Dto.CategoryDto, IEnumerable<SayYeahTV.Web.Models.Dto.BroadcastDto>>

<div class="categories">
    <h2>MORE BROADCASTS</h2>
    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
        <li role="presentation">
            <a href="#category-tab-previous"
               aria-controls="category-tab-events"
               data-href="@Url.Action("GetRecent", "Home")"
               role="tab" data-toggle="tab">
                PREVIOUS
            </a>
        </li>
        @{
            var i = 0;

            foreach (var category in Model.Keys)
            {
                <li role="presentation" @if (i == 0)
                                        {<text> class="active"</text>}>
                    <a href="#category-tab-@category.CategoryId"
                       aria-controls="category-tab-@category.CategoryId"
                       @if (category.CategoryId > 0)
                       {
                           <text> data-href="@Url.Action("GetBroadcasts", "Category", new {id = category.CategoryId})" </text>
                       }
                       role="tab"
                       data-toggle="tab">
                        @if (i > 0)
                        {<text>#</text>}@Html.Raw(category.Name)
                    </a>
                </li>

                i++;
            }
        }
        @*<li role="presentation">
            <a href="#category-tab-events"
               aria-controls="category-tab-events"
               data-href="@Url.Action("GetAllEvents", "Home")"
               role="tab" data-toggle="tab">
                UPCOMING
            </a>
        </li>*@
        <li role="presentation">
            <a href="#category-tab-top"
               aria-controls="category-tab-events"
               data-href="@Url.Action("GetTop", "Home")"
               role="tab" data-toggle="tab">
                TOP
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content tab-content-custom">
        <div role="tabpanel" id="category-tab-previous" class="tab-pane"></div>
        @{
            i = 0;

            foreach (var item in Model)
            {
                <div role="tabpanel" id="category-tab-@item.Key.CategoryId" class="tab-pane @if (i++ == 0)
                                                                                            {<text>active</text>}">
                    @if (item.Value != null)
                    {
                        @Html.Partial("_BroadcastsPartial", item.Value)
                    }
                </div>
            }
        }
        <div role="tabpanel" id="category-tab-users" class="tab-pane"></div>
        <div role="tabpanel" id="category-tab-events" class="tab-pane"></div>
        <div role="tabpanel" id="category-tab-top" class="tab-pane"></div>
    </div>
    <div class="clearfix"></div>
</div>
