﻿@using SayYeahTv.Dependencies.Services
@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.ChannelDto

<div class="video-preview text-center live-broadcast">

    <img src="@Model.Background"
         data-default-src="@FileHelper.GetUploadedFileUrl(FileHelper.DefaultBroadcastLogo)"
         alt="@Model.Name" title="@Model.Name" class="img-responsive"/>

    <div class="channel-name">
        <h3>
            @Model.Name
        </h3>
        <div class="overlay">
            <div>
                <a href="@Url.RouteUrl("Channel", new {tag = Model.Tag})"
                   class="bt bt-xs bt-light-blue">Watch</a>
            </div>
            <div>
                <a href="@Model.User.GetLink()" class="pull-left" style="margin-right: 10px">
                    <img class="img-circle user-avatar" src="@Model.User.Photo" alt="@Model.User.UserName" title="@Model.User.UserName"/>
                </a>
                <div>
                    <div>
                        <a href="@Model.User.GetLink()" class="user-name">
                            @Model.User.FullName
                        </a>
                    </div>
                    <div>
                        <a href="javascript: void(0)"
                           class="bt bt-xs bt-violet"
                           data-change-state="@Url.Action("Follow", "Home", new {followId = Model.User.Id})"
                           data-state="@(Model.User.IsCurrentUserFollow ? "1" : "0")"
                           data-alt-text="@StringHelper.Translate("Followed")"
                           data-alt-class="bt-inverse">
                            @StringHelper.Translate("Follow")
                        </a>
                        <span class="followers-text"><span>@Model.User.FollowersNumber</span> @StringHelper.Translate("followers")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

