﻿@using SayYeahTv.Dependencies.Services
@using SayYeahTV.Web.Helpers
@model IEnumerable<SayYeahTV.Web.Models.Dto.ChannelDto>

<ul class="carousel">
    @foreach (var channel in Model)
    {
        <li class="counted-item">
            @Html.Partial("_ChannelPreview", channel)
        </li>
    }
</ul>

@*
    <ul class="people row">
        @if (Model != null)
        {
            foreach (var channel in Model)
            {
                <li class="col-xs-2 counted-item">
                    <div class="video-preview text-center">
                        <a href="@Url.RouteUrl("Channel", new {tag = channel.Tag})" class="btn btn-main video-name">@channel.Name</a>
                        <img src="@channel.Logo"
                             data-default-src="@FileHelper.GetUploadedFileUrl(FileHelper.DefaultBroadcastLogo)"
                             alt="@channel.Name" title="@channel.Name" class="img-responsive" />
                    </div>
                    <div class="follow-wrap">
                        <a href="javascript: void(0)"
                           data-change-state="@Url.Action("Follow", "Channel", new { channelId = channel.ChannelId })"
                           data-state="@(channel.IsCurrentUserFollow ? "1" : "0")"
                           data-alt-text="@StringHelper.Translate("Unfollow")">
                            @StringHelper.Translate("Follow")
                        </a>
                    </div>
                </li>
            }
        }
    </ul>
*@