﻿<div class="text-center empty-content">
    <i class="sicon sicon-lighting-colorful"></i>
    <h6>Don't Be A #ForeverAlone</h6>
    <a class="bt bt-blue" href="@Url.RouteUrl("Category", new {tag = string.Empty})">EXPLORE</a>
</div>