﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.EventDto>

<ul class="carousel">
    @foreach (var ev in Model)
    {
        <li class="counted-item">
            @Html.Partial("_EventPreview", ev)
        </li>
    }
</ul>

