﻿@using System.Globalization
@using SayYeahTv.Dependencies.Services
@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.EventDto

<div class="video-preview text-center live-broadcast">
    <img src="@(Model.Logo ?? Model.Channel.Logo)"
         data-default-src="@FileHelper.GetUploadedFileUrl(FileHelper.DefaultBroadcastLogo)"
         alt="@Model.Title" title="@Model.Title" class="img-responsive" />

    <div class="channel-name">
        <h3>
            @Model.Channel.Name
        </h3>
        <h4>
            @Model.Title
        </h4>
        <div class="overlay">
            <div class="date-container">
                <a href="javascript: void(0)" class="bt bt-xs bt-light-blue"
                   data-change-state="@Url.Action("Notify", "Home", new {eventId = Model.EventId})"
                   data-state="@(Model.IsCurrentUserSubscribed ? "1" : "0")"
                   data-alt-text="Unnotify me">
                    Notify me
                </a>
                <span class="event-date">
                    <i class="sficon-calendar"></i>
                    <span data-timestamp="@Model.StartDate.ToString("O")" data-format="DD/MM/YYYY"></span>
                </span>
                <span class="event-date">
                    <i class="sficon-alarm-clock"></i>
                    <span data-timestamp="@Model.StartDate.ToString("O")" data-format="HH:mm"></span>
                </span>
            </div>
            <div>
                <a href="@Model.Channel.User.GetLink()" class="pull-left" style="margin-right: 10px">
                    <img class="img-circle user-avatar" src="@Model.Channel.User.Photo" alt="@Model.Channel.User.UserName" title="@Model.Channel.User.UserName" />
                </a>
                <div>
                    <div>
                        <a href="@Model.Channel.User.GetLink()" class="user-name">
                            @Model.Channel.User.FullName
                        </a>
                    </div>
                    <div>
                        <a href="javascript: void(0)"
                           class="bt bt-xs bt-violet"
                           data-change-state="@Url.Action("Follow", "Home", new {followId = Model.Channel.User.Id})"
                           data-state="@(Model.Channel.User.IsCurrentUserFollow ? "1" : "0")"
                           data-alt-text="@StringHelper.Translate("Followed")"
                           data-alt-class="bt-inverse">
                            @StringHelper.Translate("Follow")
                        </a>
                        <span class="followers-text"><span>@Model.Channel.User.FollowersNumber</span> @StringHelper.Translate("followers")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

