﻿@using SayYeahTV.Web.Helpers
@model IEnumerable<SayYeahTV.Web.Models.Dto.UserDto>
           
<div class="row">
    <div class="col-xs-12">
        <div class="other-users">
            <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
                <li role="presentation" class="active">
                    <a href="#following-members" role="tab" aria-controls="recent" data-toggle="tab" data-href="#" data-loaded="1">
                        @StringHelper.Translate("Members")                        
                    </a>
                </li>
                <li role="presentation">
                    <a href="#following-hosts" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetFollowedHostsTab", "Profile", new {id = ViewBag.UserId})">
                        @StringHelper.Translate("Streamers hosts")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#following-webshows" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetFollowedWebshowsTab", "Profile", new {id = ViewBag.UserId})">
                        @StringHelper.Translate("Broadcasts")
                    </a>
                </li>
            </ul>
            <div class="tab-content user-info-tabs">
                <div role="tabpanel" class="tab-pane active" id="following-members">
                    @Html.Partial("_MembersPartial", Model)
                </div>
                <div role="tabpanel" class="tab-pane" id="following-hosts"></div>
                <div role="tabpanel" class="tab-pane" id="following-webshows"></div>
            </div>
        </div>
    </div>
</div>