﻿@using SayYeahTV.Web.Helpers
@model IEnumerable<SayYeahTV.Web.Models.Dto.UserDto>

<div class="row">
    <div class="col-xs-12">
        <div class="other-users">
            <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
                <li role="presentation" class="active">
                    <a href="#followers-members" role="tab" aria-controls="recent" data-toggle="tab" data-href="#" data-loaded="1">
                        @StringHelper.Translate("Members")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#followers-hosts" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetFollowersHostsTab", "Profile", new {id = ViewBag.UserId})">
                        @StringHelper.Translate("Streamers hosts")
                    </a>
                </li>
            </ul>
            <div class="tab-content user-info-tabs">
                <div role="tabpanel" class="tab-pane active" id="followers-members">
                    @Html.Partial("_MembersPartial", Model)
                </div>
                <div role="tabpanel" class="tab-pane" id="followers-hosts"></div>
            </div>
        </div>
    </div>
</div>
