﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.ChannelDto

<div class="user-preview">
    <div class="user-rounded-wrap">
        <div class="user-rounded">
            <a href="@Model.User.GetLink()">
                <span class="bt bt-inverse bt-silver">Profile</span>
                <img src="@Model.User.Photo" alt="@Model.User.UserName" class="user-avatar img-circle"/>
            </a>
        </div>
    </div>
    <div class="text-center">
        <div class="text-overflow">
            <a class="user-name" href="@Model.User.GetLink()">@Model.User.FullName</a>
        </div>
        <div>
            <a class="bt bt-xs bt-violet" href="javascript: void(0)"
               data-change-state="@Url.Action("Follow", "Home", new {channelId = Model.User.Id})"
               data-state="@(Model.IsCurrentUserFollow ? "1" : "0")"
               data-alt-text="@StringHelper.Translate("Followed")"
               data-alt-class="bt-inverse">
                @StringHelper.Translate("Follow")
            </a>
            <div class="followers-text"><span>@Model.FollowersNumber</span> @StringHelper.Translate("followers")</div>
        </div>
    </div>
</div>