﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.ChannelDto

@{
    var user = Model.User;
}

<div class="user-block" style="background-image: url(@Model.Background)">
    @Html.Partial("_HostMemberPartial", Model)
    <h3>
        <a href="@Model.GetLink()">@Model.Name</a>
    </h3>
    <div class="tags">
        @if (Model.Categories != null)
        {
            foreach (var category in Model.Categories)
            {
                @Html.RouteLink("#" + category.Name, "Category", new { tag = category.Name }, new { @class = "bt bt-xs bt-inverse bt-silver" })
            }
        }
    </div>
</div>