﻿@using System.Configuration
@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using Newtonsoft.Json
@using SayYeahTV.DataAccess.Enums
@using SayYeahTV.DataAccess.Models
@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models.Dto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/Content/images-new/favicon.ico" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <link href=" //maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
     <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sitecss")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)

    <meta property="fb:app_id" content="@ConfigurationManager.AppSettings["FacebookAppId"]" />

    <script async type='text/javascript'>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function () {
            var gads = document.createElement('script');
            gads.async = true;
            gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') +
              '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>

    @{
        var sectionName = Request.Url.Segments.Length > 1 ? Request.Url.Segments[1].Replace("/", "") : "Homepage";
        var categoryAds = ViewBag.Categories as IEnumerable<CategoryDto>;
        string categoryString = "[]";
        if (categoryAds != null)
        {
            categoryString = JsonConvert.SerializeObject(categoryAds);
        }
        var searchTerm = Request.QueryString["term"] ?? "null";

        string gender = "null";
        string age = "15";
        
        string logged = "false";
        string userLevel = "normal";
        if (User.Identity.IsAuthenticated)
        {
            logged = "true";
            if (User.IsInRole(SayYeahTV.DataAccess.Enums.Roles.Admin.ToString()))
            {
                userLevel = "admin";
            }
            else if (User.IsInRole(SayYeahTV.DataAccess.Enums.Roles.Presenter.ToString()))
            {
                userLevel = "presenter";
            }

            var identity = (ClaimsIdentity)User.Identity;
            if (identity != null)
            {
                var genderClaim = identity.Claims.FirstOrDefault(c => c.Type == ClaimsNames.Gender);                
                if (genderClaim != null && genderClaim.Value != GenderType.SayGender.ToString())
                {
                    gender = genderClaim.Value.ToLower();
                }

                var ageClaim = identity.Claims.FirstOrDefault(c => c.Type == ClaimsNames.Age);
                if (ageClaim != null)
                {
                    age = ageClaim.Value;
                }
            }
        }
    }

    <script type='text/javascript'>
        googletag.cmd.push(function() {
            var mappingLeaderboard = googletag.sizeMapping().
                addSize([1400, 0], [[970, 250], [728, 90], [970, 90], [970, 66]]).
                addSize([1020, 0], [[728, 90], [970, 90], [970, 66]]).
                addSize([750, 0], [728, 90]).
                addSize([0, 0], [[300, 50], [320, 50]]).
                build();
            var mappingBox = googletag.sizeMapping().
                addSize([1020, 0], [[300, 250], [300, 600]]).
                addSize([750, 0], [[250, 250], [300, 250], [300, 600]]).
                addSize([0, 0], [300, 250]).
                build();
            googletag.cmd.push(function() {
                googletag.defineSlot('/89965927/SayYeah_@sectionName', [[970, 250], [970, 90], [970, 66], [728, 90], [300, 50], [320, 50]], 'Ad-1-Top').defineSizeMapping(mappingLeaderboard).addService(googletag.pubads());
                googletag.defineSlot('/89965927/SayYeah_@sectionName', [[300, 250], [300, 600], [250, 250]], 'Ad-2-Side').defineSizeMapping(mappingBox).addService(googletag.pubads());
                googletag.pubads().enableSingleRequest();
                googletag.pubads().setCentering(true);
                googletag.pubads().collapseEmptyDivs(true);
                googletag.pubads().setTargeting('presenter', ['@(ViewBag.Presenter ?? "null")']).setTargeting('searchterm', ['@searchTerm']).setTargeting('gender', ['@gender']).setTargeting('userlevel', ['@userLevel']).setTargeting('logged', ['@logged']).setTargeting('video', ['@(ViewBag.VideoState ?? "null")']).setTargeting('episode', ['@ViewBag.Episode']).setTargeting('category', @categoryString).setTargeting('age', ['@age']);
                googletag.enableServices();
            });
        });
    </script>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PKM679"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PKM679');</script>
    <!-- End Google Tag Manager -->

<div id="fb-root">
</div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '@ConfigurationManager.AppSettings["FacebookAppId"]',
            xfbml: false,
            status: true,
            version: 'v2.4'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<header class="navbar navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar-collapse collapse text-center">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <div class="dropdown dropdown-overlayed dropdown-overlayed-left">
                                <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="sficon-menu"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li>@Html.RouteLink(StringHelper.Translate("All broadcasts"), "WebShows", null, new { @class = "text-uppercase" })</li>
                                    <li>@Html.RouteLink(StringHelper.Translate("Live now"), "LiveNow", null, new { @class = "text-uppercase" })</li>
                                    <li><a class="text-uppercase" href="@Url.Action("Upcomings", "Home")">@StringHelper.Translate("Upcoming")</a></li>
                                    @*<li>
                                        @Html.ActionLink(StringHelper.Translate("FREE MOVIES FROM CRACKLE"), "Index", "Crackle")
                                    </li>*@
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown dropdown-overlayed dropdown-overlayed-left">
                                <a href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="sficon-search" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu search-menu" aria-labelledby="dLabel">
                                    <li class="text-center">
                                        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                                        {
                                            <input name="term" class="form-control" placeholder="@StringHelper.Translate("Broadcasts, streamers...")"/>
                                            <button type="submit" class="bt bt-black">Search</button>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a class="language-selector" href="javascript:void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    EN
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#" class="text-center text-uppercase">english</a></li>
                                    <li><a href="#" class="text-center text-uppercase">spanish</a></li>
                                    <li><a href="#" class="text-center text-uppercase">portuguese</a></li>
                                    <li><a href="#" class="text-center text-uppercase">polish</a></li>
                                    <li><a href="#" class="text-center text-uppercase">russian</a></li>
                                    <li><a href="#" class="text-center text-uppercase">french</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <div class="nav navbar-header">
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                            <div class="header-logo">
                                <img src="/Content/images-new/Indian_Railway_logo.svg" alt="Railway Live" />
                                <span class="sep"></span>
                                <div>Rail <span>Connect</span></div>
                            </div>                            
                        </a>
                    </div>
                    @Html.Partial("_AuthPartial")
                </nav>
            </div>            
        </div>
    </div>
    <div class="gradient-sprite gradient-background"></div>
</header>
<main class="background-holder">
    @RenderSection("preMain", required: false)
    <div class="container">
        @RenderBody()
    </div>
</main>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left copyrights">
                    © 2010-2016 Rail Connect S.A. de C.V. All Rights Reserved.
                </div>
                <div class="pull-right tos">
                    <a href="@Url.Action("Tos", "About")">Terms Of Use</a>
                    <a href="@Url.Action("PrivacyPolicy", "About")">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="modal-common" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/signalr")
<script src="/signalr/hubs" type="text/javascript"></script>
@Scripts.Render("~/bundles/common")

<script type="text/javascript">
    App.Settings = {
        //wowzaLbPatternUrl: 'AppSettings.WowzaViewerLbUrl',
        //staticContentBaseLink: 'AppSettings.GetStaticContentBaseLink("")',
        playerLogo: '/Content/images/sy_placeholder.png',
        mobeyeIco: '/Content/images/sy_ico.png',
        loginModalUrl: '@Url.Action("Login", "Account")'
    };

    App.isAuth = '@Request.IsAuthenticated' == 'True';

    jwplayer.key = "VV9Alx+BYZ27fpJL7xkZqaJvDhMU8kmjY1mZzA=="; // Premium

    if (App.isAuth) {
        //Notifications
        App.PushServer.onConnect(function(){
            this.send(PushServer.Commands.Init, '@User.Identity.GetUserId()', true);
        });

        App.PushServer.subscribe(PushServer.Commands.IncrementNotificationsCounter, function(){
            var notificationsContainer = $('.notifications-counter');
            notificationsContainer.removeClass('hide');
            
            var notificationsHolder = notificationsContainer.find('#notifications-counter-holder');
            var curentNotificationsNumber = +notificationsHolder.text();
            curentNotificationsNumber++;
            notificationsHolder.text(curentNotificationsNumber);

            notificationsContainer.closest('*[data-loaded]').attr('data-loaded', '0');
        });
    }
</script>

    @RenderSection("scripts", required: false)
</body>
</html>

