﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SayYeah</title>
    <link href="//fonts.googleapis.com/css?family=Lato:700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/images/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/mobilecss")
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PKM679"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', 'GTM-PKM679');
    </script>
    <!-- End Google Tag Manager -->
    <div class="container">
        <div class="container-inner">
            <img src="/Content/mobile/images/sy-logo.png" alt="Logo" class="logo">
            <h1>DOWNLOAD OUR APP</h1>
            <div class="mobile-buttons">
                <a href="http://bit.ly/1T4EWlT"><img src="/Content/mobile/images/android-button.png" alt="Android" class="android"></a>
                <a href="http://bit.ly/1NAmjm9"><img src="/Content/mobile/images/ios-button.png" alt="IOS" class="ios"></a>
            </div>
        </div>
    </div>
</body>
</html>
