﻿@using SayYeahTV.DataAccess.Enums
@using SayYeahTV.DataAccess.Models
@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models.Dto
@model SayYeahTV.Web.Models.NotificationsListViewModel

@helper GetNotificationHtml(NotificationDto notification, Func<dynamic, HelperResult> content)
{
    <img src="@notification.Image" class="img-circle pull-left" alt="User" />
    <div class="content pull-left">
        @if (notification.EventType == NotificationEventType.WebshowGoesLive)
        {
            <div><a class="bt bt-blue bt-xs" href="@notification.TargetLink">Watch now</a></div>
        }
        else if (notification.ProducerEntityType == EntityType.User)
        {
            <div>
                <a href="javascript: void(0)"
                   class="bt bt-xs bt-violet"
                   data-alt-class="bt-inverse"
                   data-change-state="@Url.Action("Follow", "Home", new {followId = notification.ProducerEntityId })"
                   data-state="@(notification.CanFollow ? "0" : "1")"
                   data-alt-text="@StringHelper.Translate("Followed")">
                    @StringHelper.Translate("Follow")
                </a>
            </div>
        }

        @content(null)
        <div class="timeago" title="@notification.DateTime.ToString("O")"></div>
    </div>
}

@foreach (var notification in Model.Notifications)
{
    <li>
        <div class="notification">
            @switch (notification.EventType)
            {
                case NotificationEventType.GotNewFollower:
                    if (notification.TargetEntityType == EntityType.User)
                    {
                        @GetNotificationHtml(notification,
                        @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> followed you.</div>)
                    }
                    else
                    {
                        @GetNotificationHtml(notification,
                            @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> followed your channel <a href="@notification.TargetLink">@notification.TargetName</a>.</div>)
                    }
                    break;
                case NotificationEventType.WebshowGoesLive:
                @GetNotificationHtml(notification,
                    @<div><a class="main-title" href="@notification.TargetLink">@notification.TargetName</a> is live.</div>)
                    break;
                case NotificationEventType.WebshowSchedulesNewStream:
                @GetNotificationHtml(notification,
                    @<div>Channel <a href="@notification.ProducerLink">@notification.ProducerName</a> scheduled stream</div>)
                    break;
                case NotificationEventType.PresenterSchedulesNewStream:
                @GetNotificationHtml(notification,
                    @<div>Presenter <a href="@notification.ProducerLink">@notification.ProducerName</a> scheduled stream</div>)
                    break;
                case NotificationEventType.PresenterCreatesNewWebshow:
                @GetNotificationHtml(notification,
                    @<div>Presenter <a href="@notification.ProducerLink">@notification.ProducerName</a> created new broadcast</div>)
                    break;
                case NotificationEventType.FriendInvitesToWebshow:
                    break;
                case NotificationEventType.FacebookFriendJoins:
                    break;
                case NotificationEventType.PresenterJoinsWebshowLong:
                @GetNotificationHtml(notification,
                    @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> is on @notification.TargetName webshow.</div>)
                    break;
                case NotificationEventType.PresenterFollowsWebshow:
                @GetNotificationHtml(notification,
                    @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> followed broadcast <a href="@notification.TargetLink">@notification.TargetName</a>.</div>)
                    break;
                case NotificationEventType.PresenterFollowsPresenter:
                    @GetNotificationHtml(notification,
                    @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> followed user <a href="@notification.TargetLink">@notification.TargetName</a>.</div>)
                    break;
                case NotificationEventType.PresenterSubscribesToEvent:
                @GetNotificationHtml(notification,
                    @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> subscribed to event @(notification.TargetName).</div>)
                    break;
                case NotificationEventType.Newsletters:
                    break;
                case NotificationEventType.AbuseReport:
                @GetNotificationHtml(notification,
                    @<div><a href="@notification.ProducerLink">@notification.ProducerName</a> sent an abuse report on @(notification.TargetName).</div>)
                    break;
                case NotificationEventType.UpcomingEvent:
                    @GetNotificationHtml(notification,
                    @<div><a class="main-title" href="@notification.ProducerLink"><i class="sficon-alarm-clock"></i> @notification.TargetName</a> is starting in 5 minutes.</div>)
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
}
            <div class="clearfix"></div>
        </div>
    </li>
}