﻿<li class="empty-notifications">
    <div class="text-center empty-content">
        <img src="/Content/images-new/indian_railway.svg" alt="flash" />
        <h6>Don't Be A #ForeverAlone</h6>
    </div>
</li>