﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.RecordingDto>

<div class="row">
    @if (Model.Any())
    {
        foreach (var recordingDto in Model)
        {
            <div class="col-xs-4">
                @Html.Partial("_VideoPreview", recordingDto)
            </div>
        }
    }
    else
    {
        @Html.Partial("_EmptyContentBlock")
    }
</div>