﻿
<div class="row">
    <div class="col-sm-12">
        <div class="summit text-center">
            <a href="http://www.wolvessummit.com" target="_blank"><img class="summit-logo" src="/Content/images/about/wolves-summit.png" alt="summit photo" /></a>
            <div class="summit-name">
                <div>
                    STARTUP COMPETITION WINNERS
                </div>
                <div>
                    APRIL 2015 <strong>POLAND</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="summit-photo" src="/Content/images/about/wolves-summit-1.png" alt="summit photo" />
                    <img class="summit-photo" src="/Content/images/about/wolves-summit-2.png" alt="summit photo" />
                    <img class="summit-photo" src="/Content/images/about/wolves-summit-3.png" alt="summit photo" />
                </div>
                <div class="col-sm-4">
                    <img src="/Content/images/about/wolves-summit-big.png" alt="summit photo" />
                </div>
                <div class="col-sm-4">
                    <img class="summit-photo" src="/Content/images/about/wolves-summit-4.png" alt="summit photo" />
                    <img class="summit-photo" src="/Content/images/about/wolves-summit-5.png" alt="summit photo" />
                    <img class="summit-photo" src="/Content/images/about/wolves-summit-6.png" alt="summit photo" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="summit text-center">
            <img class="summit-logo" src="/Content/images/about/logo-telefonica.png" alt="summit photo" />
            <img class="summit-logo" src="/Content/images/about/logo-wayra.png" alt="summit photo" />
            <div class="summit-name">
                <div>
                    SEMIFINALISTS GLOBAL INNOVATION AWARDS 2015
                </div>
                JUNE 2015 <strong>SPAIN</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <img src="/Content/images/about/welcome-gia.png" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="summit text-center">
            <a href="https://websummit.net" target="_blank"><img class="summit-logo" src="/Content/images/about/logo-web-summit.png" alt="summit photo" /></a>
            <div class="summit-name">
                <div>
                    NAMED "1 OF 8 AWESOME LATAM STARTUPS"
                </div>
                NOV 2014 <strong>IRELAND</strong>
            </div>
            <div class="summit-photo-row">
                <img src="/Content/images/about/web-summit-1.png" alt="summit photo" />
                <img src="/Content/images/about/web-summit-2.png" alt="summit photo" />
                <img src="/Content/images/about/web-summit-3.png" alt="summit photo" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="summit text-center">
            <a href="http://venturedayisrael.com" target="_blank"><img class="summit-logo" src="/Content/images/about/logo-microsoft-ventures.png" alt="summit photo" /></a>
            <div class="summit-name">
                <div>
                    1 OF 7 FINALISTS PITCHING TO INVESTORS
                </div>
                MAR 2015 <strong>ISRAEL</strong>
            </div>
            <div class="summit-photo-row">
                <img src="/Content/images/about/microsoft-summit-1.png" alt="summit photo" />
                <img src="/Content/images/about/microsoft-summit-2.png" alt="summit photo" />
                <img src="/Content/images/about/microsoft-summit-3.png" alt="summit photo" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="summit text-center">
            <a href="http://emergeamericas.org" target="_blank"><img class="summit-logo" src="/Content/images/about/logo-emerge.png" alt="summit photo" /></a>
            <div class="summit-name">
                <div>
                    SELECTED AS 1 OF 50 STARTUPS
                </div>
                MAY 2015 MIAMI, <strong>USA</strong>
            </div>
            <div class="summit-photo-row">
                <img src="/Content/images/about/emerge-summit-1.png" alt="summit photo" />
                <img src="/Content/images/about/emerge-summit-2.png" alt="summit photo" />
                <img src="/Content/images/about/emerge-summit-3.png" alt="summit photo" />
            </div>
        </div>
    </div>
</div>
