﻿@using Microsoft.AspNet.Identity
@using SayYeahTv.Dependencies.Services
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.Web.Helpers
@model IEnumerable<SayYeahTV.Web.Models.Dto.RecordingDto>

@{
    var isEditor = false;
    var userId = User.Identity.GetUserId();

    if(userId != null && User.IsInAnyRoles(SayYeahTV.DataAccess.Enums.Roles.Presenter, SayYeahTV.DataAccess.Enums.Roles.Admin))
    {
        isEditor = true;
    }
}


<ul class="carousel">
    @foreach (var recording in Model)
    {
        <li class="counted-item">
            @if (userId != null && userId == recording.UserId && isEditor)
            {
                <span class="dropdown settings">
                    <a data-target="#" href="javascript: void(0)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Settings">
                        <i class="glyphicon glyphicon-cog"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li>
                            <a href="javascript: void(0)" data-modal="@Url.Action("RenameRecording", "Channel", new {recordingId = recording.RecordingId})">Rename</a>
                        </li>
                        <li>
                            <a href="javascript: void(0)" data-modal="@Url.Action("RemoveRecording", "Channel", new {recordingId = recording.RecordingId})">Remove</a>
                        </li>
                    </ul>
                </span>
            }

            <div class="video-preview text-center live-broadcast">
                <img src="@recording.Snapshot"
                     data-default-src="@FileHelper.GetUploadedFileUrl(FileHelper.DefaultBroadcastLogo)"
                     alt="@recording.Name" title="@recording.Name" class="img-responsive" />

                <div class="channel-name">
                    <h3>
                        @recording.Name
                    </h3>
                    <div class="overlay">
                        <div>
                            <a href="@Url.RouteUrl("Channel", new {tag = recording.Channel.Tag})#recording=@recording.RecordingId"
                               class="bt bt-xs bt-light-blue">Watch now</a>
                        </div>
                        <div>
                            <a href="@recording.Channel.User.GetLink()" class="pull-left" style="margin-right: 10px">
                                <img class="img-circle user-avatar" src="@recording.Channel.User.Photo" alt="@recording.Channel.User.UserName" title="@recording.Channel.User.UserName" />
                            </a>
                            <div>
                                <div>
                                    <a href="@recording.Channel.User.GetLink()" class="user-name">
                                        @recording.Channel.User.FullName
                                    </a>
                                </div>
                                <div>
                                    <a href="javascript: void(0)"
                                       class="bt bt-xs bt-violet"
                                       data-change-state="@Url.Action("Follow", "Home", new {followId = recording.Channel.User.Id})"
                                       data-state="@(recording.Channel.User.IsCurrentUserFollow ? "1" : "0")"
                                       data-alt-text="@StringHelper.Translate("Followed")"
                                       data-alt-class="bt-inverse">
                                        @StringHelper.Translate("Follow")
                                    </a>
                                    <span class="followers-text"><span>@recording.Channel.User.FollowersNumber</span> @StringHelper.Translate("followers")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    }
</ul>
