﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.ChannelDto>

<ul class="carousel" data-carousel-margin="10" data-carousel-dots="false">
    @foreach (var show in Model)
    {
        <li class="counted-item">
            @Html.Partial("_HostPartial", show)
        </li>
    }
</ul>

