﻿<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="ads" id="Ad-1-Top">
            <script type='text/javascript'>
                 googletag.cmd.push(function() { googletag.display('Ad-1-Top'); });
            </script>
        </div>
    </div>
</div>