﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.UserDto

<div class="user-rounded">
    <a href="@Model.GetLink()">
        <img src="@Model.Photo" alt="@Model.UserName" class="user-avatar img-circle" />
        <div class="overlay">
            <div class="user-name">
                <div>Music</div>
                <div>@Model.UserName</div>
            </div>
            <div class="friends-counter">
                <i class="sicon sicon-friend"></i> <span>4k</span>
            </div>
        </div>
    </a>
</div>

<div class="follow-wrap">
    <a href="javascript: void(0)" class="sicon sicon-follow-pink"
       data-change-state="@Url.Action("Follow", "Home", new { followId = Model.Id })"
       data data-state="@(Model.IsCurrentUserFollow ? "1" : "0")"
       data-alt-class="sicon-unfollow-pink">
    </a>
</div>
