﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.UserInformationViewModel

<div class="user-background"></div>
<div class="row user-information">
    <div class="col-sm-12 text-center">
        <img src="@Model.User.Photo" alt="User avatar" class="img-circle avatar-bordered"/>
        <h2 class="user-name-info">
            @Model.User.UserName
        </h2>

        <div>
            <a href="javascript: void(0)"
               class="bt bt-sm bt-violet"
               data-alt-class="bt-inverse"
               data-alt-text="@StringHelper.Translate("Followed")"
               data-state="@(Model.User.IsCurrentUserFollow ? "1" : "0")"
               data-change-state="@Url.Action("Follow", "Home", new {followId = Model.User.Id})">
                @StringHelper.Translate("Follow")
            </a>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-left text-about-me">
                @Model.User.About
            </div>
        </div>

        <div class="counter-stats">
            <div class="pull-right">
                <div class="counter-name">Broadcasts</div>
                <div class="counter">@Model.WebshowsCount</div>
            </div>
            <div class="pull-right">
                <div class="counter-name">Following</div>
                <div class="counter">@Model.FollowingCount</div>
            </div>
            <div class="pull-right">
                <div class="counter-name">Followers</div>
                <div class="counter">@Model.FollowersCount</div>
            </div>
        </div>
    </div>
</div>