﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.UserDto>
           
<ul class="people row">
    @if (Model != null)
    {
        foreach (var user in Model)
        {
            <li class="col-xs-1 counted-item">
                @Html.Partial("_UserRounded", user)
            </li>
        }
    }
</ul>
