﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.UserDto>

<div class="row">
    <div class="col-xs-1"></div>
    @if (Model != null)
    {
        foreach (var user in Model)
        {
             <div class="col-xs-2 counted-item">
                 @Html.Partial("_UserRounded", user)
             </div>
        }
    }
</div>