﻿@using SayYeahTv.Dependencies.Services
@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.RecordingDto

<div class="video-preview text-center live-broadcast">
    <img src="@Model.Snapshot"
         data-default-src="@FileHelper.GetUploadedFileUrl(FileHelper.DefaultBroadcastLogo)"
         alt="@Model.Name" title="@Model.Name" class="img-responsive" />

    <div class="channel-name">
        @(Model.Channel.Name)
        <div class="overlay">
            <div>
                <a href="@Url.RouteUrl("Channel", new {tag = Model.Channel.Tag})#recording=@Model.RecordingId"
                   class="bt bt-xs bt-light-blue">Watch</a>
            </div>
            <div>
                <a href="javascript: void(0)"
                   class="bt bt-xs bt-violet"
                   data-change-state="@Url.Action("Follow", "Channel", new {channelId = Model.Channel.ChannelId})"
                   data-state="@(Model.Channel.IsCurrentUserFollow ? "1" : "0")"
                   data-alt-text="@StringHelper.Translate("Followed")"
                   data-alt-class="bt-inverse">
                    @StringHelper.Translate("Follow")
                </a>
            </div>
        </div>
    </div>
</div>
