﻿@using SayYeahTv.Dependencies.Services
@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.Dto.BroadcastDto

<div class="video-preview text-center live-broadcast">
    <!--
    <a href="@Url.RouteUrl("Channel", new {tag = Model.ChannelGroupId != null ? Model.ChannelGroup.Tag : Model.Channel.Tag})" class="btn btn-main video-name">@StringHelper.Translate("LIVE")</a>
    -->
    <img src="@Model.Snapshot"
         data-default-src="@FileHelper.GetUploadedFileUrl(FileHelper.DefaultBroadcastLogo)"
         alt="@Model.Name" title="@Model.Name" class="img-responsive"/>

    <div class="channel-name">
        <h3>
            @(Model.ChannelGroupId != null ? Model.ChannelGroup.Name : Model.Channel.Name)
        </h3>
        <h4>
            @Model.Name
        </h4 >
        <div class="overlay">
            <div>
                <a href="@Url.RouteUrl("Channel", new {tag = Model.ChannelGroupId != null ? Model.ChannelGroup.Tag : Model.Channel.Tag})#broadcast=@Model.BroadcastId"
                   class="bt bt-sm-font bt-light-blue">Watch now</a>
            </div>
            <div>
                <a href="@Model.User.GetLink()" class="pull-left" style="margin-right: 10px">
                    <img class="img-circle user-avatar" src="@Model.User.Photo" alt="@Model.User.UserName" title="@Model.User.UserName"/>
                </a>
                <div>
                    <div>
                        <a href="@Model.User.GetLink()" class="user-name">
                            @Model.User.FullName
                        </a>
                    </div>
                    <div>
                        <a href="javascript: void(0)"
                           class="bt bt-xs bt-violet"
                           data-change-state="@Url.Action("Follow", "Home", new {followId = Model.User.Id})"
                           data-state="@(Model.User.IsCurrentUserFollow ? "1" : "0")"
                           data-alt-text="@StringHelper.Translate("Followed")"
                           data-alt-class="bt-inverse">
                            @StringHelper.Translate("Follow")
                        </a>
                        <span class="followers-text"><span>@Model.User.FollowersNumber</span> @StringHelper.Translate("followers")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


