﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.WebshowsTabModel
           
<div class="row">
    <div class="col-xs-12">
        <div class="other-users">

            <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
                <li role="presentation">
                    <a href="#webshows-previous" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetRecordingsTab", "Profile", new {id = Model.User.Id})" >
                        @StringHelper.Translate("Previous")
                    </a>
                </li>
                <li role="presentation" class="active">
                    <a href="#webshows-live" role="tab" aria-controls="recent" data-toggle="tab" data-href="#" data-loaded="1">
                        @StringHelper.Translate("Broadcasts")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#webshows-upcoming" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetUpcomingsTab", "Profile", new {id = Model.User.Id})">
                        @StringHelper.Translate("Upcoming")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#webshows-top" role="tab" aria-controls="followers" data-toggle="tab" data-href="@Url.Action("GetTopWebshowsTab", "Profile", new {id = Model.User.Id})">
                        @StringHelper.Translate("Top")
                    </a>
                </li>
            </ul>
            <div class="tab-content user-info-tabs">
                <div role="tabpanel" class="tab-pane" id="webshows-previous"></div>
                <div role="tabpanel" class="tab-pane active" id="webshows-live">
                    @if (Model != null)
                    {
                        @Html.Partial("_ChannelsPartial", Model.Channels)
                    }
                    else
                    {
                        @Html.Partial("_EmptyContentBlock")
                    }
                </div>
                <div role="tabpanel" class="tab-pane" id="webshows-upcoming"></div>
                <div role="tabpanel" class="tab-pane" id="webshows-top"></div>
            </div>
        </div>
    </div>
</div>