﻿html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Lato;
}

.container {
    text-align: center;
    height: 100%;
}

.container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.container-inner {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-family: Lato;
    color:  #fffefe;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
}

.mobile-buttons a {
    display: block;    
}

.mobile-buttons a:first-child {
    margin-bottom: 15px;
}

.android {
    width: 146px;
}

.ios {
    width: 168px;
}

@media screen and (orientation: portrait) {
    html {
        background: url('/Content/mobile/images/bg-portrait.png') no-repeat center center fixed;
        background-size: cover;
    } 
}

@media screen and (orientation: landscape) {
    html {
        background: url('/Content/mobile/images/bg-landscape.png') no-repeat center center fixed;
        background-size: cover;
    }

    .mobile-buttons a {
        display: inline-block;        
    }

    .mobile-buttons a:first-child {
        margin-right: 15px;
    }
}

/*Tablet styles*/

@media screen and (min-width: 768px) {
    .logo {
        width: 200px;
    }

    .h1 {
        font-size: 28px;
    }

    .android {
        width: 174px;
    }

    .ios {
        width: 202px;
    }
}

@media screen and (orientation: portrait) and (min-width: 768px) {
    html {
        background: url('/Content/mobile/images/bg-tablet-portrait.png') no-repeat center center fixed;
        background-size: cover;
    } 
}

@media screen and (orientation: landscape) and (min-width: 768px) {
    html {
        background: url('/Content/mobile/images/bg-tablet-landscape.png') no-repeat center center fixed;
        background-size: cover;
    } 
}

/*End tablet styles*/