﻿@{
    ViewBag.Title = "Crackle";
}

<script src="//static-frontend1.kalixta.com/frontend/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="//static-frontend2.kalixta.com/frontend/js/jquery.ba-postmessage.js" type="text/javascript"></script>
<script src="//static-frontend3.kalixta.com/frontend/js/iframeResizer.min.js" type="text/javascript"></script>
<iframe src="//api.kalixta.com/webapp/v1/sponsorships/40_principales" width="100%" frameborder="0" scrolling="no" id="sponsorship" style="margin-top:10px; position: relative!important;"></iframe>
<script type="text/javascript" src="//api.kalixta.com/frontend/js/sponsorships.js"></script>