﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.ForgotPasswordViewModel


@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnForgotPasswordSuccess"
}, new { @class = "modal-content form", role = "form"}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Forgot password</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
        <div class="form-group">
            <input type="submit" class="bt bt-purple" value="@StringHelper.Translate("Help me remember")" />
        </div>
        <div class="form-group">
            <div class="form-errors"></div>
        </div>
        <div class="text text-success form-success hidden">
            @StringHelper.Translate("Please check your email to reset your password")
        </div>
    </div>
}

<script>
    function OnForgotPasswordSuccess(data, $modal) {
        $modal.find('.form-success').removeClass('hidden');
    }
</script>
