﻿@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models
@model LoginViewModel

<div class="modal-content">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title">@StringHelper.Translate("Log in")</h4>
    </div>
    <div class="modal-body">
        <div>
            @Html.Partial("_SnLoginPartial", "Account")
        </div>
        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions
        {
            HttpMethod = FormMethod.Post.ToString(),
            OnSuccess = "OnLoginSuccess"
        }, new {@class = "form", role = "form"}))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.TextBoxFor(m => m.EmailOrUsername, new {@class = "form-control", placeholder = StringHelper.Translate("Username or Email")})
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = StringHelper.Translate("Password")})
            </div>
            <div class="form-group text-left">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div class="form-group">
                <input type="submit" class="bt bt-violet" value="@StringHelper.Translate("Log in")"/>
            </div>
            <div class="form-group">
                <div class="form-errors"></div>
            </div>
        }
        <div>
            <a href="javascript: void(0)" data-modal="@Url.Action("ForgotPassword", "Account")" class="basic">@StringHelper.Translate("Forgot your password?")</a>
        </div>
    </div>
    <div class="modal-footer">
        <span>@StringHelper.Translate("Don’t have a Rail Connect account")?</span>
        <a href="javascript: void(0)" data-modal="@Url.Action("Register", "Account")">@StringHelper.Translate("Sign Up")</a>
    </div>
</div>

<script>
    function OnLoginSuccess(data) {
        location.reload();
    }
</script>
