﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.RemoveEventViewModel

<div class="modal-content ">
    <div class="modal-body">
        <h5 style="margin-top: 20px;">
            AN EMAIL HAS BEEN SENT TO YOU, PLEASE CONFIRM
        </h5>
        <div class="form-errors"></div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="button" data-dismiss="modal" class="btn btn-block" value="@StringHelper.Translate("Close")" />
        </div>
    </div>
</div>


