﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.RegisterViewModel

<div class="modal-content ">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title">@StringHelper.Translate("Sign up")</h4>
    </div>
    <div class="modal-body">
        <div>
            @Html.Partial("_SnLoginPartial", "Account")
        </div>

        @using (Ajax.BeginForm("Register", "Account", new AjaxOptions
        {
            HttpMethod = FormMethod.Post.ToString(),
            OnSuccess = "OnRegisterSuccess"

        }, new {@class = "form", role = "form", id = "register-form"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control", placeholder = StringHelper.Translate("First Name")})
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.LastName, new {@class = "form-control", placeholder = StringHelper.Translate("Last Name")})
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = StringHelper.Translate("User Name")})
                @Html.ValidationMessageFor(x => x.UserName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = StringHelper.Translate("Email")})
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = StringHelper.Translate("Password")})
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = StringHelper.Translate("Confirm password")})
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div class="form-group">
                Signing Up you agree to our
                <a href="/About/Tos" target="_blank" class="basic purple">terms</a>
                and
                <a href="/About/PrivacyPolicy" target="_blank" class="basic purple">conditions</a>.
            </div>
            <div class="form-group">
                <input type="submit" class="bt bt-violet" value="@StringHelper.Translate("Sign up")"/>
            </div>
            <div class="form-group">
                <div class="form-errors"></div>
            </div>
        }
    </div>
    <div class="modal-footer">
        <span>Already got a Rail Connect account?</span>
        <a href="javascript: void(0)" data-modal="@Url.Action("Login", "Account")">@StringHelper.Translate("Log in")</a>
    </div>
</div>
<script>
    var $registerForm = $('#register-form');
    $registerForm.find('[name="FirstName"], [name="LastName"]').keyup(function () {
        var val = $registerForm.find('[name="FirstName"]').val() + $registerForm.find('[name="LastName"]').val();
        val = val.trim().replace(/\s/gi, '_').replace(/[\W]/gi, '');
        $registerForm.find('[name="UserName"]').val(val);
    });

    function OnRegisterSuccess(data, $modal) {
        $modal.on('hidden.bs.modal', function (e) {
            $modal.off('hidden.bs.modal');
            loadModal('@Url.Action("RegisterEmailCinfirmation", "Account")');
        }).modal('hide');
    }
</script>