﻿<div class="external-login">


    @using (Html.BeginForm("ExternalLogin", "Account"))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="">

        <button name="provider" value="Facebook" class="bt bt-dark-blue">Facebook</button>

        <button name="provider" value="Google" class="bt bt-red">Google+</button>

    }
    <h6>
        or
    </h6>
    <script>
        $('[name="returnUrl"]').val(location.pathname);
    </script>

</div>

