﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. 
        <button class="btn btn-main" data-modal="@Url.Action("Login", "Account")">Log In</button>
    </p>
</div>
