﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, 
    new { @class = "form", role = "form", id = "form-reset-password" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group col-xs-offset-4 col-xs-4 text-center">
        <h4>Reset your password.</h4>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="form-group col-xs-offset-4 col-xs-4">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = StringHelper.Translate("Email") })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group col-xs-offset-4 col-xs-4">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = StringHelper.Translate("Password") })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <div class="form-group col-xs-offset-4 col-xs-4">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = StringHelper.Translate("Confirm password") })
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </div>
    <div class="form-group col-xs-offset-4 col-xs-4 text-center">
        <input type="submit" class="btn btn-main btn-lg" value="Reset" />
    </div>
}

@section Scripts {
    <script>
        $.validator.unobtrusive.parse($('#form-reset-password'));
    </script>
}
