﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.AbuseReportViewModel

@using (Ajax.BeginForm("AbuseReport", "Profile", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnAbuseReportSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Report Abuse")</h4>
    </div>
    <div class="modal-body">
        
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.PresenterId)

        <div class="form-group">
            @Html.DropDownListFor(m => m.Type,
                selectList: Model.Types,
                optionLabel: StringHelper.Translate("Select abuse type"),
                htmlAttributes: new { @class = "form-control", id = "abuse-report-type" }
            )
        </div>
        <div class="form-group hidden" id="abuse-report-description">
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Description") }})
        </div>
        
        <div class="form-errors"></div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="@StringHelper.Translate("Yeah! Let`s report it")" />
        </div>
    </div>
}

<script>
    var $abuseDescription = $('#abuse-report-description');
    var $abuseType = $('#abuse-report-type');

    function changeDescrState() {
        if ($abuseType.val() === '0')
            $abuseDescription.removeClass('hidden');
        else
            $abuseDescription.addClass('hidden');
    }

    $abuseType.change(function() {
        changeDescrState();
    });

    changeDescrState();

    function OnAbuseReportSuccess(data, $modal) {
        $modal.modal('hide');
    }
</script>


