﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.ChannelDto>

@if (Model.Any())
{
    @Html.Partial("_ChannelsPartial", Model)
}
else
{
    <div class="row">

        @Html.Partial("_EmptyContentBlock")
    </div>
}