﻿@model List<SayYeahTV.Web.Models.Dto.UserDto>

@{
    ViewBag.Title = "Profile view";
}

<div class="row">
    <div class="col-xs-12">
        @Html.Partial("_UsersPartial", Model)
    </div>
</div>

