﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

@Html.Action("UserInformation", "Profile", new {userid = Model.User.Id})

<div class="profile-view">
    <div class="row">
        <div class="col-xs-12">
            <div class="other-users">
                
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    @if (Model.IsPresenter)
                    {
                        <li role="presentation" class="active">
                            <a href="#webshows" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetWebShows", "Profile", new {id = Model.User.Id})" data-loaded="1">
                                @StringHelper.Translate("Broadcasts")
                            </a>
                        </li>
                    }
                    <li role="presentation" @if (!Model.IsPresenter)
                                            {<text>class="active"</text>
                                            }>
                        <a href="#following" role="tab" aria-controls="recent" data-toggle="tab" data-limit="@ViewBag.FollowingsLimit" data-href="@Url.Action("GetFollowingTab", "Profile", new {id = Model.User.Id})"                         @if (!Model.IsPresenter)
                        {<text>data-loaded="1"</text>
                        }>
                            @StringHelper.Translate("Following")
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#followers" role="tab" aria-controls="followers" data-toggle="tab" data-limit="@ViewBag.FollowersLimit" data-href="@Url.Action("GetFollowersTab", "Profile", new {id = Model.User.Id})">
                            @StringHelper.Translate("Followers")
                        </a>
                    </li>               
                </ul>
                <div class="tab-content user-info-tabs">
                    @if (Model.IsPresenter)
                    {
                        <div role="tabpanel" class="tab-pane active" id="webshows">
                            @Html.Action("GetWebshowsTab", "Profile", new {id = Model.User.Id})
                        </div>
                    }
                    <div role="tabpanel" class="tab-pane @if (!Model.IsPresenter)
                                                          {<text> active </text>}"  id="following">
                        @if (!Model.IsPresenter)
                        {
                            @Html.Action("GetFollowingTab", "Profile", new { id = Model.User.Id })
                        }
                    </div>
                    <div role="tabpanel" class="tab-pane" id="followers"></div>
                    <div role="tabpanel" class="tab-pane" id="upcoming"></div>
                </div>
            </div>
        </div>
    </div>
</div>
