﻿@model Dictionary<SayYeahTV.Web.Models.Dto.CategoryDto, IEnumerable<SayYeahTV.Web.Models.Dto.BroadcastDto>>

@{
    ViewBag.Title = "Categories";
}

<section id="categories" class="live-now">
@Html.Partial("_TopHorizontalAds")

@Html.Partial("_Categoriespartial", Model)
</section>