﻿@using SayYeahTV.Web.Helpers
@model IEnumerable<SayYeahTV.Web.Models.Dto.BroadcastDto>

@{
    ViewBag.Title = StringHelper.Translate("Live Now");
}

<section id="categories" class="upcomings">
    @Html.Partial("_TopHorizontalAds")
    
    <div class="categories">

        <div class="row">
            <div class="col-xs-12">
                <h1 class="category-title text-center">@ViewBag.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.Partial("_BroadcastsPartial", Model)
            </div>
        </div>
    </div>
</section>