﻿@model dynamic

@{
    ViewBag.Title = "Near You";
}

<section id="map">
    <select id="radius" class="hidden">
        <option value="1">1 km</option>
        <option value="5">5 km</option>
        <option value="10">10 km</option>
        <option value="50">50 km</option>
        <option value="100">100 km</option>
        <option value="500" selected="selected">500 km</option>
        <option value="1000">1000 km</option>
        <option value="5000">5000 km</option>
        <option value="10000">10000 km</option>
    </select>
    <!--<p><span id="status"></span></p>-->
</section>

@section scripts {

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=<%= CultureInfo.CurrentCulture.ToString().Substring(0, 2) %>"> </script>
    @Scripts.Render("~/bundles/geoposition")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#radius').change(function() {
                positions();
            });

            var map;
            var oms;

            var latitude;
            var longitude;
            var circle;
            var markerCluster;

            function initialize() {
                var mapcanvas = document.createElement('div');
                mapcanvas.id = 'mapcanvas';
                mapcanvas.style.height = '500px';
                mapcanvas.style.width = '970px';
                $('#map').append(mapcanvas);

                var mapOptions = {
                    zoom: 4,
                    mapTypeControl: false,
                    navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("mapcanvas"), mapOptions);

                //Icon
                var icn = new google.maps.MarkerImage(
                    '/Content/images/place-user.png',
                    new google.maps.Size(32, 43),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(8, 24)
                );

                // Try HTML5 geolocation
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;

                        var pos = new google.maps.LatLng(latitude, longitude);
                        map.setCenter(pos);

                        var marker = new google.maps.Marker({
                            position: pos,
                            map: map,
                            icon: icn,
                            title: "You are here!"
                        });
                        marker.desc = '@User.Identity.IsAuthenticated' === 'True' ? '@Url.Action("Index", "Profile", new { name = User.Identity.Name })' : '/';
                        oms.addMarker(marker);
                        $('#radius').removeClass('hidden');
                        positions();

                    }, function () {
                        handleNoGeolocation();
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleNoGeolocation();
                }

                oms = new OverlappingMarkerSpiderfier(map);
            }


            function handleNoGeolocation() {
                var options = {
                    map: map,
                    position: new google.maps.LatLng(60, 105)
                };
                map.setCenter(options.position);

                positions();
            }


            google.maps.event.addDomListener(window, 'load', initialize);

            function positions() {
                var params = {};

                if (latitude && longitude) {

                    var radius = parseInt($('#radius').val());

                    if (markerCluster)
                        markerCluster.clearMarkers();

                    if (circle)
                        circle.setMap(null);

                    var circleOptions = {
                        strokeColor: '#ffc268',
                        strokeOpacity: 0.7,
                        strokeWeight: 1,
                        //fillColor: '#FF0000',
                        fillOpacity: 0.1,
                        map: map,
                        center: new google.maps.LatLng(latitude, longitude),
                        radius: radius * 1000
                    };

                    circle = new google.maps.Circle(circleOptions);
                    params['geolocation'] = longitude + ' ' + latitude;
                    params['radius'] = radius;
                }

                $.post('@Url.Action("GetBroadcasts", "NearYou")', params, function (data) {
                    console.log(data);

                    var markers = [];

                    for (var i in data) {
                        var item = data[i];

                        var icn = new google.maps.MarkerImage(
                            '/Content/images/place-show.png',
                            new google.maps.Size(32, 43),
                            new google.maps.Point(0, 0),
                            new google.maps.Point(8, 24)
                        );

                        var marker = new google.maps.Marker({
                            position: new google.maps.LatLng(item.Latitude, item.Longitude),
                            map: map,
                            title: item.Name,
                            icon: icn,
                        });

                        marker.desc = item.Url;
                        oms.addMarker(marker);
                        markers.push(marker);
                    }

                    oms.addListener('click', function (mark) {
                        window.location.replace(mark.desc);
                    });

                    markerCluster = new MarkerClusterer(map, markers, { maxZoom: 10 });
                });
            }

        });
    </script>
}