@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?e5jw4w');
	src:url('fonts/icomoon.eot?e5jw4w#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?e5jw4w') format('truetype'),
		url('fonts/icomoon.woff?e5jw4w') format('woff'),
		url('fonts/icomoon.svg?e5jw4w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sficon-menu:before {
	content: "\e907";
}
.sficon-camera-striked:before {
	content: "\e90f";
}
.sficon-flag:before {
	content: "\e910";
}
.sficon-flag-striked:before {
	content: "\e911";
}
.sficon-mic:before {
	content: "\e912";
}
.sficon-mic-striked:before {
	content: "\e913";
}
.sficon-tunderr .path1:before {
	content: "\e90a";
	color: rgb(0, 0, 0);
}
.sficon-tunderr .path2:before {
	content: "\e90c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.sficon-sms .path1:before {
	content: "\e90d";
	color: rgb(0, 0, 0);
}
.sficon-sms .path2:before {
	content: "\e90e";
	margin-left: -1.357421875em;
	color: rgb(255, 255, 255);
}
.sficon-calendar:before {
	content: "\e90b";
}
.sficon-phone:before {
	content: "\e909";
}
.sficon-alarm-clock:before {
	content: "\e908";
}
.sficon-bell:before {
	content: "\e906";
}
.sficon-arrow-left:before {
	content: "\e904";
}
.sficon-arrow-right:before {
	content: "\e905";
}
.sficon-camera:before {
	content: "\e901";
}
.sficon-guests:before {
	content: "\e902";
}
.sficon-messages:before {
	content: "\e903";
}
.sficon-search:before {
	content: "\e900";
}

