﻿@font-color-base: white;
@font-color-inverse: rgb(187,12,145);
@font-color-add: black;
@font-color-regular: rgb(149, 149, 149);
@background-color-inverse: rgb(104,37,134);
@background-color-base: rgb(229, 229, 229);
@base-font-family: Lato, sans-serif;
@strength-font-family: 'Lato Black', sans-serif;
@thick-font-family: Lato-Light, sans-serif;
@facebook-color: #3a5795;
@twitter-color: #54a9eb;
@light-blue: #5ac9f8;
@google-plus-color: #d73d32;

/*NEW COLORS*/
@violet: #007ed4;
@violet-dark: #007ed4;
@puple: #007ed4;
@dark-gray: #4a4a4a;
@light-gray: #9b9b9b;
@super-light-gray: #d9d9d9;
@black: black;
/*END NEW COLORS*/

@main-logo-color: black;
@main-logo-size: 45px;
@main-logo-font-size: 3rem;
/* New styles */

.header-logo{
    display: block;
    position: relative;
    font-size: @main-logo-font-size;
    height: 50px;
    width: 250px;
}

.header-logo img{
    position: absolute;
    left: 0;
    top: 0;
    height: 2.5em;
}

.header-logo .sep{
    position: absolute;
    border: 1px solid rgba(0,0,0,0.8);
    height: @main-logo-size;
    width: 1px;
    left:50px;
}

.header-logo div{
    position: absolute;
    color: @main-logo-color;
    font-size: 0.8em;
    left: 62px;
    top: 25%;
    color: @violet;
    font-weight: bold;
    text-transform: uppercase;
}

.header-logo div span{
    color: black;
    font-weight: normal;
}


.logo-center{
    height:150px;
}

/* End of new styles */

@font-face
{
    font-family: 'Lato Black';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/Lato-Black.eot?') format('eot'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg#Lato-Black') format('svg');
}

/*END NEW FONT*/

.purple {
    color: purple !important;
}

.uppercase {
    text-transform: uppercase;
}

.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vertical_aligned_row(@height) {
    height: @height;
    line-height: @height;
}

.border-radius(@radius: 0px) {
    -webkit-border-radius: @radius;
    -ms-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}


.sficon-tunderr.inverse {
    .path1:before {
        color: white;
    }

    .path2:before {
        color: black;
    }
}

/* OVERRIDES */

.jw-tab-focus:focus {
    outline: 0 !important;
}

a, a:visited, a:hover, a:active {
    color: @font-color-base;
    text-decoration: none !important;

    &.colored {
        font-weight: 700;
        font-size: 16px;

        &:hover {
            color: @font-color-inverse;
        }
    }    
}

.notification a{
    color:rgba(57, 30, 113, 1);
}

hr {
    border-top: 2px solid @background-color-base;
}

.dl-horizontal dt {
    white-space: normal;
}

#myFlashContent {
    visibility: visible !important;
}

.input-validation-error {
    outline: 1px solid red !important;
}

.form-errors {
    color: red;
    font-size: 11px;
}

.modal {
    .modal-dialog {
        width: 400px;

        .modal-content {
            border-radius: 10px;
            overflow: hidden;
            text-align: center;

            .form-group {
                margin-bottom: 10px;
            }

            label {
                color: black;
            }

            h4 {
                .uppercase;
                text-align: center;
                font-weight: bold !important;
                font-family: @strength-font-family;
            }

            h5 {
                color: black;
                font-size: 1.1em;
                text-align: center;
                font-weight: bold;
                margin-top: 0;
            }

            h6 {
                color: black;
                font-size: 12px;
                font-family: @strength-font-family;
                text-align: center;
                font-weight: bold;
            }

            p {
                font-size: 1em;
                text-align: center;
                margin-bottom:0;
            }

            a.basic {
                color: black;
            }

            a:not(.basic) {
                .uppercase;
                color: @puple;
                font-weight: bold;
            }

            .external-login {
                margin-top: 10px;
                margin-bottom: 30px;

                button {
                    margin: 3px;
                    text-transform: none;
                }

                h6 {
                    margin-top: 20px;
                }
            }

            .modal-header {
                padding: 90px 40px 13px;
                border-bottom: none;
                color: @violet;
                background-image: url(images-new/indian_railway.svg);
                background-position: center 20px;
                background-repeat: no-repeat;
                background-size: 70px;
                position: relative;

                h4 {
                    .uppercase;
                    text-align: center;
                    font-size: 26px;
                    font-weight: bold !important;
                    color: black;
                }

                button {
                    position: absolute;
                    font-size: 48px;
                    font-weight: 100;
                    top: 3px;
                    right: 13px;
                    color: black;

                    &:hover {
                        color: @puple;
                    }
                }
            }

            .modal-body {
                padding: 0 80px 15px;
            }

            .modal-footer {
                padding: 15px 30px;
                border-top: none;
                background-color: #e8e8e8;
                font-weight: bold;
                text-align: center;
            }

            .bt[type="submit"] {
                padding-left: 30px;
                padding-right: 30px;
            }

            //button, input[type="button"], input[type="submit"]
            .btn.btn-block {
                .uppercase;
                display: block;
                background-color: @background-color-inverse;
                font-size: 1.2em;
                font-weight: bold !important;
                border: none;
                padding: 10px;
                width: 100%;
                color: white;

                & > :hover {
                    text-decoration: none;
                    color: white;
                }
            }

            input[type="file"] {
                color: black;
            }
        }
    }
}

[data-helper] {
    font-size: 17px;
    color: @background-color-inverse;
}

.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    /*
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    */
}

.modal.in .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.nav-tabs-custom {
    text-align: center;
    border-bottom: none;
    margin: 30px auto 0;

    li {
        float: none;
        display: inline-block;
        margin: 0 10px;

        a {
            .uppercase;            
            color: @light-gray;
            background: none !important;
            border: none !important;
            font-family: @strength-font-family;
            font-size: 16px;
            padding: 2px 10px;
        }

        &.active a {
            color: @light-blue !important;
            border-bottom: 3px solid @light-blue !important;    
        }
    }
}


.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

.dropdown-menu {
    .title {
        &, a {
            margin-top: 10px;
            display: block;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .bt {
        width: ~"calc(100% - 40px)";
        margin-bottom: 10px;
    }

    padding: 10px 0;

    .divider {
        margin: 9px 20px;
        background-color: @font-color-regular;

        &.colored {
            background-color: @background-color-inverse;
        }
    }

    li {
        a {
            &.pale {
                color: @font-color-regular;
            }
        }
    }    
}

/* COMMON */

.validation-summary-errors > ul {
    list-style: none;
}

.field-validation-error  {
    color: red;
}

.loader {
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('images/loaders/ajax-loader.gif');
}

.avatar-rounded
{
    border-radius: 50%;
}

/*
.people
{
    list-style: none;
    margin: 0;
    padding: 0;

    & > *
    {
        margin: 10px;
        padding: 0;
        display: inline-block;
    }



    .col-xs-2
    {
        .hidden
        {
            display: block !important;
        }
    }
}*/

.tab-content-custom {

    margin: 10px auto 0 auto;

    & > * {
        min-height: 100px;
        padding: 10px 0;
        text-align: left;

        ul {
            list-style: none;
            padding: 0;

            a {
                //color: rgb(187,12,145);
            }
        }
    }
}

header .dropdown.open a.btn-main {
    background-color:  @font-color-inverse !important;
}

header {
    .signup-container {
        li{
            a {
                text-transform: uppercase;
                line-height: 30px;            
            }
            &:first-child{
                a{
                    //border: 1px solid rgb(77, 32, 94);
                }
            }
        }


    }

    .signup-container-mod {
       
            text-transform: uppercase;
            line-height: 30px;
            //border: 1px solid red;
            
        
    }
    .user-avatar {
        height: 60px;

        img {
            height: 100%;
        }
    }

    .invite-block {
        span {
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            margin-top: -8px;
        }
    }

    .invite-dropdown {
        color: @font-color-add;
        padding: 30px;
        width: 210px;
        text-align: center;

        div {
            font-size: 16px;
        }

        h2 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
        }
    }

    .notifications-counter {
        position: absolute;
        right: 37%;
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        color: @font-color-base;
        background-color: @violet;
        text-align: center;
        line-height: 8px;

        span {
            font-size: 10px;
            line-height: 20px;
            vertical-align: top;
            font-style:normal;
        }
    }
}

 .btn-main{
    font-weight: bold;
    font-size: 14px;
    background-color: @font-color-inverse;
    padding: 3.5px 5px;
    color: @font-color-base !important;
    border: none;

    &:hover {
        color: @font-color-base;
        text-decoration: none;
    }

    & > * {
        vertical-align: middle;

        &.sicon {
            margin: -2px 2px 0 2px;
        }
    }

    &.btn-lg {
        padding: 10px 32px;
        text-transform: uppercase;
    }
}

.btn-main-inverse {
    background-color: white;
    border: 1px solid @font-color-inverse;
    color: @font-color-inverse;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-main-greyed {
    background-color: #e5e5e5;
    color: @font-color-inverse;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.btn-main-greyed:hover {
    border: 1px solid @font-color-inverse;
}

input[type=checkbox] {
    &.css-checkbox {
        position: absolute;
        z-index: -1000;
        left: -1000px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    &.css-checkbox + label.css-label {
        padding-left: 30px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 20px;
        vertical-align: middle;
        cursor: pointer;
    }

    &.css-checkbox:checked + label.css-label {
        background-position: 0 -20px;
    }
}

label {
    &.css-label {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAMAAADJ7yrpAAAAaVBMVEW7DJG7DpK7D5K8EJO8FJS9GJa+Gpe+Hpi/I5rAKJzBKZzBLZ7DNKDLXbDMZrTNabXObrfOcLjQebvSgr/Sg7/UjMLVlMbXnsnZpczartDbtNLdu9XewNffxtngzNvh0d3k4OPl5OXl5eXK3MLGAAAAVElEQVQoz2NQwgIYRgVHBbELyvMIYwjKcjHwIgQVwKQ0O4OAIlyQn1sOSEqyMoggmcnHwCGjJM7MJIZikRADmyAjiwSa7aKMDGxSGE4S55QZLKEEAL0zZva8B1dHAAAAAElFTkSuQmCC') /*/Content/images/custom-checkboxes.png*/;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

#search-form {
    display: none;
    position: relative;
    left: 30px;
    top: 15px;
    width: 290px;

    input {
        height: 30px;
    }
}

.counted-item {
    margin-top: 10px;
    position: relative;
}

[data-nocarousel] {
    .carousel {
        
        margin: 0;

        .counted-item {
            width: 33%;
            margin-top: 20px;
            display: inline-block;
        }
    }
    
}

.follow-wrap {
    text-align: center;
    margin-top: 5px;

    & > * {
        display: inline-block;
        padding: 0 5px;
        font-size: 12px;

        &:not(.sicon){
            color: white !important;
            background-color: @font-color-inverse;
        }

    }


}

/* LAYOUT */

body {
    padding-top: 68px;
    padding-bottom: 20px;
    font-size: 14px;
    background-color: @background-color-base;
    font-family: @base-font-family;
}

.gradient-background {
    background-color: @violet;
}

header {
    background-color: @font-color-base;
    color: @font-color-base;
    height: 60px;

    .gradient-sprite {
        height: 8px;
    }

    .sficon-bell-alt {
        font-size: 24px;
    }

    .dropdown {
        height: 60px;
        margin: 0 20px;

        a {
            display: inline-block;
            &:hover {
                background-color: @font-color-add !important;
            }
        }        
    }

    .search-menu {
        width: 300px;
        padding: 30px 30px 0 30px;

        button {
            margin: 10px;
        }
    }

    .sficon-search {
        font-weight: bold;
    }

    .sficon-menu, .sficon-search {
        line-height: 60px;
        font-size: 40px;
        color: @font-color-add;
    }

    a {
        i {            
            font-size: 27px;
            color: @font-color-add;            
        }

        &:hover i {
                color: @font-color-base;
            }
    }

    .navbar-brand {
        img {
            height: 48px;
            line-height: 60px;
        }
    }

    .signup-container {
        a {
            font-weight: bold;
            color: @font-color-add;
            font-size: 16px;
        }
    }

    .language-selector {
        line-height: 30px;
        margin-top: 15px;
        display: inline-block;
        font-family: @base-font-family;
        font-weight: bold;
        color: @font-color-add;
        font-size: 14px;
    }

    .dropdown {
        &.open {
            .sicon, a {
                text-decoration: none !important;
            }
        }
    }

    .nav {
        li {
            a {
                &:hover {
                    color: @font-color-base;
                    background-color: @font-color-add;
                }
            }
        }
    }

    .navbar-header {
        position: absolute;
        left: 0;
        right: 0;
        width: 250px;
        margin: -9px auto 0 auto; 
    }

    .navbar-right {
        margin-right: 0;
    }

    /*Notifications*/
    .empty-notifications {
        padding: 30px;
    }

    .notifications-list {

        .empty-notifications {
            width: 140px;
            padding: 0;

            img {
                width: 32px;
            }

            h6 {
                font-family: @strength-font-family;
                font-size: 14px;                
                margin: 20px;
            }
        }

        .main-title {
            color: black;

            &:hover {
                background: none !important;
                color: black !important;
            }
        }

        padding: 15px 0;
        max-width: 310px;

        &.not-empty-notifications {
            padding: 15px 10px;
            width: 310px;
        }

        .notification {
            padding: 5px 0;

           .bt {
               width: auto;
           }

            .img-circle {
                width: 50px;
                height: 50px;
                margin-top: 6px;
            }

            .content {
                margin-left: 8px;
                width: 210px;
                color: @font-color-add;

                a {
                    font-weight: bold;
                }

                .timeago {
                    font-size: 12px;
                    color: @font-color-regular;
                }
            }
        }
    }
}

.background-holder {
    background-repeat: no-repeat;
    background-position: top center;
   
    &.inside {
        padding: 25px 20px;
    }
}

#main-page {
    .background-holder.inside {
        margin: 0 15px;
    }
}

main {
    /*
    background-color: grey;

    & > * {*/
        background-color: white;
        color: black;
        
    /*}*/

}

.app-button {
    background-image: url(/Content/images/app-buttons.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.app-button-android {
    width: 144px;
    height: 50px;
    background-position: -5px -5px;
}

.app-button-apple {
    width: 168px;
    height: 50px;
    background-position: -5px -65px;
}

.app-button-windows {
    width: 192px;
    height: 50px;
    background-position: -159px -5px;
}

footer {
    color: @font-color-add;
    background-color: @background-color-base;
    padding-top: 10px;

    .get-mobile-apps {
        margin: 20px 0 30px 0;
        height: 50px;
        display: inline-block;

        .app-button {
            margin-left: 20px;

            &:first-child {
                margin-left: 25px;
            }
        }
    }

    .social-buttons-container {
        margin: 10px 0 30px 0;
        height: 30px;
        display: inline-block;
    }

    .stitches-social-button(@x: 0, @y: 0, @width: 0, @height: 0) {
        background-position: @x @y;
        width: @width;
        height: @height;
    }

    .social-button {
        background-image: url(/Content/images/social-buttons.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 10px;

        &.social-button-facebook {
            .stitches-social-button(-5px, -5px, 32px, 30px);
        }

        &.social-button-instagram {
            .stitches-social-button(-47px, -5px, 32px, 30px);
        }

        &.social-button-linkedin {
            .stitches-social-button(-5px, -45px, 32px, 30px);
        }

        &.social-button-syapp {
            .stitches-social-button(-47px, -45px, 30px, 31px);
        }

        &.social-button-twitter {
            .stitches-social-button(-89px, -5px, 32px, 30px);
        }
    }

    .social-button:first-child {
        margin-left: 0;
    }

    .list {
        text-transform: uppercase;
        list-style: none;
        display: inline-block;
        vertical-align: top;
    }

    .list a {
        color: black;
    }

    .copyrights, .tos {
        font-size: 12px;
    }

    .tos a {
        color: black;
        margin-left: 20px;
    }
}

/* END LAYOUT */

/* ICONS */
.stitches-sicon(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.sicon {
    background-image: url(/Content/images/sy-icons.png?v=2);
    background-repeat: no-repeat;
    display: inline-block;


    &.sicon-bell {
        .stitches-sicon(-5px, -5px, 19px, 20px);
    }

    &.sicon-bell-pink {
        .stitches-sicon(-34px, -5px, 19px, 20px);
    }

    &.sicon-bell-white {
        .stitches-sicon(-63px, -5px, 19px, 20px);
    }

    &.sicon-cam {
        .stitches-sicon(-92px, -5px, 22px, 14px);
    }

    &.sicon-eye {
        .stitches-sicon(-124px, -5px, 22px, 15px);
    }

    &.sicon-eye-white {
        .stitches-sicon(-156px, -5px, 15px, 10px);
    }

    &.sicon-facebook {
        .stitches-sicon(-181px, -5px, 10px, 20px);
    }

    &.sicon-follow {
        .stitches-sicon(-201px, -5px, 25px, 20px);
    }

    &.sicon-follow-pink {
        .stitches-sicon(-5px, -35px, 25px, 20px);
    }

    &.sicon-friend {
        .stitches-sicon(-40px, -35px, 18px, 14px);
    }

    &.sicon-google-plus {
        .stitches-sicon(-68px, -35px, 20px, 20px);
    }

    &.sicon-hamburger {
        .stitches-sicon(-98px, -35px, 30px, 25px);
    }

    &.sicon-hand-down {
        .stitches-sicon(-138px, -35px, 22px, 20px);
    }

    &.sicon-hand-up {
        .stitches-sicon(-170px, -35px, 22px, 20px);
    }

    &.sicon-lighting-colorful {
        .stitches-sicon(-5px, -65px, 43px, 60px);
    }

    &.sicon-lighting-pink {
        .stitches-sicon(-202px, -35px, 11px, 14px);
    }

    &.sicon-linkedin {
        .stitches-sicon(-202px, -59px, 20px, 20px);
    }

    &.sicon-location {
        .stitches-sicon(-138px, -65px, 37px, 30px);
    }

    &.sicon-logo {
        .stitches-sicon(-58px, -105px, 52px, 46px);
    }

    &.sicon-logo-black {
        .stitches-sicon(-120px, -105px, 78px, 70px);
    }

    &.sicon-mail {
        .stitches-sicon(-5px, -185px, 22px, 16px);
    }

    &.sicon-mobile {
        .stitches-sicon(-208px, -89px, 15px, 20px);
    }

    &.sicon-people {
        .stitches-sicon(-37px, -185px, 42px, 25px);
    }

    &.sicon-people-pink {
        .stitches-sicon(-89px, -185px, 42px, 25px);
    }

    &.sicon-play {
        .stitches-sicon(-236px, -5px, 50px, 50px);
    }

    &.sicon-plus {
        .stitches-sicon(-58px, -65px, 10px, 10px);
    }

    &.sicon-question {
        .stitches-sicon(-233px, -65px, 24px, 24px);
    }

    &.sicon-rewind-pink {
        .stitches-sicon(-267px, -65px, 17px, 14px);
    }

    &.sicon-search {
        .stitches-sicon(-233px, -99px, 25px, 25px);
    }

    &.sicon-send-chat {
        .stitches-sicon(-208px, -134px, 22px, 22px);
    }

    &.sicon-share {
        .stitches-sicon(-268px, -89px, 20px, 20px);
    }

    &.sicon-speech-bubble {
        .stitches-sicon(-240px, -134px, 30px, 26px);
    }

    &.sicon-speech-bubble-pink {
        .stitches-sicon(-208px, -170px, 30px, 26px);
    }

    &.sicon-star {
        .stitches-sicon(-248px, -170px, 16px, 14px);
    }

    &.sicon-twitter {
        .stitches-sicon(-141px, -194px, 24px, 20px);
    }

    &.sicon-twitter-black {
        .stitches-sicon(-175px, -194px, 20px, 20px);
    }

    &.sicon-unfollow {
        .stitches-sicon(-248px, -194px, 25px, 20px);
    }

    &.sicon-unfollow-pink {
        .stitches-sicon(-5px, -224px, 25px, 20px);
    }

    &.sicon-user {
        .stitches-sicon(-40px, -224px, 40px, 40px);
    }

    &.sicon-user-small {
        .stitches-sicon(-90px, -224px, 16px, 16px);
    }
}

/* END ICONS */

/* MAIN PAGE */

.ads {
    .uppercase;
    text-align: center;
}

/*
#main-page, #show-page {
    .categories {
        margin-top: 0 !important;
    }
}*/

#main-page {
    /*
    & > * {
          padding: 10px 0;
    }*/

    #video {
        .videoHolder {
            width: 100% !important;
        }
    }

    .video-side {
        padding-top: 10px;

        .videoHolder {
            width: 70% !important;
            margin: 5px 20px;
        }
    }
    

    #people {
        min-height: 200px;
        /*padding-top: 20px;*/

        .ads {
            width: 300px;
        }

        .overlay {  
            background-color: rgba(187,12,145, 0.5);
        }

        .follow-wrap {
            display: none;
        }

        .text-center{
            margin: 7px auto;
        }



        .profile-link {
            text-transform: uppercase;
            color: @font-color-regular;
            font-size: 10px;
            font-weight: bold;
            white-space: nowrap;
            display: block;
            margin-bottom: 10px;
        }

        .btn-main {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: bold;
        }
    }


    #banner {
        background-color: @background-color-inverse;
        min-height: 270px;
        padding-top: 30px;
        color: white;

        h1, h2, h3 {
            .uppercase;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 34px;
            font-weight: normal;
        }

        h3 {
            font-size: 30px;
            font-weight: normal;
        }
    }
}

/* END MAIN PAGE */


/* SHOW */


#video-broadcasts-not-approved
{
    height: 143px;
    padding: 15px 30px;
    position: relative;

    .owl-controls {
        position: absolute;
        top: 17px;
        left: 0;
        right: 0;
        z-index: 1;

        .owl-prev {
            left: 40px;

            :before {
                font-size: 26px;
                font-weight: bold;
            }
        }

        .owl-next {
            right: 40px;

            :before {
                font-size: 26px;
                font-weight: bold;
            }
        }
    }

    .owl-dots{
        display: none !important;
    }

    .videoImage
    {
        text-align: center;
        position: relative;
        width: 60%;
        margin: 0 auto;

        img {
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }

        label {
            font-size: 14px;
            font-weight: bold;
            font-family: @strength-font-family;
            margin-top: 7px;

            :before {
                font-size: 14px;
                font-weight: normal;
            }
        }

        .dropdown
        {
            position: absolute;
            z-index: 1;
            text-decoration: none;
            top: 2px;
            right: 2px;

            a
            {
                color: grey;
                cursor: default;
            }

            li.enabled
            {
                a {
                    color: @font-color-inverse !important;
                     cursor: pointer;
                }
            }
        }
    }
}

.categories {
   

    .videoHolder {
        width: 118px;
        height: 77px;
        margin: 0 10px;
    }
}

.black {
    background-color: black;
}

.video-icons {
    font-size: 30px;
    color: white;
    cursor: pointer;

    &:hover {
        color:#00dcff;
    }

    /*
    background-image: url('images/video-icons.png');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
        

    &.video-icons-mute{
        background-position: -160px 0;
    }

    &.video-icons-flag{
        background-position: 0 0;
    }

    &.video-icons-camera{
        background-position: -40px 0;
    }

    &.video-icons-camera-off{
        background-position: -80px 0;
    }*/
}

.videoHolder {
    text-align: center;
    /*display: inline-block;*/
    position: relative;

    .jw-controls {
        z-index: 1;
    }

    .noise {
        background-color: black;
        background-repeat: no-repeat;
        background-position: center center;
        /*background-image: url(images/tv_noise.gif);*/
        padding: 0;

        &.tongue {
        }
    }

    .dropdown, .video-icons, .remove, .live, .mute, .abuse {
        position: absolute;
        /*
        right: 3px;
        top: 1px;*/
        z-index: 1;
        text-decoration: none;
        top: 0;
        left: auto;
        right: auto;
    }

    .dropdown {
        top: 28px;
        right: 5px;
    }

    .live, .sficon-camera {
        top: 40%;
        left: 43%;
        //width: 60px;
        //height: 60px;
        //background-image: url('images/camera.png');
        //background-repeat: no-repeat;

        
    }

    &[data-position="0"]{
        .live, .sficon-camera {
            top: 46%;
            left: 48%;
        }
    }

    .abuse {
        top: 45%;
        left: 30%;
    }

    .remove {
        top: 45%;
    }

    .mute {
        top: 45%;
        right: 15%;
    }

    &[data-muted="1"] {
        //.video-icons-mute {
            //background-position: -120px 0;
        //}

        .mute {
            right: 18%;
        }

        .sficon-mic-striked:before {
	        content: "\e912" !important;
        }
    }

    .remove, .mute, .abuse {
        display: none;
    }

    &:hover {
        .remove, .mute, .abuse {
            display: inline-block;
        }
    }

    .user-logo-overlay {
        position: absolute;
        top: 0;
        left: 15px;

        .user-overlay-image {
            width: 90px;
        }

        .user-overlay-name {
            position: absolute;
            left: 0;
            top: 4px;
            background-color: @violet;
            border-radius: 0 5px 5px 0;
            color: white;
            padding: 1px 5px;
            font-weight: bold;
            font-size: 13px;
        }
    }

    .presenter-webshow-logo-overlay {
        position: absolute;
        top: 5px;
        left: 15px;
        width: 100%;
        text-align: left;

        .presenter-webshow-overlay-image {
            width: 80px;
            position: absolute;
            z-index: 1;
        }

        .presenter-webshow-overlay-name {
            position: absolute;
            left: 0;
            top: 55px;
            background-color: #63d89a;
            border-radius: 0 5px 5px 0;
            color: #752ab9;
            padding: 1px 5px 1px 150px;
            font-weight: bold;
            font-size: 16px;
        }

        .presenter-webshow-overlay-label {
            position: absolute;
            top: 85px;
            left: 26px;
        }
    }

    .presenter-logo-overlay {
        position: absolute;
        bottom: 100px;
        right: 265px;

        .presenter-overlay-image {
            width: 250px;
            position: absolute;
        }

        .presenter-overlay-name {
            position: absolute;
            top: 5px;
            color: white;
            font-weight: bold;
            font-size: 24px;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            width: 200px;
            background-color: @violet;
            background-image: url(/Content/images-new/train_logo.png);
            background-size: 46px;
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: 7px;
        }
    }
}

#video-wrap {
    .live {
        top: 42%;
        left: 46%;
    }

    .abuse {
        top: 75%;
        left: 40%;
    }

    .remove {
        top: 75%;
        left: 50%;
    }

    .mute {
        top: 75%;
        left: 60%;
    }
}

#video-broadcast-btn {

    i {
        font-size: 16px;
        vertical-align: middle;
    }

    span {
        font-size: 10px;
        font-family: @strength-font-family
    }

    width: 120px;
}

#show {
    /*
    background-color: white;
    color: @font-color-add;
    padding: 20px;
        */

    margin-bottom: 20px;
    

    

    #video-main-block {
        
        color: white;

        .ads {
            display: block;
            margin: 10px 0 15px;
        }

        #video-broadcast-btn {
            margin-top: 10px;            
        }

        #video-wrap {
            /*padding: 0;
            text-align: center;*/
            /*
            #video-header
            {
                .vertical_aligned_row(40px);

                h4
                {
                    text-align: left;
                    margin-left: 50px;
                    font-size: 1.5em;
                }
            }*/
            #video {
                margin-top: 15px;
                min-height: 200px;

                .videoHolder {
                    padding: 0 15px;
                    width: 90%;
                    /*
                    height: 354px;
                    margin: 0 auto;*/
                }
            }
        }
        /*
        #video-footer
        {
            height: 20px;
            padding: 10px 20px;
        }*/
        #chat {
            padding-right: 25px;

            

            .chat-header {
                background-color: @background-color-base;
                .vertical_aligned_row(40px);
                padding-left: 10px;
                padding-right: 10px;
                border-bottom: 1px solid white;

                #chat-toggler {
                    color: grey;

                    span {
                        .uppercase;
                        font-size: 10px;
                    }
                }

                .nav-tabs {
                    text-align: center;
                    border-bottom: none;
                    margin-top: 5px;
                    height: 25px;

                    li {
                        float: none;
                        display: inline-block;
                        margin: 0 5px;

                        a {
                            color: @font-color-base  !important;
                            background: none !important;
                            border: none !important;
                            padding: 0;
                            font-size: 22px;
                        }
                    }
                }
            }

            .tab-content {
                 background-color: @background-color-base; 

                 /*
                .chat-frame {
                    height: 450px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    

                    & > * {
                        font-size: 11px;
                        margin: 0 -5px 7px -5px;
                        padding: 5px;

                        & > * {
                            padding: 0 5px;
                        }
                    }

                    strong {
                        color: @font-color-inverse;
                        margin-right: 10px;
                    }

                    time {
                        float: right;
                        color: darkgrey;
                    }

                    p {
                        color: black;
                        margin: 0;
                    }
                }

                form {
                    padding: 5px;
                    position: relative;

                    ::-webkit-input-placeholder {color:@font-color-inverse;}
                    ::-moz-placeholder          {color:@font-color-inverse;}
                    :-moz-placeholder           {color:@font-color-inverse;}
                    :-ms-input-placeholder      {color:@font-color-inverse;}

                    input[type="text"] {
                        .vertical_aligned_row(30px);
                        font-size: 12px;
                        padding-left: 7px;
                        padding-right: 30px;
                    }

                     input[type="submit"] {
                         .stitches-sicon(-174px, -205px, 23px, 25px);
                         .sicon;

                         right: 8px;
                         top: 8px;
                         position:absolute;
                         border: none;
                         outline: none;
                         background-color: white;
                     }
                }*/
            }
        }
    }

    /*
    #video-add-block {
        padding-top: 10px;
    }*/
}

/* END SHOW */

#modal-broadcaster.modal, #modal-player.modal {
    position: absolute;
    top: 100px;
    left: 33%;
    bottom: auto;
    right: auto;

    .modal-header {
        cursor: move;
        padding-top: 10px;
        background-image: none;
    }

    .modal-dialog {
        margin: 0;
        width: 450px;
        text-align: center;

        .modal-body {
            padding: 5px 0 15px;
        }
    }

    [data-minimize-modal] {
        margin-right: 10px;

        .open {
            display: none;
        }
    }

    &.collapsed {

        .modal-header {
            cursor: initial;

            button {
                opacity: 1;
            }
        }

        [data-minimize-modal] {
            .minus {
                display: none;
            }

            .open {
                display: inline-block;
            }
        }
    }
}

#modal-player.modal {
    .modal-dialog {
        width: 550px;
        text-align: left;

        .modal-body {
            padding: 0 10px 10px;
        }
    }
}


/* USER SETTINGS PAGE*/
.profile-settings {
    padding-top: 30px;
    color: @font-color-regular;

    .nav-tabs-custom li {
        font-size: 18px;
    }

    .user-name {
        margin-bottom: 20px;

        .name {
            font-size: 22px;
            font-weight: 700;
            margin-top: 5px;
        }
    }

    a {
        color: @font-color-regular;
    }

    .profile-tabs {
        margin: 30px 0;
    }

    .user-picture {
        position: relative;
        font-weight: bold;

        img {
            width: 200px;
        }

        .picture-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 103px;
        }

        .upload-text {
            font-size: 12px;
        }

        .upload-size {
            font-size: 10px;
        }
    }

    .user-form {
        textarea {
            resize: none;
        }

        .note {
            margin-top: 8px;
            font-size: 12px;
        }

        .checkbox {
            height: 40px;

            .css-label {
                font-size: 14px;
            }
        }

        .btn {
            width: 100%;
        }
    }

    .notifications {
        .table {
            color: @font-color-add;

            th {
                font-size: 16px;
                font-weight: 900;
            }

            td {
                font-size: 16px;

                &.text-cell {
                    text-align: left;
                }

                &:not(.text-cell) {
                    width: 40px;
                }
            }

            & > thead > tr > th {
                border-bottom: 1px solid #ddd;
            }

            & > tbody > tr > td {
                border: none;
                font-size: 16px;
            }

            .css-label {
                padding-left: 20px;
            }
        }
    }

    .social-sharing {
        .connect-header {
            font-size: 16px;
            margin: 10px 0;
            color: black;
            font-family: @strength-font-family;
        }

        .connect-text {
            color: black;
            margin-bottom: 30px;
            font-size: 20px;
        }

        button {
            margin: 0 10px;
            text-transform: none;
        }
    }

    .my-webshows {
        .webshows-note {
            font-size: 16px;                        
            font-weight: 300;
            line-height: 24px;
            color: @font-color-add;
        }

        .webshow-title {
            color: @font-color-add;
            font-size: 22px;
            font-weight: bold;
        }

        .webshow-link {
            a {
                color: @font-color-add;
                font-size: 16px;
                font-weight: 300;
            }            
        }

        .webshow-actions {
            margin-top: 15px;

            * {
                margin-right: 10px;
            }
        }
        
        .event-date {
            color: @light-blue;
            vertical-align: middle;
            font-size: 16px;
            font-weight: bold;
        }
    }
    
    .btn-main-greyed {
        padding: 5.5px 20px;
    }

    .profile-upcoming {
        ul{
            list-style: none;

            li {
                margin: 10px 0;
            }
        }
        
        .upcoming-name {           
            color:  #000000;
            font-size: 16px;
            margin-right: 20px;
        }
    }
}

.social-sharing {
    margin-top: 20px;
}
/* END USER SETTINGS PAGE */

/* PROFILE VIEW PAGE */
.profile-view {
    margin-bottom: 20px;

    .other-users {
        .nav-tabs-custom {
            font-size: 20px;
            border-bottom: 1px solid @super-light-gray;

            &.nav-tabs-small {
                font-size: 14px;
                border: none;
                
                li {
                    a {
                        color: black;
                    }
                }
            }
        }

        .tab-content {
            padding-top: 20px;
        }
    }

    .user-info-tabs {
        .host-card {
            margin-bottom: 25px;
        }
    }
}
/* END PROFILE VIEW PAGE */

#main-page, #show {
    #video {
        .noise {
            background-image: url('images/sy_placeholder.png') !important;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .video-stats {
        margin-top: 10px;
        margin-bottom: 10px;
        .vertical_aligned_row(30px);

        & > * {
            vertical-align: middle;
        }

        & > span {
            margin: 0 20px 0 5px;
            width: 65px;
            display: inline-block;
        }

        .sicon-share {
            margin-right: 20px;
        }
    }

    #video-broadcasts {
        min-height: 143px;

        .videoHolder {
            .remove, .mute {
                right: 17px;
            }
        }
    }

    .launch-block {
        .vertical_aligned_row(40px);
        position: relative;

        i {
             position: relative;
             top: 7px;
             left: 7px;

             &:hover {
                opacity: 0.8;
                cursor: pointer;

            }
        }
    }
}

.video-title {
    /*width: 640px;
    margin: 0 auto;*/
    margin-top: 10px;
    min-height: 30px;

    .title-wrapper {
        /*padding-right: 70px;*/
        padding-right: 0;
        .video-name {
            color: @font-color-inverse;
            font-weight: 900;
            font-size: 20px;
            display: inline-block;
            height: 60px;
        }

        .user-name {
            font-weight: 900;
            font-size: 20px;
        }

        .tags {
            text-align: center;            

            .tag {
                color: #87bcec;
                font-weight: 900;
                font-size: 16px;
                text-transform: uppercase;
                margin-right: 10px;
            }
        }
    }

    .info-container {
        /*
        position: absolute;
        bottom: 0;
        width: 100%;*/
    }
        
    .user-avatar {
        /*width: 60px;*/
        width: 100%;
    }

    .channel-logo {
        height: 60px;
    }

    .btn-main {
        height: 20px;
        font-size: 11px;
        font-weight: normal;
    }
}

/* GEOPOSITION */

#map {
    min-height: 500px;
    position: relative;

    & > select {
        position: absolute;
        left: 85px;
        width: 100px;
        z-index: 1;
    }

    & > * {
        margin: 0 auto;
    }
}


/* SEARCH */

#search {
    min-height: 500px;
    padding: 20px;
}

/* CATEGORIES PAGE */

#categories {



    .ads {
        margin-top: 20px;
    }

    .categories {
        margin: 0 0 10px 0;



        /*
        .category {
            color: @font-color-inverse;
            font-weight: bold;                
            padding: 2px 10px;

            &.active {
                color: @font-color-base;
                background-color: @font-color-inverse;                    
            }
        }*/

        .col-xs-2
        {
            .hidden
            {
                display: block !important;
            }
        }
    }

    .overlay {
        .play-button {
            width: 100%;
            height: 100%;
            margin: 0;
            position: absolute;
            top: 0;

            a {
                background: none;
                width: 100%;
                height: 100%;
            }
        }

        .views-counter {
            top: 20px;
            color: @font-color-base;
        }
    }
}


.categories {

    & > ul > li > a  {
        color: white;
    }

    hr {
        border: none;
        margin: 15px auto;
        width: 80%;
        border-bottom: 1px solid silver;
    }

    .category-title {
        font-size: 24px;
        font-weight: 700;
        color: #010000;
        text-transform: uppercase;
        margin: 30px 0;
    }

    .nav-tabs-custom {
        font-size: 18px;
        font-weight: bold;
    }

    .video-row {
        margin-top: 20px;

        .video-preview {
            margin: 0 11px;
        }

        .follow-button {
            text-align: center;
            margin-top: 10px;

            .btn-main {
                font-weight: normal;
                padding: 0 20px;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }

    .users-row {
        margin-top: 20px;

        .follow-button {
            margin-top: 10px;
            text-align: center;
        }
    }

    .load-more {
        margin-top: 15px;
    }

    .user-preview {

        .sficon-tunderr {
            .path1:before {
                color: white;
            }

            .path2:before {
                color: black;
            }
        }

        .user-name {
            color: white;
        }
        
        .followers-text {
            font-size: 10px;
            margin-top: 5px;
        }

    }

    #followers {
        .owl-controls {
            top: -15px;
        }
    }

}
/* END CATEGORIES PAGE */

/* SEARCH PAGE */
.search-page {
    padding: 30px 0;

    .ads {
        margin-top: 20px;
    }

    .categories {
        margin: 30px 0 10px 0;
    }

    .nav-tabs-custom {
        font-size: 18px;
        font-weight: bold;
    }

    .search-title {
        .uppercase;
        font-weight: bold;
        font-size: 24px;
        margin: 10px 30px;
        font-family: @strength-font-family;
    }

    .nav-tabs-custom {
        li a {
            font-size: 20px;
        }

        
    }

    .nav-tabs-small li a {
        font-size: 14px;
    }
}
/* END SEARCH PAGE */

/*ABOUT COMPANY PAGE*/
.about-page {
    padding-bottom: 30px;

    .main-promo {
        position: relative;
        margin-bottom: 30px;

        .promo-title-container {
            position: absolute;
            top: 25px;
            width: 100%;
        }

        .promo-title {
            font-weight: bold;
            font-size: 60px;
            color: @font-color-base;

            i {
                font-style: italic;
            }
        }

        .description {
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 12px;
            width: 220px;
            color: @font-color-base;
            text-transform: uppercase;

            .event-name {
                float: left;
                font-weight: bold;                
            }

            .date {
                float: right;
                font-weight: normal;
            }
        }
    }

    .main-text {
        color: @font-color-add;        

        .about-text {
            font-size: 16px;
        }
    }

    .summit {
        margin: 20px 0;
        color: @font-color-add;

        .summit-logo {
            margin-bottom: 15px;
            padding: 0 20px;
        }

        .summit-name {
            text-transform: uppercase;
            margin-bottom: 20px;   
            font-size: 18px;         
        }

        .summit-photo {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .summit-photo-row {
            text-align: center;

            img {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .member-card {
        .member-name {
            font-size: 27px;
            font-weight: 700;
            color: @font-color-inverse;
            margin: 5px 0;
        }

        .member-position {
            color: @font-color-add;
            margin: 5px 0 10px 0;
            font-size: 16px;
            font-weight: 700;
        }

        .about-member {
            color: @font-color-regular;
            font-size: 15px;

            & > * {
                color: @font-color-regular;
                font-size: 15px;
            }
        }

        img {
            width: 200px;
            height: 200px;
        }
    }    

    .subtitle {
        color: @font-color-add;
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &.about-team {
        .main-text {
            margin-bottom: 50px;
        }
    }

    &.about-jobs {
        .promo-title {
            padding-right: 50px;
        }
    }

    &.about-partnership {
        .partner-card {
            text-align: center;

            .partner-name {
                font-size: 16px;
            }
        }

        .partners-row {
            margin-bottom: 30px;
        }
    }

    .title-colored {
        margin: 20px 0 30px 0;
        color: @font-color-inverse;
        font-size: 40px;
    }

    .jobs-text, .investors-text, 
    .advertising-text, .branded-content-text,
    .partnership-text {
        text-align: center;

        a {
            color: @font-color-add;
        }

        & > * {
            margin: 30px 0;
        }

        p {
            font-size: 16px;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .partnership-text {
        margin-bottom: 50px;
    }

    &.about-directors {
        h1 {
            margin: 50px;
        }
    }
}
/*END ABOUT COMPANY PAGE*/

/*CONTACT US PAGE*/
.contact-us {
    padding: 30px 0;

    .contact-us-title {
        color: @font-color-inverse;
        font-size: 40px;
    }

    .contact-us-text {
        font-size: 16px;
        color: @font-color-add;
        margin-bottom: 20px;

        div {
            padding: 10px 0;
        }
    }

    .contact-email {    
        margin-bottom: 30px;    
        * {
            vertical-align: middle;
        }
        
        a {
            color: @font-color-inverse;
            font-size: 18px;
            padding-left: 5px;
        }
    }

    .ray-logo {
        margin-bottom: 20px;
    }

    .address-container {
        .sicon {
            margin-top: 3px;
        }

        .address {
            color: @font-color-regular;
            display: inline-block;
            margin-left: 10px;
        }
    }
}
/*CONTACT US PAGE END*/


/* USER ROUNDED BLOCK */
.user-rounded {
    position: relative;

    .user-avatar {
        width: 100%;
        margin: 0;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 50%;
        background-color: rgba(0,0,0, 0.7);
        display: none;

        .user-name {
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -30px;
            position: absolute;
            text-align: center;
            font-size: 14px;
            color: @font-color-base;
            font-weight: normal;
        }

        .friends-counter {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
        }
    }

    &:hover {
        .overlay {
            display: block;
        }
    }
}
/* END USER ROUNDED BLOCK */

/*EMPTY CONTENT BLOCK*/
.empty-content {
    h6 {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }

    .btn-main {
        margin-top: 20px;
        width: 251px;
    }
}
/*END EMPTY CONTENT BLOCK*/
/*SHARE BUTTON*/
.share-button-container{
    display: inline-block;
    margin-right: 10px;
    margin-top: -28px;

    label {
        color: #5ac9f8 !important;
        font-size: 14px !important;
        border: none !important;
        background: none !important;
        margin-top: 20px !important;
        font-family: @strength-font-family;

    }
}
/*SHARE BUTTON END*/

/*ERROR PAGE*/
.error-page-container {
    margin: 200px 0;

    h2 {
        color: @font-color-inverse;
        font-size: 40px;
        font-weight: bold;
    }

    .btn-main {
        &.btn-lg {
            padding: 10px 10px;
            width: 220px;
        }
    }

    .image-container {
        margin: 20px 0;
    }
}
/*ERROR PAGE END*/



/* NEW UI */

@silver: #d9d9d9;
@navy: #6bfcdd;
@blue: #5ac9f8;
@light-blue: #00dcff;
@red:  #d0021b;
@dark-blue: #318bf3;

.carousel {
    list-style:none;
    padding: 0;
}

.bt-color(@color) {
    background-color: @color;

    &.bt-inverse {
        color: @color;
        border: 1px solid @color;
        background-color: transparent;
    }
}

.bt {
    .uppercase;

    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 13px;
    color: white;
    border: none;
    height: 26px;
    line-height: 26px;
    display: inline-block;

    &.bt-xs {
        font-size: 8px;
        font-weight: bold;
        padding: 0 15px;
        border-radius: 10px;
        color: white;
        border: none;
        height: 16px;
        line-height: 16px;
        display: inline-block;
    }

    &.bt-md {
        font-size: 12px;
        font-family: @strength-font-family;
        line-height: 32px;
        height: 32px;
        padding: 0 23px;
    }

    &.bt-sm-font {
        font-family: @strength-font-family;
        font-size: 10px;
    }

    &.bt-violet {
        .bt-color(@violet);
    }

    &.bt-violet-dark {
        .bt-color(@violet-dark)
    }

    &.bt-silver {
        .bt-color(@silver);
    }

    &.bt-blue {
        .bt-color(@blue);
    }

    &.bt-light-blue {
        .bt-color(@light-blue);
    }

    &.bt-dark-blue {
        .bt-color(@dark-blue);
    }
    
    
    &.bt-light-gray {
        .bt-color(@light-gray);
    }

    &.bt-dark-gray {
        .bt-color(@dark-gray);
    }

    &.bt-navy {
        .bt-color(@navy);
        color: black;
    }

    &.bt-purple {
        .bt-color(@puple);
    }

    &.bt-red {
        .bt-color(@red);
    }
    
    &.bt-black {
        .bt-color(@black);
    }
}

#show-wrap
{
    color: @font-color-base;

    .row
    {
        margin-right: 0;
        margin-left: 0;

        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
        .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
        {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .nav-tabs
    {
        display: block;
        border-bottom: none;


        li
        {
            a
            {
                .uppercase;

                font-weight: bold;
                background-color: rgba(34, 34, 34, 0.71);
                border: none;
                color: #4a4a4a;
                border-radius: 0;
                font-size: 12px;
                margin: 0;
                text-align: center;
                padding: 13px 10px;
            }

            &.active a
            {
                background-color: black;
                color: white;
            }
        }
    }


    #video-wrap, #video-chatters
    {
        background-color: black;
    }

    #video-wrap
    {
        border-radius: 0 10px 10px 0;
        overflow: hidden;
    }

    #show-info
    {

        .nav-tabs
        {
            li
            {
                width: 33.33%;

                 &:not(:first-child) {
                    border-left: 2px solid black;
                }

                &:last-child a {
                    border-radius: 0 10px 0 0;
                }

                i {
                    margin-right: 7px;
                }
            }
        }

        .tab-content
        {
            & > * {
                padding: 20px;
            }

            #video-info
            {
                img {
                    width: 55px;
                }

                .sficon-tunderr {
                    .path1:before {
                        color: white;
                    }

                    .path2:before {
                        color: black;
                    }
                }

                .user-name
                {
                    font-size: 14px;
                }

                h2
                {
                    .uppercase;
                    margin-top: 30px;
                    text-align: left;
                    margin-bottom: 0;

                    &, a {
                        font-size: 22px;
                        font-weight: bold;
                        font-family: @strength-font-family;
                    }
                    
                }

                h3 {
                    .uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: left;
                    margin-top: 0;
                }

                .tags
                {
                    margin: 30px 0;

                    & > *
                    {
                        margin-right: 10px;
                    }
                }

                .invite-friends {
                    font-family: @strength-font-family;
                    font-size: 10px;
                }
            }


            .chat-frame
            {
                height: 310px;
                overflow-y: scroll;
                overflow-x: hidden;

                & > *
                {
                    font-size: 11px;
                    margin: 0 -5px 2px -5px;
                    padding: 0 5px;

                    .sficon-tunderr {
                        :before {
                            font-size: 14px;
                        }
                        
                    }

                    & > *
                    {
                        padding: 0 5px;
                    }

                    &.right > *
                    {
                        text-align: right;
                        float: right;

                        &.message-info {
                            /*padding-right: 20%;*/
                        }

                        p
                        {
                            margin-left: auto;
                        }

                        
                    }

                    p
                    {
                        border: 1px solid rgb(73, 73, 73);
                        padding: 5px 10px;
                        border-radius: 15px;
                        margin: 0 6px;
                        width: 75%;
                        position: relative;
                        min-height: 27px;
                        margin-left: -5%;

                        .connector {
                            position: absolute;
                            width: 7px;
                            height: 12px;
                            background-image: url('images/connector-left.png');
                            top: 7px;
                            left: -6px;
                        }
                    }

                    &.right p
                    {
                        .connector {
                            background-image: url('images/connector-right.png');
                            left: auto;
                            right: -6px;
                        }
                    }
                }

                /*
                strong
                {
                    color: @font-color-inverse;
                    margin-right: 10px;
                }*/

                .message-info {
                    /*margin-left: 11%;*/
                }

                .sficon-tunderr :before {
                    font-size: 10px;
                }

                .user-name
                {
                    font-size: 10px;
                    color: white;
                    margin-right: 7px;
                }

                time
                {
                    font-size: 10px;
                    color: #4a4a4a;
                }

                img {
                    width: 27px;
                    margin-top: 10px;
                }
            }

            #chat-chatters {

                .chat-frame
                {
                    & > .row > .col-xs-10 {
                        margin-bottom: 4px;
                    }

                    .user-name, .sficon-tunderr :before {
                        font-size: 14px;
                    }

                    .user-name {
                        color: white;
                    }
                }

                img{
                    width: 40px;
                }
            }

            form
            {
                margin-top: 7px;

                ::-webkit-input-placeholder
                {
                    color: @font-color-base;
                }

                ::-moz-placeholder
                {
                    color: @font-color-base;
                }

                :-moz-placeholder
                {
                    color: @font-color-base;
                }

                :-ms-input-placeholder
                {
                    color: @font-color-base;
                }

                .input-group {
                    border: 1px solid @font-color-base;
                    border-radius: 3px;

                    input[type="text"]
                    {
                        .vertical_aligned_row(24px);
                        font-size: 12px;
                        padding-left: 7px;
                        padding-right: 30px;
                        border: none;
                        outline: none;
                        background-color: @font-color-add;
                        color: @font-color-base;
                    }

                    .input-group-btn {
                        background-color: @font-color-base;
                        padding-left: 7px;
                        padding-right: 7px;
                    }

                    input[type="submit"]
                    {
                        background-image: url('images/new/chat-submit.png');
                        width: 18px;
                        height: 12px;
                        border: none;
                        padding: 0;
                        background-repeat: no-repeat;
                        background-position: center center;
                        border: none;
                        outline: none;
                        background-color: @font-color-base;
                    }
                }

                
            }
        }
    }

    #video-chatters
    {
        border-radius: 0 0 10px 10px;
        overflow: hidden;

        .nav-tabs
        {
            li
            {
                width: 50%;
            }
        }
    }

    .webshow-buttons-container {
        .bt {
            vertical-align: middle;
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.owl-controls{
    text-align: center;
    position: relative;
    margin-top: 30px;

    .owl-nav {


        & > * {
            display: inline-block;
            position: absolute;

            i {
                font-size: 20px;
                font-weight: bold;
            }


            &.owl-prev {
                left: 40%;
            }

            &.owl-next{
                right: 40%;
            }
        }
    }

    .owl-dots {
        padding-top: 0;

        .owl-dot {
            display: inline-block;

            span {
                width: 10px;
                height: 10px;
                margin: 5px 7px;
                display: block;
                -webkit-backface-visibility: visible;
                -webkit-transition: opacity 200ms ease;
                -moz-transition: opacity 200ms ease;
                -ms-transition: opacity 200ms ease;
                -o-transition: opacity 200ms ease;
                transition: opacity 200ms ease;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                border-radius: 30px;
                border: 1px solid white;

            }

            &.active > span {
                background: #5ac9f8;
                border: none;
            }
        }
    }
}

.categories {
    background-color: #1c1c1c;
    color: white;
    padding-top: 5px;

    h2 {
        font-family: @strength-font-family;
        font-size: 30px !important;
    }
}


/*VIDEO PREVIEW BLOCK*/

.settings {
    position: absolute;
    color: white;
    right: 19px;
    top: 2px;
    z-index: 1;
}

.video-preview {
    position: relative;
    height: 225px;
    overflow-y: hidden;
    height: 0;
    padding-top: 75%;
    position: relative;

    & > img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }


    .video-name {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        padding: 0 3px;
        color: white !important;
        max-height: 30px;
        text-align: left;
    }

    .date-container {
        height: 36px;
        vertical-align: middle;



        .event-date {
            font-family: @strength-font-family;
            color: white;
            margin-left: 20px;
            vertical-align: middle;


            span {
                vertical-align: middle;
            }
                    i {
            font-size: 18px;
            margin-right: 3px;
            vertical-align: middle;
            
        }
        }

        & > * {
            vertical-align: middle;
            display: inline-block;
        }

        & > .bt {
            margin: 2px 0 0 0 !important;
        }
    }

    .channel-name {
        .uppercase;
        background-color: #000000;
        opacity: 0.8;
        height: 70px; //172px
        color: white;
        
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: left;
        padding: 15px 20px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        

        h3 {
            font-size: 18px;
            font-weight: bold;
            font-family: @strength-font-family;
            margin: 5px 0 5px;
        }

         h4 {
            font-size: 12px;
            font-weight: bold;
            font-family: @strength-font-family;
            margin: 0;
        }

        .overlay {
            position: absolute;
            top: 70px;
            width: 100%;

            img {
                width: 40px;
            }

            a {
                color: white;
            }

            .sficon-tunderr {
                .path1:before {
                    color: white;  
                }
                .path2:before {
                    color: black;
                }
            }

            .bt-light-blue {
                margin-bottom: 20px;
            }

            .user-name {
                text-transform: none;
                font-size: 14px;
            }
        }

    }

    &:hover {
        .channel-name {
            height: 172px;
        }
    }

    .views-counter {
        position: absolute;
        bottom: 25px;
        padding: 0 5px;
    }


}
/*END VIDEO PREVIEW BLOCK*/

/*USER PROFILE NEW*/
.user-background {
    height: 200px;
    position: absolute;
    width: 100%;
    left: 0;
}

.user-information {
    margin-top: 100px;

    .bt {
        margin: 10px 0;
    }

    .avatar-bordered {
        border: 5px solid white;
        height: 200px;
        width: 200px;
    }

    .user-name-info {
        font-size: 23px;
        font-weight: bold;
    }

    .counter-stats {
        position: absolute;
        right: 0;
        top: 130px;

        & > div {
            margin-right: 20px;
        }

        .counter {
            text-align: left;
            font-size: 18px;
        }

        .counter-name {
            font-weight: 300;
            font-size: 11px;
            color: @dark-gray;
            text-transform: uppercase;
        }
    }

    .text-about-me {
        color: @dark-gray;
        font-size: 14px;
    }
}

/*USER PROFILE NEW END*/

.user-preview {

    &:hover {
        .user-rounded  {
            img {
                filter: brightness(0.5);
                -webkit-filter: brightness(0.5);
            }

            span {
                display: inline-block !important;
            }
        }
    }

    .user-rounded {
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        text-align: center;

        span {
            display: none;
            position: absolute;
            z-index: 1;
            top: 43%;
            left: 0;
            right: 0;
            margin: 0 21px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
    }

    .user-name {
        color: @font-color-add;
        white-space: nowrap;
        font-size: 17px;
        font-weight: bold;
        font-family: @strength-font-family;      
    }
}


.user-block
{
    color: white;
    height: 334px;
    background-color: black;
    text-align: center;
    padding: 40px;
    background-size: 100% 110px;
    background-repeat: no-repeat;
    width: 300px;

    .user-preview {
        .user-rounded-wrap {
            margin: 0 41px;
        }

        .sficon-tunderr {
            .path1:before {
                color: white;
            }

            .path2:before {
                color: black;
            }
        }
    }

    h3
    {
        .uppercase;
        font-size: 15px;
        margin-top: 20px;
        font-weight: bold;
    }

    .user-name{
        color: white;
    }

    .tags
    {
        margin: 0 -40px;

        & > *
        {
            margin: 0 2px;
        }
    }
}


#main-page {

    padding-bottom: 60px;

    h2 {
        .uppercase;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: @strength-font-family; 
        margin-top: 60px;
    }
}

#people {
    padding-bottom: 60px;
}

#streamers-host, #people {
    display: none;
    margin-top: 70px;
    h2 {
        .uppercase;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: @strength-font-family;
        margin-bottom: 40px;
    }

    & > ul {
        margin-bottom: 30px;

        li {
            a {
                color: black;
            }
        }
    }

    .owl-prev {
        left: 45%;
    }

    .owl-next {
        right: 45%;
    }

    .followers-text {
        font-size: 10px;
        margin-top: 5px;
    }
}

.dropdown-overlayed {
    .user-name-dropdown {
        color: black;
        top: -10px;
        position: relative;
        font-size: 12px;

        & > * {
            vertical-align: middle;
        }
    }
}

.dropdown-overlayed.open {
    .dropdown-menu {
        padding-top: 60px;
    }

    & > a {
        z-index: 1001;
        background: none !important;
        position: relative;

        &:hover {
            background: none !important;
            &>* {
                color: black !important;
            }
        }
    }
}

.dropdown-overlayed-right {
    .dropdown-menu {
        right: -20px;
    }
}

.dropdown-overlayed-left {
    .dropdown-menu {
        left: -20px;
    }
}

.dropdown-overlayed-center {
    .dropdown-menu {
        left: 50%;
        right: auto;
        text-align: center;
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

.nav {
    .wide-button {
        padding-right: 55px;
        padding-left: 55px;
    }
}

.navbar-right {
    .dropdown {
        margin-left: 0;
        margin-right: 0;
    }
}

.followers-text {
    .uppercase;
    color: @violet;
    font-size: 8px;
    margin: 0 7px;
    font-weight: bold;

    span {
        margin-right: 5px;
    }
}

/*CUSTOM CHECKBOXES*/
input[type=checkbox].css-checkbox
{
    position: absolute;
    z-index: -1000;
    left: -1000px;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
    font-size: 21px;
    line-height: 21px;
    display: inline-block;
    height: 21px;
    padding-left: 25px;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;

    -webkit-filter: ~"grayscale(100%)";
    filter: ~"gray";
}

input[type=checkbox].css-checkbox:checked + label.css-label
{
    background-position: 0 -21px;

    -webkit-filter: ~"grayscale(0)";
    filter: none;
}

input[type=checkbox].css-checkbox:hover + label.css-label
{
    -webkit-filter: ~"grayscale(0)";
    filter: none;
}

label.css-label
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    background-image: url(images-new/pink-checkboxes.png);

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

/*END CUSTOM CHECKBOXES*/

/*NEW LANDING*/
.dynamic-height-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.layout-main {
    padding: 60px 20px 80px 20px;
    font-size:18px;
    .main-logo{
        height: 14em;
    }    
    

    .caption{
        font-size:3em;
        color: @violet;
        font-weight: bold;
        text-transform:uppercase;
        span{
            color: black;
            font-weight: normal;
        }
    }

    .sub-caption{
        margin-top: -10px;
        font-size: 1.8em;
        font-style: italic;
        font-weight: 200;
        color:rgba(0,0,0,0.8);
    }

    .text-caption{
        color: @violet;
        text-transform:uppercase;
        font-size:2em;
    }

    .text{
        padding:0 17em;
        font-size:1.4em;
        font-weight: 600;
    }

    //background: url(/Content/images/new/landing/sunrise-festival.jpg) center center no-repeat;
    background-size: cover;

    .logo-center {
        margin-bottom: 40px;
    }

    h1 {
        font-family: @thick-font-family;
        font-size: 36px;
        color: black;
    }

    .mobile-buttons-container {
        margin-top: 80px;        

        & > a {
            &:first-child {
                margin-right: 20px;
            }
        }
    }

    .bt {
        font-size:16px;
        margin-top: 30px;
    }
}

.half-block {

    .text-container {
        display: table-cell;
        vertical-align: middle;
        height: 285px;
        text-align: left;
        width: 100%;
        padding: 0 50px;
padding-top:20px;

        .description {
            margin-top: 40px;
            font-family: @strength-font-family;
            font-size: 18px;
            text-align: left;
        }

        h2 {
            margin: 10px 0;
            font-size: 28px;
        }

        a {
            float: left;
            margin-top: 20px;
        }
    }

    &.half-block-big {
        height: 363px;

        img {
            width: 100%;
            height: 363px;
        }
    }

    img {
        width: 100%;

        &.rounded-avatars {
            width: 123px;
            height: 123px;
            display: inline-block;
            border-radius: 50%;
            margin: 70px 10px 0 10px;
        }
    }
}

.fashion-background {
    background: url(/Content/images/new/landing/fashion-octavia.jpg) center center no-repeat;
    background-size: cover;
}

.macbook-background {
    background: url(/Content/images/new/landing/macbook.jpg) center center no-repeat;
    background-size: cover;
}

.row {
    &.no-margin {
        & > div {
            margin: 0;
            padding: 0;
        }
    }
}

.middle-main {
    padding: 80px 20px 80px 20px;
    text-align: center;

    .logo-center {
        width: 128px;
        margin-bottom: 30px;
    }
}

.white-text {
    color: white;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*END LANDING*/

.nicescroll-rails {
    border: 1px solid #4a4a4a;
    border-radius: 5px;

    .nicescroll-cursors { 
        border: none !important;
        background-color: #4a4a4a !important;
    }
}

.top-ads-container {
    margin: 10px 0;
}

.side-ads-container {
    margin: 15px 0 0 15px;
}

.popover-content {
    color: black;
    white-space: nowrap;
    font-size: 12px;
    padding: 3px 8px;
    font-family: @strength-font-family;
}

.upcomings, .live-now {
    h1 {
        color: white !important;
    }

    .categories ul.nav-tabs > li > a {
        color: white;
    }
}

#Category2, #Category3 {
    display: none;
}