﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.ChangePasswordViewModel

<div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center">
        @using (Ajax.BeginForm("ChangePassword", "Manage", null, new AjaxOptions
        {
            HttpMethod = FormMethod.Post.ToString(),
            OnSuccess = "OnChangePasswordSuccess"
        }, new { @class = /*modal-content */"form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <!--
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@StringHelper.Translate("Change password")</h4>
                </div>
                <div class="modal-body">
                -->
            <div class="form-group">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = StringHelper.Translate("Current password") })
                @Html.ValidationMessageFor(x => x.OldPassword)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = StringHelper.Translate("New password") })
                @Html.ValidationMessageFor(x => x.NewPassword)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = StringHelper.Translate("Confirm password") })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)
            </div>
            <div class="form-errors form-group"></div>
            <!--
            </div>
                <div class="modal-footer">-->
            <div class="form-group">
                <button type="submit" class="bt bt-purple" data-alt-text="@StringHelper.Translate("Saved")">
                    @StringHelper.Translate("Save")
                </button>
            </div>
            <!-- </div>-->
        }
    </div>
</div>
<script>
    function OnChangePasswordSuccess(data, $modal, $form) {
        //$modal.modal('hide');
        function changeText($btn) {
            var text = $btn.text();
            var altText = $btn.attr('data-alt-text');
            $btn.text(altText);
            $btn.attr('data-alt-text', text);
            if ($btn.attr('disabled'))
                $btn.removeAttr('disabled');
            else
                $btn.attr('disabled', 'disabled');
        }

        var $submit = $form.find('[type="submit"]');
        console.log($submit);
        changeText($submit);

        setTimeout(function () {
            changeText($submit);
        }, 5000);
    }
</script>
