﻿@model SayYeahTV.Web.Models.ManageLoginsViewModel

<div class="row">
    <div class="col-xs-12 text-center">
        <img src="/Content/images-new/indian_railway.svg" alt="flash" style="width: 140px;"/>
        <h4 class="connect-header">Don't Be A #ForeverAlone</h4>
        <div class="connect-text">Connect and share with the rest of your crew</div>
        @if (Model.OtherLogins.Any())
        {
            using (Html.BeginForm("LinkLogin", "Manage"))
            {
                @Html.AntiForgeryToken()
                foreach (var account in Model.OtherLogins.OrderBy(a => a.AuthenticationType))
                {
                    switch (account.AuthenticationType)
                    {
                        case "Facebook":
                            <button type="submit" value="Facebook" name="provider" class="bt bt-dark-blue">ConnectFacebook</button>
                            break;
                        case "Google":
                            <button type="submit" value="Google" name="provider" class="bt bt-red">ConnectGoogle+</button>
                            break;
                    }
                }
            }
        }
    </div>
    <div class="col-xs-12 text-center">
        @if (Model.CurrentLogins.Any())
        {

            foreach (var account in Model.CurrentLogins.OrderBy(a => a.LoginProvider))
            {
                switch (account.LoginProvider)
                {
                    case "Facebook":
                        using (Html.BeginForm("RemoveLogin", "Manage"))
                        {
                            @Html.Hidden("loginProvider", account.LoginProvider)
                            @Html.Hidden("providerKey", account.ProviderKey)
                            @Html.AntiForgeryToken()
                                <button type="submit" value="Facebook" name="provider" class="bt bt-dark-blue bt-inverse"
                                        @if (!ViewBag.ShowRemoveButton)
                                        {
                                            @: disabled="disabled" title="You can`t disconnect Facebook beacause it`s you primary authentication method"
                                        }
                                        >DisconnectFacebook</button>
                        }
                        break;
                    case "Google":
                        using (Html.BeginForm("RemoveLogin", "Manage"))
                        {
                            @Html.Hidden("loginProvider", account.LoginProvider)
                            @Html.Hidden("providerKey", account.ProviderKey)
                            @Html.AntiForgeryToken()
                                <button type="submit" value="Google" name="provider" class="bt bt-red bt-inverse"
                                        @if (!ViewBag.ShowRemoveButton)
                                        {
                                            @: disabled="disabled" title="You can`t disconnect Google+ beacause it`s you primary authentication method"
                                        }
                                        >DisconnectGoogle+</button>
                        }
                        break;
                }
            }
        }
    </div>
</div>