﻿@using SayYeahTV.DataAccess.Enums
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.Web.Helpers
@using Roles = SayYeahTV.DataAccess.Enums.Roles
@model Dictionary<NotificationEventType, SayYeahTV.Web.Models.NotificationTypes>

@helper NotificationCheckboxes(NotificationEventType notificationEventType)
{
    string key = string.Format("Notifications[{0}].Key", (int)notificationEventType);
    string emailValue = string.Format("Notifications[{0}].Value.Email", (int)notificationEventType);
    string smsValue = string.Format("Notifications[{0}].Value.Sms", (int)notificationEventType);
    string inSiteValue = string.Format("Notifications[{0}].Value.InSite", (int)notificationEventType);

    <td>
        @if (notificationEventType != NotificationEventType.Newsletters)
        {
            <input type="hidden" name="@key" value="@notificationEventType" />
            <input id="@inSiteValue" class="css-checkbox" type="checkbox" value="true" name="@inSiteValue" @(Model[notificationEventType].InSite ? "checked=\"checked\"" : "")/>
            <label for="@inSiteValue" class="css-label"></label>
            <input type="hidden" value="false" name="@inSiteValue" />
        }
    </td>
    <td>
        <input type="hidden" name="@key" value="@notificationEventType" />
        <input id="@emailValue" class="css-checkbox" @if (notificationEventType == NotificationEventType.Newsletters) { <text> disabled="disabled" </text>   } type="checkbox" value="true" name="@emailValue" @(Model[notificationEventType].Email ? "checked=\"checked\"" : "") />
        <label for="@emailValue" class="css-label"></label>
        <input type="hidden" value="false" name="@emailValue" />
    </td>
    <td>
        @if (notificationEventType != NotificationEventType.Newsletters)
        {
            <input type="hidden" name="@key" value="@notificationEventType"/>
            <input disabled="disabled" id="@smsValue" class="css-checkbox" type="checkbox" value="true" name="@smsValue" @(Model[notificationEventType].Sms ? "checked=\"checked\"" : "")/>
            <label for="@smsValue" class="css-label"></label>
            <input type="hidden" value="false" name="@smsValue"/>
        }
    </td>
}

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        @using (@Ajax.BeginForm("SaveNotificationSettings", "Manage", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "OnSaveNotificationSettings"
        }))
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <thead>
                <tr>
                    <th>NOTIFY ME</th>
                    <th class="text-center"><i class="sficon-bell"></i></th>
                    <th class="text-center"><i class="sficon-sms"><span class="path1"></span><span class="path2"></span></i></th>
                    <th class="text-center"><i class="sficon-phone"></i></th>                    
                </tr>
                </thead>
                <tbody class="text-center">
                <tr>
                    <td class="text-cell">When I get a new follower</td>
                    @NotificationCheckboxes(NotificationEventType.GotNewFollower)
                </tr>
                <tr>
                    <td class="text-cell">When a broadcast I follow goes live</td>
                    @NotificationCheckboxes(NotificationEventType.WebshowGoesLive)
                </tr>
                <tr>
                    <td class="text-cell">When a broadcast I follow schedules an upcoming stream</td>
                    @NotificationCheckboxes(NotificationEventType.WebshowSchedulesNewStream)
                </tr>
                <tr>
                    <td class="text-cell">When a presenter I follow schedules an upcoming stream</td>
                    @NotificationCheckboxes(NotificationEventType.PresenterSchedulesNewStream)
                </tr>
                <tr>
                    <td class="text-cell">When a presenter I follow creates a new broadcast</td>
                    @NotificationCheckboxes(NotificationEventType.PresenterCreatesNewWebshow)
                </tr>
                <tr>
                    <td class="text-cell">When my friend invites me to a broadcast</td>
                    @NotificationCheckboxes(NotificationEventType.FriendInvitesToWebshow)
                </tr>
                <tr>
                    <td class="text-cell">When my friend from Facebook joins SayYeah</td>
                    @NotificationCheckboxes(NotificationEventType.FacebookFriendJoins)
                </tr>
                </tbody>
            </table>

            if (User.IsInAnyRoles(Roles.Presenter))
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>NOTIFY MY FOLLOWERS</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr>
                        <td class="text-cell">When I join a broadcast for longer than 1 minute</td>
                        @NotificationCheckboxes(NotificationEventType.PresenterJoinsWebshowLong)
                    </tr>
                    <tr>
                        <td class="text-cell">When I follow a broadcast</td>
                        @NotificationCheckboxes(NotificationEventType.PresenterFollowsWebshow)
                    </tr>
                    <tr>
                        <td class="text-cell">When I follow a presenter</td>
                        @NotificationCheckboxes(NotificationEventType.PresenterFollowsPresenter)
                    </tr>
                    <tr>
                        <td class="text-cell">When I subscribe to an upcoming stream</td>
                        @NotificationCheckboxes(NotificationEventType.PresenterSubscribesToEvent)
                    </tr>
                    </tbody>
                </table>
            }

            <table class="table">
                <thead>
                <tr>
                    <th>SAYYEAH NOTIFICATIONS</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr>
                    <td class="text-cell">SayYeah Hottest News, Competitions and Product Updates</td>
                    @NotificationCheckboxes(NotificationEventType.Newsletters)
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <button type="submit" class="bt bt-purple" data-alt-text="@StringHelper.Translate("Saved")">
                    @StringHelper.Translate("Save")
                </button>
            </div>
        }
    </div>
</div>
    
<script>
    function OnSaveNotificationSettings(data, $modal, $form) {

        function changeText($btn) {
            var text = $btn.text();
            var altText = $btn.attr('data-alt-text');
            $btn.text(altText);
            $btn.attr('data-alt-text', text);
            if ($btn.attr('disabled'))
                $btn.removeAttr('disabled');
            else
                $btn.attr('disabled', 'disabled');
        }

        var $submit = $form.find('[type="submit"]');
        console.log($submit);
        changeText($submit);

        setTimeout(function() {
            changeText($submit);
        }, 5000);

    }
</script>

