﻿@using SayYeahTV.Web.Models.Dto
@model IEnumerable<EventDto>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <div class="my-webshows text-center">
            <table class="table webshows-table">
                <tbody>
                    @foreach (var upcoming in Model)
                    {
                        <div class="text-left">
                            <div class="webshow-title">@upcoming.Title</div>
                            <div class="webshow-link">
                                <a href="@Url.Action("Show", "Channel", new {tag = upcoming.Channel.Tag})" class="colored">@upcoming.Channel.Name</a>
                            </div>
                            <div class="webshow-actions">
                                <a href="javascript: void(0)" data-modal="@Url.Action("SetEvent", "Channel", new {eventId = upcoming.EventId})" class="bt bt-xs bt-dark-gray">Edit</a>
                                <a href="javascript: void(0)" data-modal="@Url.Action("RemoveEvent", "Channel", new {eventId = upcoming.EventId})" class="bt bt-xs bt-light-gray">Delete</a>
                                <span class="event-date">
                                    <i class="sficon-calendar"></i>
                                    <span data-timestamp="@upcoming.StartDate.ToString("O")" data-format="DD/MM/YYYY"></span>
                                </span>
                                <span class="event-date">
                                    <i class="sficon-alarm-clock"></i>
                                    <span data-timestamp="@upcoming.StartDate.ToString("O")" data-format="HH:mm"></span>
                                </span>
                            </div>
                        </div>
                        <hr />
                    }
                </tbody>
            </table>
            <button type="button" data-modal="@Url.Action("SetEvent", "Channel")" class="bt bt-blue">ANNOUNCE NEW STREAM</button>
        </div>
    </div>
</div>
