﻿@model IEnumerable<SayYeahTV.Web.Models.Dto.ChannelDto>

<div class="row">
    <div class="col-xs-offset-2 col-xs-8">
        <div class="my-webshows text-center">
            <h2 class="webshows-note">Update properties of your broadcasts, get encoder settings for each one and create new broadcasts</h2>
            <table class="table webshows-table">
                <tbody>
                @foreach (var show in Model)
                {
                    <div class="webshow-item text-left">
                        <div class="webshow-title">@show.Name</div>
                        <div class="webshow-link"><a href="@Url.Action("Show", "Channel", new {tag = @show.Tag})" class="colored">www.sayyeah.tv/webshow/@show.Tag</a>
                        </div>
                        <div class="webshow-actions">
                            <a href="javascript: void(0)" data-modal="@Url.Action("SetShow", "Channel", new {showId = show.ChannelId})" class="bt bt-xs bt-dark-gray">Edit</a>
                            <a href="javascript: void(0)" data-modal="@Url.Action("DeleteChannel", "Channel", new {id = show.ChannelId})" class="bt bt-xs bt-light-gray">Delete</a>
                        </div>
                    </div>
                    <hr/>
                }

                </tbody>
            </table>
            <button type="button" data-modal="@Url.Action("SetShow", "Channel")" class="bt bt-purple">add new broadcast</button>
        </div>
    </div>
</div>

