﻿@using SayYeahTv.Dependencies
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.Web.Helpers
@using Roles = SayYeahTV.DataAccess.Enums.Roles
@model SayYeahTV.Web.Models.UserSettingsViewModel
@{
    ViewBag.Title = "Manage";
}

@Html.Action("UserInformation", "Profile")

<div class="row profile-settings">
    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-tabs-custom history-tab" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">profile</a></li>
            <li role="presentation"><a href="#security" aria-controls="profile" role="tab" data-toggle="tab" data-href="@Url.Action("ChangePassword", "Manage")">Password</a></li>
            @if (User.IsInAnyRoles(Roles.Presenter))
            {
                <li role="presentation"><a href="#my-webshows" aria-controls="profile" role="tab" data-toggle="tab" data-href="@Url.Action("WebShows", "Manage")">my broadcasts</a></li>
                <li role="presentation"><a href="#upcoming" aria-controls="profile" role="tab" data-toggle="tab" data-href="@Url.Action("Upcomings", "Manage")">upcoming</a></li>
            }
            <li role="presentation"><a href="#notifications" aria-controls="notifications" role="tab" data-toggle="tab" data-href="@Url.Action("Notifications", "Manage")">notifications</a></li>
            <li role="presentation"><a href="#social-sharing" data-href="@Url.Action("ManageLogins", "Manage")" aria-controls="social sharing" role="tab" data-toggle="tab">social sharing</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content profile-tabs">
            <div role="tabpanel" class="tab-pane active" id="profile">
@*                <div class="row">
                    <div class="col-xs-12 text-center user-picture">
                        @{
                            var avatar = ApplicationConfig.DefaultAvatar;
                            var avatarSet = false;
                            if (!string.IsNullOrEmpty(Model.Photo))
                            {
                                avatar = Model.Photo;
                                avatarSet = true;
                            }
                        }
                        <img src="@avatar" alt="User picture" class="img-circle"/>
                        @if (!avatarSet)
                        {
                            <div class="picture-overlay">
                                <div class="upload-text">
                                    Upload Picture
                                </div>
                                <div class="upload-size">
                                    (200x200px)
                                </div>
                            </div>
                        }
                    </div>
                </div>*@
@*                <div class="row user-name">
                    <div class="col-xs-12 text-center">
                        <div class="name">@Model.FullName</div>
                        <a href="@Url.Action("Index", "Profile", new { name = Model.UserName })">
                            <strong>@(Url.Action("Index", "Profile", null, Request.Url.Scheme).Replace("http://", "www.").ToLower() + "/" + Model.UserName.ToLower())</strong>
                        </a>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4 text-center">
                        @using (@Ajax.BeginForm("SaveSettings", "Manage", null, new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "OnSaveSettings"
                            
                        }, new {@class = "user-form", id = "profile-save-settings-form"}))                        
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.Photo)
                            
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                            </div>
                            <div class="form-group">
                                @Html.EnumDropDownListFor(m => m.Gender, new { @class = "form-control" })                            
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control datepicker", placeholder = StringHelper.Translate("Birthday"), autocomplete = "off" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Location" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.AllowLocationDiscover) Allow your physical location to discover Events or Users NEAR YOU.
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.About, new { @class = "form-control", rows = "4", placeholder = "About Me Tell the world how awesome you are and that you have the #SayYeahStyle" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })                            
                                <div class="note">www.sayyeah.tv/profile/<span id="profile-settings-username"></span>/</div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Email" value="@Model.Email" disabled="disabled" />
                            </div>
                            <!--
                                <div class="form-group">
                                    <a href="javascript: void(0)" data-modal="@Url.Action("ChangePassword", "Manage")">
                                        @StringHelper.Translate("ChangePassword")
                                    </a>
                                </div>
                            -->
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPhoto, StringHelper.Translate("Change picture") + "(200x200px)")
                                @Html.TextBoxFor(m => m.NewPhoto, new { type = "file" })
                            </div>
                            <div class="form-errors"></div>
                            <button type="submit" class="bt bt-purple" data-alt-text="Saved">Save</button>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="security"></div>
            <div role="tabpanel" class="tab-pane" id="my-webshows"></div>
            <div role="tabpanel" class="tab-pane" id="upcoming"></div>
            <div role="tabpanel" class="tab-pane notifications" id="notifications"></div>
            <div role="tabpanel" class="tab-pane social-sharing" id="social-sharing"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        var $profileSaveSettingsForm = $('#profile-save-settings-form');

        $profileSaveSettingsForm.find('[name="UserName"]').keyup(function () {
            var val = $(this).val();
            val = val.trim().replace(/\s/gi, '_').replace(/[\W]/gi, '');
            $(this).val(val);
            $profileSaveSettingsForm.find('#profile-settings-username').text(val);
        }).keyup();

        function OnSaveSettings(data, $modal, $form) {
            console.log(data);

            function changeText($btn) {
                var text = $btn.text();
                var altText = $btn.attr('data-alt-text');
                $btn.text(altText);
                $btn.attr('data-alt-text', text);
                if ($btn.attr('disabled'))
                    $btn.removeAttr('disabled');
                else
                    $btn.attr('disabled', 'disabled');
            }

            var $submit = $form.find('[type="submit"]');
            console.log($submit);
            changeText($submit);

            setTimeout(function() {
                changeText($submit);
            }, 5000);

        }
    </script>
}
