﻿@using System.Web.Mvc.Html
@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.SearchResultViewModel

@{
    ViewBag.Title = "Search";
}


<section class="search-page">
    @Html.Partial("_TopHorizontalAds")

    <div class="search-results">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="search-title text-center">@StringHelper.Translate("Search term") &quot;@Model.Term&quot;</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#search-webshows" aria-controls="search-live" role="tab" data-toggle="tab">
                            Broadcasts
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#search-users" aria-controls="search-users" role="tab" data-toggle="tab" data-limit="@ViewBag.ItemsLimit"
                           data-href="@Url.Action("GetUsers", "Search", new { term = Model.Term })">
                            Users
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-content-custom">
                    <div role="tabpanel" id="search-webshows" class="tab-pane active">
                        <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
                            <li role="presentation">
                                <a href="#search-recent" aria-controls="search-recent" role="tab" data-toggle="tab" data-limit="@ViewBag.ItemsLimit"
                                   data-href="@Url.Action("GetRecent", "Search", new {term = Model.Term})">
                                    Previous
                                </a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#search-live" aria-controls="search-live" role="tab" data-toggle="tab" data-limit="@ViewBag.ItemsLimit" data-loaded="1"
                                   data-href="@Url.Action("GetLive", "Search", new {term = Model.Term})">
                                    Live now
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#search-upcoming" aria-controls="search-upcoming" role="tab" data-toggle="tab" data-limit="@ViewBag.ItemsLimit"
                                   data-href="@Url.Action("GetUpcomings", "Search", new {term = Model.Term})">
                                    Upcoming
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#search-top" aria-controls="search-upcoming" role="tab" data-toggle="tab" data-limit="@ViewBag.ItemsLimit"
                                   data-href="@Url.Action("GetTop", "Search", new {term = Model.Term})">
                                    Top
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content tab-content-custom">
                            <div role="tabpanel" id="search-recent" class="tab-pane"></div>
                            <div role="tabpanel" id="search-live" class="tab-pane active">
                                @Html.Partial("_BroadcastsPartial", @Model.Broadcasts)
                            </div>
                            <div role="tabpanel" id="search-upcoming" class="tab-pane"></div>
                            <div role="tabpanel" id="search-top" class="tab-pane"></div>
                        </div>
                    </div>
                    <div role="tabpanel" id="search-users" class="tab-pane">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>