﻿@using SayYeahTV.Web.Helpers
@model List<SayYeahTV.Web.Models.Dto.UserDto>

<ul class="carousel" data-carousel-items="6" data-carousel-margin="20" data-carousel-dots="false">
    @if (Model != null)
    {
        foreach (var user in Model)
        {
            <li class="counted-item">
                @Html.Partial("_MemberPartial", user)
            </li>
        }
    }
</ul>
