﻿@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models.Enums
@model SayYeahTV.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

@if (Model.SkipLanding)
{

    <section id="main-page" class="row">
        <div class="background-holder inside">
            <div class="top-ads-container">
                @Html.Partial("_TopHorizontalAds")
            </div>


            @if (Model.Show != null)
            {

                <div class="background-embed">
                    @Html.Partial("~/Views/Channel/_WebShowPartial.cshtml", Model.Show)
                </div>

            }
            <div class="clearfix"></div>
        </div>
        <section id="categories" class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-center">
                    @Html.Partial("_CategoryBroadcastsPartial", Model.CategoryBroadcasts)
                </div>
            </div>
        </section>

        <section id="streamers-host" class="col-xs-12">
            <h2>Streamers Host</h2>
            <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
                <li role="presentation" class="active">
                    <a href="#streamers-all" role="tab" aria-controls="recent" data-toggle="tab" data-loaded="1">
                        @StringHelper.Translate("All")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#streamers-new" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetStreamers", "Home", new {type = TabTypes.New})">
                        @StringHelper.Translate("New")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#streamers-top" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetStreamers", "Home", new {type = TabTypes.Top})">
                        @StringHelper.Translate("Top")
                    </a>
                </li>
            </ul>
            <div class="tab-content user-info-tabs">
                <div role="tabpanel" class="tab-pane active" id="streamers-all">
                    @Html.Partial("_StreamersHostPartial", Model.Shows)
                </div>
                <div role="tabpanel" class="tab-pane" id="streamers-new"></div>
                <div role="tabpanel" class="tab-pane" id="streamers-top"></div>
            </div>
        </section>

        <section id="people" class="col-xs-12">
            <h2>Members</h2>
            <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
                <li role="presentation" class="active">
                    <a href="#people-all" role="tab" aria-controls="recent" data-toggle="tab" data-loaded="1">
                        @StringHelper.Translate("All")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#people-new" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetPeople", "Home", new {type = TabTypes.New})">
                        @StringHelper.Translate("New")
                    </a>
                </li>
                <li role="presentation">
                    <a href="#people-top" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetPeople", "Home", new {type = TabTypes.Top})">
                        @StringHelper.Translate("Top")
                    </a>
                </li>
            </ul>
            <div class="tab-content user-info-tabs">
                <div role="tabpanel" class="tab-pane active" id="people-all">
                    @Html.Partial("_UsersHomePartial", Model.Users)
                </div>
                <div role="tabpanel" class="tab-pane" id="people-new"></div>
                <div role="tabpanel" class="tab-pane" id="people-top"></div>
            </div>
        </section>
    </section>
}
else
{
    <style>
        @@media (min-width: 1200px) {
            .container {
                width: 100%;
            }
        }
    </style>

    <section id="landing">
        <div class="row no-margin">
            <div class="col-sm-12">
                <div class="text-center layout-main">

                    <img class="main-logo" src="/Content/images-new/indian_railway.svg" alt="logo" />

                    <h1 class="caption">Rail <span>Connect</span></h1>
                    <h1 class="sub-caption">Connect to the people</h1>

                    <h1 class="text-caption">Project Rail Connect</h1>
                    <p class="text">
                        Keeping in mind the Minister words - Bettering the lives of people by using tools - we would like to offer a way to connect to the people.
                        Bring them together by interacting together and having an unbridged experiance even though they are far appart
                    </p>


                    <a href="@Url.Action("WatchVideos")" class="bt bt-md bt-violet-dark">GO TO SITE</a>
                    @*<div class="mobile-buttons-container">
                            <a target="_blank" href="http://bit.ly/1ObCNXm">
                                <img src="/Content/images/new/landing/google-play.png"/>
                            </a>
                            <a target="_blank" href="http://bit.ly/1ZeDiSt">
                                <img src="/Content/images/new/landing/apple-store.png" />
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="row no-margin dynamic-height-block">
            <div class="col-sm-6">
                <div class="half-block">
                    <img src="~/Content/images-new/landing/img_1.png" />
                </div>
            </div>
            <div class="col-sm-6 gradient-background">
                <div class="half-block white-text">
                    <div class="text-container">
                        <h2><strong>Public Launches</strong></h2>
                        <h2>New Train Launch by Minister of Railways</h2>
                        <p class="description">
                            Prime Minister Narendra Modi and Minister for Railways Suresh Prabhu flagged off Hazaribagh-Koderma DMU train after inaugurating Hazaribagh town railway station in Hazaribagh.
                            Both inaugurated the station and flagged off the train from the dais where he addressed the public.
                            The project, which started 16 years ago, is the first stage of the Hazaribagh-Koderma-Barkakana-Ranchi railway line of the East-Central Railway.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-margin dynamic-height-block">
            <div class="col-sm-6 gradient-background">
                <div class="half-block white-text">
                    <div class="text-container">
                        <h2>
                            <strong>Press Conferences and Interviews</strong>
                        </h2>
                        <h2>Interview with Union Rail Minister</h2>
                        <p class="description">
                            We have begun a process of addressing systemic issues: Suresh Prabhu.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="half-block">
                    <img src="~/Content/images-new/landing/img_2.png" />
                </div>
            </div>
        </div>

        <div class="row no-margin dynamic-height-block">
            <div class="col-sm-6">
                <div class="half-block">
                    <img src="~/Content/images-new/landing/img_3.png" />
                </div>
            </div>
            <div class="col-sm-6 gradient-background">
                <div class="half-block white-text">
                    <div class="text-container">
                        <h2><strong>GM Conference and Internal Meeting</strong></h2>
                        <h2>Railways orders zone-wise audit of its online system to prevent cyber attack</h2>
                        <p class="description">
                            "We have ordered for a cyber audit of the entire online network linked with the rail operation in India. Audit will be conducted in each of the 16 zones of Indian Railways and measures will be taken to make the system foolproof," Prabhu said.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-margin dynamic-height-block">
            <div class="col-sm-6 gradient-background">
                <div class="half-block white-text">
                    <div class="text-container">
                        <h2>
                            <strong>Internal Trainings</strong>
                        </h2>
                        <h2>Railway staff to be trained in soft skills</h2>
                        <p class="description">
                            Under its skill development initiative, the Northern Railways Ambala division has identified a training centre in Panchkula that will not be used to hone skills of the department employees but unemployed youth as well.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="half-block">
                    <img src="~/Content/images-new/landing/img_4.jpg" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="middle-main">
                    <img class="logo-center" src="/Content/images-new/indian_railway.svg" alt="logo" />
                    <h1>INDIAN RAILWAY</h1>
                    <h1>
                        <strong>REVOLUTIONISING THE WAY</strong>
                    </h1>
                    <h1>PEOPLE CONNECT</h1>
                </div>
            </div>
        </div>

        @*<div class="row no-margin fashion-background">
                <div class="col-sm-6">
                    <div class="half-block">
                        <div class="text-container">
                            <h2>
                                <strong>YOUR FAVOURITE</strong>
                            </h2>
                            <h2>FASHION STARS</h2>
                            <p class="description">
                                Do makeup live and together with the biggest fashion experts. Ask them for tips, hear their confessions
                                and look great together.
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@
        @*<div class="row">
                <div class="col-sm-12">
                    <div class="middle-main">
                        <img class="logo-center" src="/Content/images/new/rayo-gafas.png" alt="logo" />
                        <h1>
                            <strong>REVOLUTIONISING THE WAY</strong>
                        </h1>
                        <h1>YOU WATCH CONTENT</h1>
                    </div>
                </div>
            </div>*@
        @*<div class="row">
                <div class="col-sm-12 no-margin">
                    <div class="col-sm-6">
                        <div class="half-block">
                            <img src="/Content/images/new/landing/gabo.jpg" alt="" class="rounded-avatars" />
                            <img src="/Content/images/new/landing/marcela.jpg" alt="" class="rounded-avatars" />
                            <img src="/Content/images/new/landing/laura.jpg" alt="" class="rounded-avatars" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="half-block">
                            <div class="text-container">
                                <h2>
                                    <strong>FOLLOW PEOPLE</strong>
                                </h2>
                                <h2>YOU ADMIRE</h2>
                                <p class="description">Follow your favourite presenters and never miss their live streamings by getting notifications when they go live.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-margin macbook-background">
                <div class="col-sm-6">
                    <div class="half-block white-text half-block-big">
                        <div class="text-container">
                            <h2>
                                <strong>IT’S ALL ABOUT LIVING</strong>
                            </h2>
                            <h2>THE MOMENT TOGETHER</h2>
                            <p class="description">
                                Live the moments you love together with your friends.
                                Sending emojis to your friends – really? Would you love to see their face and reaction? Rail Connect has changed the world forever, now you can watch together.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-margin">
                <div class="col-sm-6">
                    <div class="half-block half-block-big">
                        <img src="/Content/images/new/landing/teen-tablets.jpg" alt="webshow" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="half-block half-block-big">
                        <div class="text-container">
                            <h2>
                                <strong>LIFE IS FOR SHARING</strong>
                            </h2>
                            <h2>WITH FRIENDS</h2>
                            <p class="description">
                                Invite them from your social networks. Watch live streamings together and share the ones you like
                                the most.
                            </p>
                            <a href="javascript: void(0)" data-modal="/Account/Register" class="bt bt-violet">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>*@
    </section>
}