﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test page</title>
</head>
<body>
<div style="width: 500px; margin: 100px auto">
    <h2>
        Video test
    </h2>
    <div id="player"></div>
</div>

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/common")


<script type="text/javascript">
    App.Settings = {
        //wowzaLbPatternUrl: 'AppSettings.WowzaViewerLbUrl',
        //staticContentBaseLink: 'AppSettings.GetStaticContentBaseLink("")',
        playerLogo: '/Content/images/sy_placeholder.png',
        mobeyeIco: '/Content/images/sy_ico.png',
        loginModalUrl: '@Url.Action("Login", "Account")'
    };

    App.isAuth = '@Request.IsAuthenticated' == 'True';

    jwplayer.key = "VV9Alx+BYZ27fpJL7xkZqaJvDhMU8kmjY1mZzA=="; // Premium

    App.VideoPlayer.Set('player', {
        file: 'http://techslides.com/demos/sample-videos/small.mp4',
        advertising: {
            client: 'googima',
            tag: 'http://googleads.g.doubleclick.net/pagead/ads?ad_type=video&client=ca-video-pub-4968145218643279&videoad_start_delay=0&description_url=http%3A%2F%2Fwww.google.com&max_ad_duration=40000&adtest=on​​​'
        }
    });
</script>

</body>
</html>

