﻿@using SayYeahTV.Web.Helpers
@model IEnumerable<SayYeahTV.Web.Models.Dto.EventDto>

@{
    ViewBag.Title = "Upcoming streams";
}

<section id="categories" class="upcomings">
    @Html.Partial("_TopHorizontalAds")
    
    <div class="categories">

        <div class="row">
            <div class="col-xs-12">
                <h1 class="category-title text-center">@StringHelper.Translate("Upcoming streams")</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs nav-tabs-custom hidden" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#category-upcoming" aria-controls="category-upcoming" role="tab" data-toggle="tab"
                           data-href="@Url.Action("GetEvents", "Home")"
                           data-limit="@ViewBag.EventsLimit" data-loaded="1">
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-content-custom">
                    <div role="tabpanel" id="category-upcoming" class="tab-pane active">
                        @Html.Partial("_EventsPartial", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>