﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.RemoveRecordingViewModel

@using (Ajax.BeginForm("RemoveRecording", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnRemoveRecordingSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Delete episode")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <div class="form-errors"></div>
    </div>
    <div class="modal-footer">
        <h5>
            Save cyber trees and remove this episode?
        </h5>
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="@StringHelper.Translate("Delete")"/>
        </div>
    </div>
}

<script>
    function OnRemoveRecordingSuccess(data, $modal) {
        $modal.modal('hide');
        $('[data-recording-id="@Model.Id"]').remove();
    }
</script>


