﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.RemoveEventViewModel

@using (Ajax.BeginForm("DeleteChannel", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnRemoveChannelSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Delete channel")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <h6>
            It`s OK, things change in live
        </h6>
        <div class="form-errors"></div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="@StringHelper.Translate("Delete channel")" />
        </div>
    </div>
}

<script>
    function OnRemoveChannelSuccess(data, $modal) {
        $modal.modal('hide');
        $('[data-channel-id="@Model.Id"]').remove();
    }
</script>


