﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.RenameRecordingViewModel

@using (Ajax.BeginForm("RenameRecording", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnRenameRecordingSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Rename episode")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <h5>
            I thought of a much better and catchier title
        </h5>
        <div class="form-group">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Current episode title") } })
        </div>
        <div class="form-errors"></div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="@StringHelper.Translate("Rename")" />
        </div>
    </div>
}

<script>
    function OnRenameRecordingSuccess(data, $modal, $form) {
        $modal.modal('hide');
        $('[data-recording-id="@Model.Id"]').find('.video-name').text(
            $form.find('[name="Name"]').val()
        );
    }
</script>


