﻿@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models
@model SetShowViewModel

@using (Ajax.BeginForm("SetShow", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnSetShowSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
    enctype = "multipart/form-data",
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate(Model.Id == 0 ? "Create new broadcast" : "Edit broadcast")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)

        <div class="">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Broadcast Name") } })
        </div>
        <h6 style="text-align: left">
            www.sayyeah.tv/show/webshowname
        </h6>
        <div class="form-group">
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Broadcast Description") } })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category1,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #1",
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category2,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #2",
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category3,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #3",
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Logo, StringHelper.Translate("Logo") + "(90x60px)")
            @Html.TextBoxFor(m => m.Logo, new { type = "file" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Background, StringHelper.Translate("Background") + "(1440x900px)")
            @Html.TextBoxFor(m => m.Background, new {type = "file"})
        </div>
        <div class="form-group">
            <h6>
                Creating new Broadcast you agree to our terms and conditions
            </h6>
        </div>
        <div class="form-group">
            <div class="form-errors"></div>
        </div>
        <div class="form-group">
            <input type="submit" class="bt bt-purple" value="@StringHelper.Translate(Model.Id == 0 ? "Yeah! Let`s create it" : "Yeah! Let`s change it")" />
        </div>
    </div>
}

<script>

    function OnSetShowSuccess(data) {
        if (data.Url)
            location.assign(data.Url);
        else
            location.reload();
    }
</script>

