﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.SetPrivateShowViewModel

@using (Ajax.BeginForm("CreatePrivateSession", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnCreatePrivateSessionSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Launch new private session")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ChannelId)
        
        <fieldset style="height: 300px; overflow-y: scroll ">
            <legend>Friends</legend>
            
            @foreach (var member in Model.Candidates)
            {
                <div>
                    <label>
                        <input type="checkbox" value="@member.Id" name="CandidatesAccepted" />
                        @member.FullName
                    </label>
                </div>
            }
        </fieldset>


        <div class="form-errors"></div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <input type="submit" class="btn btn-block" value="@StringHelper.Translate("Let`s create it")" />
        </div>
    </div>
}

<script>
    function OnCreatePrivateSessionSuccess(data, $modal) {
        if (data.Url)
            location.assign(data.Url);
        else {
            alert('Error');
        }
    }
</script>

