﻿@using SayYeahTV.Web.Helpers
@model SayYeahTV.Web.Models.SetEventViewModel

@using (Ajax.BeginForm("SetEvent", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnSetEventSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form", 
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Announce new stream")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.TimeZoneOffsetMinutes)

        <div class="form-group">
            @Html.DropDownListFor(m => m.ShowId,
                selectList: Model.Shows,
                optionLabel: StringHelper.Translate("Choose Broadcast"),
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
        <div class="form-group">
            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Title") }})
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control datetimepicker", placeholder = StringHelper.Translate("Start date and time") })
        </div>
        <div class="form-group">
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Description") }})
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category1,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #1",
                htmlAttributes: new { @class = "form-control"}
            )
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category2,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #2",
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category3,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #3",
                htmlAttributes: new {@class = "form-control"}
                )
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Logo, StringHelper.Translate("Logo"))
            @Html.TextBoxFor(m => m.Logo, new { type = "file" })
        </div>
        <div class="form-group">
            <div class="form-errors"></div>
        </div>
        <div class="form-group">
            <input type="submit" class="bt bt-purple"  value="@StringHelper.Translate("Yeah! Let`s announce it")" />
        </div>
    </div>
}

<script>
    $('[name="TimeZoneOffsetMinutes"]').val(new Date().getTimezoneOffset());

    function OnSetEventSuccess(data, $modal) {
        $modal.modal('hide');
    }
</script>


