﻿@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models
@using SayYeahTV.Web.Models.Enums
@model SetBroadcastViewModel

@using (Ajax.BeginForm("SetBroadcast", "Channel", new AjaxOptions
{
    HttpMethod = FormMethod.Post.ToString(),
    OnSuccess = "OnSetBroadcastSuccess"
}, new { 
    @class = "modal-content form", 
    role = "form",
    id = "setBroadcastModal"
}))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@StringHelper.Translate("Name new broadcast")</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Stream Name") }})
        </div>
        <div class="form-group">
            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = StringHelper.Translate("Stream Description") }})
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category1,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #1",
                htmlAttributes: new { @class = "form-control"}
            )
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category2,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #2",
                htmlAttributes: new { @class = "form-control" }
            )
        </div>
        <div class="form-group">
            @Html.DropDownListFor(m => m.Category3,
                selectList: Model.Categories,
                optionLabel: StringHelper.Translate("Hashtag") + " #3",
                htmlAttributes: new { @class = "form-control"}
            )
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.WithRecord)
            @Html.LabelFor(m => m.WithRecord, StringHelper.Translate("Save live stream in your broadcast"))
            <i class="fa fa-question-circle" data-helper="vod" data-toggle="tooltip" title="As soon as you finish your live stream, the whole video will be automatically available for VOD (Video On Demand). Magic:)"></i>
        </div>
        <div class="form-group">
            <div class="form-errors"></div>
        </div>
        <div class="form-group">
            <button type="submit" name="GoLiveType" class="bt bt-purple" value="@GoLiveTypes.Camera" style="width: 100%">
                <!--<i class="sicon sicon-cam"></i>&nbsp;&nbsp;&nbsp;-->
                @StringHelper.Translate("Go live with camera")
            </button>
            <button type="submit" name="GoLiveType" class="bt bt-violet" value="@GoLiveTypes.Encoder"style="width: 100%; margin-top: 20px">
                @StringHelper.Translate("Go live with encoder")
            </button>
        </div>
    </div>
}

<script>
    $('[data-helper="vod"]').tooltip();

    $('#setBroadcastModal').closest('.modal').on('hidden.bs.modal', function (e) {
        location.hash = '';
    });


    function OnSetBroadcastSuccess(data, $modal) {
        if (data.Data) {
            $modal.modal('hide');
            if (data.Data.Type && data.Data.Type.toLowerCase() === 'encoder') {
                var $modalNew = $('#modal-encoder');
                $modalNew.find('#modal-encoder-rtmp-url').val(data.Data.PublishingUrl);
                $modalNew.find('#modal-encoder-stream-name').val(data.Data.FileName);
                $modalNew.modal();
            }
            else {
                loadBroadcaster(data.Data.Uid, data.Data.FileName, data.Data.PublishingUrl, data.Data.IsRecord);
            }   
            //App.Broadcaster.Start( data.Broadcast.WithRecord ? 'recording' : null);
        }
        else {
            alert('Error');
        }
    }
</script>

