﻿@using Microsoft.AspNet.Identity
@using SayYeahTV.DataAccess.Enums
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.DataAccess.Models
@using SayYeahTv.Dependencies.Services
@using SayYeahTV.Web.Helpers
@using Roles = SayYeahTV.DataAccess.Enums.Roles
@model SayYeahTV.Web.Models.Dto.ChannelDto
    
@{
    var IsGroup = Model.Type == ChannelTypes.ChannelGroup;
}

<div id="sharing-data" style="display: none;">
    <div data-tw-description></div>
    <div data-link></div>
</div>

<section id="show-wrap" class="col-xs-12">

    <div class="row" id="video-wrap">

        <section class="col-xs-8">

            <div id="video" class="row"></div>
        </section>



        <section id="show-info" class="col-xs-4">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#video-info" role="tab" aria-controls="recent" data-toggle="tab">
                        <i class="sficon-camera"></i>
                        Broadcast
                    </a>
                </li>
                <li role="presentation">
                    <a href="#chat-messages" role="tab" aria-controls="recent" data-toggle="tab">
                        <i class="sficon-messages"></i>
                        Chat(<span id="messages-counter">0</span>)
                    </a>
                </li>
                <li role="presentation">
                    <a href="#chat-chatters" role="tab" aria-controls="recent" data-toggle="tab">
                        <i class="sficon-guests"></i>
                        Guests
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="video-info">
                    <div>
                        <div class="share-button-container pull-right">
                            <a href="javascript:void(0)" class="share-button"></a>
                        </div>
                        <a href="@Model.User.GetLink()" class="pull-left" style="margin-right: 10px">
                            <img class="img-circle user-avatar" src="@Model.User.Photo" alt="@Model.User.UserName" title="@Model.User.UserName"/>
                        </a>
                        <div>
                            <div>
                                <a href="@Model.User.GetLink()" class="user-name">
                                    @Model.User.FullName
                                </a>
                            </div>
                            <div>
                                <a href="javascript: void(0)"
                                   class="bt bt-xs bt-violet"
                                   data-alt-class="bt-inverse"
                                   data-state="@(ViewBag.IsOwnerFollower ? "1" : "0")"
                                   data-alt-text="@StringHelper.Translate("Followed")"
                                   data-change-state="@Url.Action("Follow", "Home", new {followId = Model.User.Id})">
                                    @StringHelper.Translate("Follow")
                                </a>
                                <span class="followers-text"><span>@Model.User.FollowersNumber</span> @StringHelper.Translate("followers")</span>
                            </div>
                        </div>
                    </div>
                    <h2>
                        <a href="@Model.GetLink()">
                            @Model.Name
                        </a>
                    </h2>
                    <h3 id="broadcast-name">
                        
                    </h3>
                    <div>
                        <a href="javascript: void(0)"
                           class="bt bt-xs bt-violet"
                           data-alt-class="bt-inverse"
                           data-change-state="@Url.Action("Follow", "Channel", new {channelId = Model.ChannelId})"
                           data-state="@(ViewBag.IsChannelFollower ? "1" : "0")"
                           data-alt-text="@StringHelper.Translate("Followed")">
                            @StringHelper.Translate("Follow")
                        </a>
                        <span class="followers-text"><span>@Model.FollowersNumber</span> @StringHelper.Translate("followers")</span>

                    </div> 

                    <div class="tags">
                        @if (Model.Categories != null)
                        {
                            foreach (var category in Model.Categories)
                            {
                                @Html.RouteLink("#" + category.Name, "Category", new {tag = category.Name}, new {@class = "bt bt-xs bt-inverse bt-silver"})
                            }
                        }
                    </div>
                    <div class="webshow-buttons-container">
                        <button data-check-auth="1" id="video-broadcast-btn" class="bt bt-navy">
                            <i class="sficon-camera"></i>
                            <span>Join live</span>
                        </button>
                        <button data-check-auth="1" class="bt bt-blue invite-friends">
                            + Invite friends
                        </button>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="chat-messages">
                    <div class="chat-frame"></div>
                    <form class="form">
                        <div class="input-group">
                            <input type="text" autocomplete="off" data-check-auth="1" disabled="disabled" name="message" placeholder="It's time to chat" class="form-control" />
                            <span class="input-group-btn">
                                <input type="submit" value="" />
                            </span>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="chat-chatters">
                    <div class="chat-frame"></div>
                </div>
            </div>
        </section>
    </div>

    <div class="row">
        <section id="video-chatters" class="col-xs-8">
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="video-live">
                    <div class="row" id="video-broadcasts"></div>
                </div>
                <div class="tab-pane" role="tabpanel" id="video-queue">
                    <div class="carousel" id="video-broadcasts-not-approved"></div>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#video-live" role="tab" aria-controls="recent" data-toggle="tab">
                        Live viewers
                    </a>
                </li>
                <li role="presentation">
                    <a href="#video-queue" role="tab" aria-controls="recent" data-toggle="tab">
                        Next ones live
                    </a>
                </li>
            </ul>
        </section>
        <div class="col-xs-3">
            <div class="side-ads-container">
                @Html.Partial("_SideAds")
            </div>
        </div>
    </div>
</section>

<div id="modal-broadcaster" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <button type="button" class="close" data-minimize-modal="0" style="right: 45px;">
                    <span aria-hidden="true" class="minus">&minus;</span>
                    <span aria-hidden="true" class="open">&#9633;</span>
                </button>
                <h4 class="modal-title">Live</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="modal-broadcaster-close" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @StringHelper.Translate("Broadcast will be stopped.")
                    <br />
                    @StringHelper.Translate("Are you sure?")
                </h4>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <input type="submit" class="btn btn-default" value="@StringHelper.Translate("Yes")" />
                    <input type="button" class="btn btn-warning" value="@StringHelper.Translate("No")" data-dismiss="modal" aria-label="Close" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="http://connect.facebook.net/en_US/all.js"></script>-->

    <script>

        /*
    $('#btn-launch-private-session').click(function() {

        FB.api(
            "/me/friends",
            function(response) {
                if (response && !response.error) {
                    var friendsIds = response.data.map(function(friend) {
                        return friend.id;
                    });

                    FB.ui({
                        //app_id:'xxxxxxxx',
                        method: 'send',
                        to: friendsIds,
                        //name: "sdfds jj jjjsdj j j ",
                        link: 'http://say-yeah-tv.azurewebsites.net/',
                        redirect_uri: 'http://say-yeah-tv.azurewebsites.net/?token=123456789',
                        //to:to,
                        //description:'sdf sdf sfddsfdd s d  fsf s '
                    });
                }
            }
        );
    });*/

    var isGroup = '@IsGroup' == 'True';
    var publishingUrl = '@SystemParameter.GetValueByTag("WowzaPublisherUrl")';
    var wowzaSimulationApiHost = '@SystemParameter.GetValueByTag("WowzaSimulationApiHost")';
    var isOwner = '@ViewBag.IsOwner' == 'True';
    var ownerId = '@Model.User.Id';
    var defaultAvatar = '@FileHelper.GetUploadedFileUrl(FileHelper.DefaultUserLogo)';
    var chatId = '@ViewBag.ChatId';
    var isPresenter = '@User.IsInAnyRoles(Roles.Presenter)' == 'True';
    var defaultVideoNumber = @ViewBag.VideoFramesNumber;
    var curUserId = '@User.Identity.GetUserId()';

    var $broadcasterBtn = null;
    var broadcasterWrap = null;
    var broadcasterId = 'broadcaster';

    function loadBroadcaster(broadcastUid, fileName, publishingUrl, isRecord) {
        $broadcasterBtn.addClass('hidden');
        $(broadcasterWrap).closest('.modal').modal();
        //$('body').removeClass('modal-open');

        var params = {
            fileName: fileName,
            publishingUrl: publishingUrl,
            target: broadcasterId,
            isRecord: isRecord,
            onStart: function() {
                if (wowzaSimulationApiHost) {
                    $.post('http://' + wowzaSimulationApiHost + '/wowzaapi/event', {
                        broadcastUid: broadcastUid,
                        duration: 0,
                        eventName: 'broadcastStarted',
                        file: null,
                        format: null,
                        message: null,
                        recording: null,
                        startTime: null,
                        streamName: null,
                        time: null,
                    });
                }
            },
            onStop: function() {
                if (wowzaSimulationApiHost) {
                    $.post('http://' + wowzaSimulationApiHost + '/wowzaapi/event', {
                        broadcastUid: broadcastUid,
                        duration: 0,
                        eventName: 'broadcastStopped',
                        file: null,
                        format: null,
                        message: null,
                        recording: null,
                        startTime: null,
                        streamName: null,
                        time: null,
                    });
                }
            }
        };

        //params['onBeforeStart'] = function(type) {
        //loadModal('@Url.Action("SetBroadcast", "Channel")?uid=' + data.Uid + '&withRecord=' + (type == 'recording' ? 'True' : 'False'));
        //}

        console.log('params');
        console.log(params);

        App.Broadcaster.Init(params);
    }

    window.onload = function() {
        $('[data-helper="ps"]').tooltip();

        //$('.background-embed').closest('.background-holder').css('backgroundImage', 'url(@Model.Background)');

        function setChannelPosition(userId, position, callback) {
            $.post(
                '@Html.Raw(Url.Action("SetChannelToGroup", "Channel", new {groupId = Model.ChannelId /*, privateSessionId = Model.PrivateSessionId*/}))',
                {
                    userId: userId,
                    position: position
                },
                function(data) {
                    console.log(data);
                    if (callback)
                        callback();
                }, 'json'
            );
        }

        ;

        function reportAbuse(userId) {
            loadModal('@Url.Action("AbuseReport", "Profile")/' + userId + '?presenterId=' + '@Model.User.Id');
        }

        ;

        function setChannelMuted(userId, isMuted) {
            $.post(
                '@Html.Raw(Url.Action("SetChannelMuted", "Channel", new {groupId = Model.ChannelId /*, privateSessionId = Model.PrivateSessionId*/}))',
                {
                    userId: userId,
                    isMuted: isMuted
                },
                function(data) {
                    console.log(data);
                }, 'json'
            );
        }

        ;

        /* Video chat */

        //var $chat = $('#chat');
        var $chatTabs = $('#chat-messages, #chat-chatters');
        var $chatMessages = $chatTabs.filter('#chat-messages');
        var $chatFrame = $chatMessages.children('.chat-frame');
        $chatFrame.niceScroll({ horizrailenabled: false });
        var $chatForm = $chatMessages.find('form');

        var $chatChatters = $chatTabs.filter('#chat-chatters').children('.chat-frame');

        $chatChatters.niceScroll({ horizrailenabled: false });

        if (App.isAuth) {
            $chatForm.find('input').removeAttr('disabled');
        } else {
            $chatForm.submit(function(e) {
                e.preventDefault();
            });
        }

        $('#show-info > ul > li:eq(1)').on('shown.bs.tab', function(e) {
            console.log(e);
            $chatFrame.scrollTop($chatFrame.prop("scrollHeight"));
            $('#messages-counter').text(0);
        });

        $('#show-info > ul > li:eq(2)').on('shown.bs.tab', function(e) {
            App.PushServer.send(
                PushServer.Commands.GetChatters,
                {
                    chatId: chatId
                }
            );
        });


        $('#video-chatters > ul > li:eq(0)').on('shown.bs.tab', function(e) {
            $('#video-broadcasts').find('.jwplayer').each(function() {
                App.VideoPlayer.Refresh($(this).attr('id'), $(this).closest('.videoHolder').attr('data-muted') == 1);
            });
        });

        $('#video-chatters > ul > li:eq(1)').on('shown.bs.tab', function(e) {
            var $container = $('#video-broadcasts-not-approved');
            $container.trigger('destroy.owl.carousel');
            $container.html($container.find('.owl-stage-outer').html()).removeClass('owl-loaded');
            handleCarousel($container.parent());
        });


        function getTimeFromDateTime(str) {
            var dt = new Date(str);

            var hours = dt.getHours();
            if (hours < 10)
                hours = '0' + hours;

            var minutes = dt.getMinutes();
            if (minutes < 10)
                minutes = '0' + minutes;

            return hours + ':' + minutes;
            /*
        var ar = str.split('T');
        if (ar[1]) {
            var arr = ar[1].split(':');
            return arr[0] + ':' + arr[1];
        }
        return '';*/
        }


        //Video chat
        App.PushServer.onConnect(function() {
            $chatFrame.empty();
            $chatTabs.removeClass('loader');
            $chatForm.find('input, select, textarea').removeAttr('disabled');
            this.send(PushServer.Commands.InitChat, chatId, true);
        });

        App.PushServer.onDisconnect(function() {
            $chatTabs.addClass('loader');
            $chatForm.find('input, select, textarea').attr('disabled', 'disabled');
        });

        var lastData = null;
        var timeOut = false;

        App.PushServer.subscribe(PushServer.Commands.UpdateChannelVideo, function(data) {

            //updateBroadcasts(data);
            //return;

            lastData = data;

            //update UI not faster than 3 seconds
            if (!timeOut) {
                updateBroadcasts(lastData);
                timeOut = true;
                lastData = null;

                setTimeout(function() {
                    console.log(updateBroadcasts);
                    console.log('updateBroadcasts');
                    timeOut = false;

                    if (lastData !== null)
                        updateBroadcasts(lastData);
                }, 3000);
            }

            //updateBroadcasts(data);
        });

        App.PushServer.subscribe(PushServer.Commands.UpdateLiveBroadcasts, function() {
            $('.categories .tab-content > :eq(1)').load('@Url.Action("GetLiveBroadcasts", "Home")');
        });

        var isNewMessages = false;

        App.PushServer.subscribe(PushServer.Commands.Messages, function(data) {
            console.log('PushServer.Commands.Messages');
            console.log(data);
            for (var i in data) {
                var item = data[i];

                if(item.Message){

                    var img =  $('<a/>', {target: '_blank', href: item.UserTag ?  '/profile/' + item.UserTag : null})
                                    .append(
                                        $('<img/>').addClass('img-responsive img-circle')
                                            .attr('src', item.UserPhoto)
                                            .attr('alt', item.UserName)
                                            //.attr('title', item.UserName)
                                            .attr('data-default-src', defaultAvatar)
                                    )
                                /*.popover({
                                    content: item.UserName,
                                    html: true,
                                    trigger: 'hover',
                                    placement: 'top',
                                    container: 'body'
                                })*/;

                    var msg = $('<div/>').addClass('row')
                        .append(
                            $('<div/>').addClass('col-xs-2').append(img)
                        )
                        .append(
                            $('<div/>').addClass('col-xs-10 message-info')
                                .append(
                                    $('<a/>', {target: '_blank', href: item.UserTag ?  '/profile/' + item.UserTag : null}).addClass('user-name')
                                        .html(item.UserName)
                                )
                                .append($('<time/>').text(getTimeFromDateTime(item.Timestamp)))
                        )
                        //.append($('<div/>').addClass('col-xs-1'))
                        //.append($('<div/>').addClass('clearfix'))

                        .append(
                            $('<div/>').addClass('col-xs-10')
                                .append(
                                    $('<p/>').text(item.Message).append(
                                        $('<i/>').addClass('connector')
                                    )
                                )
                        );

                    if (ownerId == item.UserId)
                        msg.addClass('right');

                    $chatFrame.append(msg);

                    handleImageErrors(msg);

                    if (isNewMessages && $chatMessages.is(':hidden')) {
                        var num = Number($('#messages-counter').text());
                        $('#messages-counter').text(++num);
                    }
                }
            }

            $chatFrame.scrollTop($chatFrame.prop("scrollHeight"));
            isNewMessages = true;
        });

        App.PushServer.subscribe(PushServer.Commands.UserConnected, function(data) {
            console.log('PushServer.Commands.UserConnected');
            console.log(data);
            for(var i in data){
                var user = data[i];
                var $user = $chatChatters.children('[data-id="' + user.Id + '"]');

                if ($user.length > 0) {
                    var counter = $user.attr('data-counter');
                    if (!counter)
                        counter = 1;

                    $user.attr('data-counter', ++counter);
                } else {
                    var msg = $('<div/>').addClass('row').attr('data-id', user.Id)
                        .append(
                            $('<div/>').addClass('col-xs-2')
                                .append(
                                    $('<a/>', {target: '_blank', href: user.Tag ?  '/profile/' + user.Tag : null})
                                        .append(
                                            $('<img/>').addClass('img-responsive img-circle')
                                                .attr('src', user.Photo)
                                                .attr('data-default-src', defaultAvatar)
                                        )
                                )
                        );

                    var msgBody = $('<div/>').addClass('col-xs-10')
                                            .append(
                                                $('<a/>', {target: '_blank', href: user.Tag ? '/profile/' + user.Tag : null})
                                                    .text(user.Name).addClass('user-name')
                                            );


                    var $btns = $('<div/>').addClass('row').append(
                                    $('<div/>').addClass('col-xs-10')
                                        .html('<a href="javascript: void(0)" class="bt bt-xs bt-violet" data-alt-class="bt-inverse"' +
                                            'data-state="' + (user.IsCurrentUserFollower ? "1" : "0") + '"' +
                                            'data-alt-text="Followed"' +
                                            'data-change-state="/Home/Follow?followId=' + user.Id + '">Follow</a>' +
                                            '<span class="followers-text"><span>' + (user.FollowersNumber ? "1" : "0") + '</span> followers</span>'
                                        )
                                );

                    handleChangeStateBtn($btns);
                    handleCheckAuth($btns);

                    msg.append(msgBody);

                    msg.append($btns);

                    $chatChatters.append(msg);

                    handleImageErrors(msg);
                }

                $chatChatters.scrollTop($chatChatters[0].scrollHeight);
            }
        });

        App.PushServer.subscribe(PushServer.Commands.UserDisconnected, function(data) {
            var userId = data;
            var $user = $chatChatters.children('[data-id="' + userId + '"]');
            if ($user.length > 0) {
                var counter = $user.attr('data-counter');
                if (!counter)
                    counter = 1;
                counter--;
                if (counter <= 0) {
                    $user.remove();
                } else {
                    $user.attr('data-counter', counter);
                }
            }
        });

        App.PushServer.subscribe(PushServer.Commands.UpdateCounters, function(data) {
            console.log('New Counters');
            console.log(data);

            initStats(data);
        });
        /*
        var transport = new WsTransport(chatId, 'signalr',
            function(data) {
                console.log(data);
                switch (data.cmd) {
                case WsTransport.commands.Messages:
                    for (var i in data.data) {
                        var item = data.data[i];

                        var msg = $('<div/>').addClass('row')
                            .append(
                                $('<div/>').addClass('col-xs-2')
                                    .append(
                                        $('<img/>').addClass('img-responsive img-circle')
                                            .attr('src', item.UserPhoto)
                                            .attr('data-default-src', defaultAvatar)
                                    )
                            );

                        var msgBody = $('<div/>').addClass('col-xs-10')
                            .append($('<strong/>').text(item.UserName));

                        msgBody.append($('<time/>').text(getTimeFromDateTime(item.Timestamp)))
                            .append($('<p/>').text(item.Message));


                        msg.append(msgBody);


                        $chatFrame.append(msg);

                        handleImageErrors(msg);
                    }

                    $chatFrame.scrollTop($chatFrame[0].scrollHeight);

                    break;
                case WsTransport.commands.UserConnected:
                    var user = data.data;

                    var $user = $chatChatters.children('[data-id="' + user.Id + '"]');
                    if ($user.length > 0) {
                        var counter = $user.attr('data-counter');
                        if (!counter)
                            counter = 1;

                        $user.attr('data-counter', ++counter);
                    } else {
                        var msg = $('<div/>').addClass('row').attr('data-id', user.Id)
                            .append(
                                $('<div/>').addClass('col-xs-2')
                                    .append(
                                        $('<img/>').addClass('img-responsive img-circle')
                                            .attr('src', user.Photo)
                                            .attr('data-default-src', defaultAvatar)
                                    )
                            );

                        var msgBody = $('<div/>').addClass('col-xs-10')
                            .append($('<strong/>').text(user.Name));


                        msg.append(msgBody);

                        $chatChatters.append(msg);

                        handleImageErrors(msg);

                        $chatChatters.scrollTop($chatChatters[0].scrollHeight);
                    }
                    break;
                case WsTransport.commands.UserDisconnected:
                    var userId = data.data;
                    var $user = $chatChatters.children('[data-id="' + userId + '"]');
                    if ($user.length > 0) {
                        var counter = $user.attr('data-counter');
                        if (!counter)
                            counter = 1;
                        counter--;
                        if (counter <= 0) {
                            $user.remove();
                        } else {
                            $user.attr('data-counter', counter);
                        }
                    }
                    break;
                case WsTransport.commands.UpdateChannelVideo:
                    getBroadcasts();
                    break;
                }
            },
            function(state) {
                console.log('OnState: ' + state);

                switch (state) {
                case 'connected':
                    $chatTabs.removeClass('loader');
                    $chatForm.find('input, select, textarea').removeAttr('disabled');
                    break;
                case 'disconnected':
                    $chatTabs.addClass('loader');
                    $chatForm.find('input, select, textarea').attr('disabled', 'disabled');
                    break;
                }
            }
        );*/

        $chatForm.submit(function(e) {
            e.preventDefault();
            var $message = $(this).find('[name="message"]');
            if ($message.val()) {
                App.PushServer.send(
                    PushServer.Commands.Messages,
                    [
                        {
                            chatId: chatId,
                            message: $message.val()
                        }
                    ]
                );
                $message.val('');
            }
        });

        /* INIT MODAL PLAYER */

        var $modalPlayer = $('#modal-player')
            .on('shown.bs.modal', function(e) {
                $('body').removeClass('modal-open');
            })
            .on('hidden.bs.modal', function(e) {
                location.hash = '';
            })
            .draggable({ handle: ".modal-header" });

        /* HASH NAVIGATION */

        function parseLocationHash() {
            var hash = location.hash.substr(1);
            console.log('hash');
            console.log(hash);

            if (hash) {
                var param = hash.split('=');
                var paramName = param[0];
                var paramValue = param[1];

                switch (paramName) {

                case 'live':
                    //console.log("goLive: " + position);

                        //console.log(position === 0 && !isPresenter);

                    if (paramValue === '0' && !isPresenter)
                        return;

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            goLive(paramValue, position.coords.latitude, position.coords.longitude);
                        }, function() {
                            goLive(paramValue);
                        });
                    } else
                        goLive(paramValue);
                    break;

                case 'recording':
                    if (paramValue) {
                        $.post(
                            '@Html.Raw(Url.Action("GetRecordingUrl", "Channel", new {channelId = Model.ChannelId}))',
                            { recordingId: paramValue },
                            function(data) {
                                if (data && data.VideoUrl) {
                                    // logic is changed according to ticket 749
                                    //if ($('#video').children('[data-id]').length === 0) {
                                    var videoHolder = $('#video').children('.videoHolder');

                                    var stickers = null;

        
                                    if (data.SourceType != 6) { //Not encoder
                                        stickers = {
                                            WebshowName: data.Channel.Name,
                                            UserName: data.Channel.User.Name
                                        };
                                    }
 
                                    $('#broadcast-name').text(data.Name ? data.Name : '');

                                    loadVideo(videoHolder.empty(), 0, data.VideoUrl, false, false, stickers);
                                    //addPresenterWebshowOverlay(videoHolder, data.Channel.Name);
                                    //addPresenterNameOverlay(videoHolder, data.Channel.User.Name);
                                    /*} else {
                                        $modalPlayer.modal();
                                        loadVideo($modalPlayer.find('.modal-body').empty(), -1, data.VideoUrl);
                                    }*/
                                } else {
                                    //alert('Error');
                                }
                            },
                            'json'
                        );
                    }
                    break;

                case 'broadcast':
                    if (paramValue && $('.videoHolder[data-id="' + paramValue + '"]').length === 0) {
                        $.post(
                            '@Html.Raw(Url.Action("GetBroadcastUrl", "Channel", new {channelId = Model.ChannelId}))',
                            { broadcastId: paramValue },
                            function(data) {
                                console.log(data);
                                if (data && data.Url) {
                                    // logic is changed according to ticket 863
                                    //if ($('#video').children('[data-id]').length === 0) {
                                    loadVideo($('#video').empty(), 0, data.Url);

                                    $('#broadcast-name').text(data.Name ? data.Name : '');
                                    //} else {
                                        //$modalPlayer.modal();
                                        //loadVideo($modalPlayer.find('.modal-body').empty(), -1, data.Url);
                                    //}
                                } else {
                                    //alert('Error');
                                }
                            },
                            'json'
                        );
                    }
                    break;
                }
            }
        }

        $(window).on('hashchange', function() {
            parseLocationHash();
        });

        /* Init UI */

        $('#video-broadcast-dropdown-menu').delegate('a', 'click', function() {
            //$('#video-title').text($(this).text());
            loadVideo($('#video').empty(), 0, $(this).data('url'));
        });


        /* Counters */

        function initStats(data, id) {

            var $container = $('.video-stats');

            if (data === null) {
                $container.addClass('hidden');
                return;
            }


            if (data) {

                if (id) {
                    //var $counter = $container.find('.video-stats-views');
                    //var counter = parseInt($counter.text());
                    //$counter.text(++counter);
                    var type = data.EntityType;

                    App.PushServer.send(
                        PushServer.Commands.AddView,
                        {
                            chatId: chatId,
                            type: type,
                            id: id
                        },
                        true
                    );

                                                                                @*$.post('@Url.Action("AddView", "Channel")', { type: type, id: id }, function(data) {}, 'json');*@

                    if (App.isAuth) {

                        $container.find('.vote').off().click(function() {
                            var $this = $(this);
                            $container.find('.vote').attr('disabled', 'disabled').off().removeAttr('href');
                            //$counter = $this.next();
                            //counter = parseInt($counter.text());
                            //$counter.text(++counter);

                            App.PushServer.send(
                                PushServer.Commands.Vote,
                                {
                                    chatId: chatId,
                                    type: type,
                                    id: id,
                                    vote: $this.hasClass('vote-up')
                                }
                            );
                                                                                                                @*$.post('@Url.Action("Vote", "Channel")', { type: type, id: id, vote: $this.hasClass('vote-up') }, function(data) {}, 'json');*@
                        });
                    }

                    $container.find('.counter').text(0);
                }

                if (data.Views)
                    $container.find('.video-stats-views').text(data.Views);

                if (data.VotesUp)
                    $container.find('.video-stats-up').text(data.VotesUp);

                if (data.VotesDown)
                    $container.find('.video-stats-down').text(data.VotesDown);

            }

            $container.removeClass('hidden');
        }

        /* Init Broadcaster */


        $broadcasterBtn = $('#video-broadcast-btn');


        broadcasterWrap = isGroup
            ? '#modal-broadcaster .modal-body'
            : '#video';

        $(broadcasterWrap).empty()
            .append($('<div/>', { id: broadcasterId }));

        if (isGroup) {
            var $broadcasterModal = $(broadcasterWrap).closest('.modal');
            $broadcasterModal
                .on('shown.bs.modal', function(e) {
                    $('body').removeClass('modal-open');
                })
                .on('hide.bs.modal', function(e) {
                    if ($broadcasterCloseModal.is(':visible'))
                        return true;

                    $broadcasterCloseModal.modal('show');
                    return false;
                    //return confirm('Do you want to close active broadcasting?');
                })
                .on('hidden.bs.modal', function(e) {
                    $broadcasterBtn.removeClass('hidden');
                    location.hash = '';
                })
                .draggable({
                    handle: ".modal-header:not([disabled])",
                    stop: function(event, ui) {
                        //$broadcasterModal.data('position', $broadcasterModal.offset());
                    }
                });

            var $broadcasterCloseModal = $('#modal-broadcaster-close');

            $broadcasterCloseModal.find('input[type="submit"]').click(function() {
                $broadcasterModal.modal('hide');
                $broadcasterCloseModal.modal('hide');
                setChannelPosition(curUserId, -1);
            });

            $(window).bind("beforeunload", function() {
                if ($broadcasterModal.is(':visible')){
                    return 'Do you want to close the window with active broadcasting?';
                }
            });

            $broadcasterModal.find('[data-minimize-modal]').click(function() {
                //var $modalBody = $broadcasterModal.find('.modal-body');

                //console.log($broadcasterModal.offset());

                var state = $(this).attr('data-minimize-modal');

                if (state == '1') {
                    //$modalBody.show();

                    $broadcasterModal.css({
                        bottom: 'auto',
                        right: 'auto',
                        position: 'absolute'
                    });

                    $broadcasterModal.removeClass('collapsed');
                    $broadcasterModal.find('.modal-header').removeAttr('disabled');
                    $broadcasterModal.offset($broadcasterModal.data('position'));


                } else {
                    //$modalBody.hide();
                    $broadcasterModal.addClass('collapsed');
                    $broadcasterModal.find('.modal-header').attr('disabled', 'disabled');

                    $broadcasterModal.data('position', $broadcasterModal.offset());

                    $broadcasterModal.css({
                        top: 'auto',
                        left: 'auto',
                        bottom: '-335px',
                        right: '0',
                        position: 'fixed'
                    });
                }

                $(this).attr('data-minimize-modal', state == '1' ? '0' : '1');
            });
        }



        function goLive(position, latitude, longitude) {

            function createBroadcast(params) {
                //TODO: add loader
                $.post(
                    '@Html.Raw(Url.Action("CreateBroadcast", "Channel", new {channelId = Model.ChannelId /*, privateSessionId = Model.PrivateSessionId, isGroup = IsGroup*/}))',
                    params,
                    function(data) {
                        console.log(data);
                        if (data) {
                            if (isConfigure)
                                loadModal('@Url.Action("SetBroadcast", "Channel")?uid=' + data.Uid);
                            else
                                loadBroadcaster(data.Uid, data.FileName, data.PublishingUrl);
                        } else {
                            alert('Error');
                        }
                    },
                    'json'
                );
            }

            var dat = {};

            //if (position !== undefined && position !== null)
            //dat['position'] = position;

            if (latitude && longitude)
                dat['geolocation'] = longitude + ' ' + latitude;

            //configure broadcast params (in popup) if we do not select target position or target position = main frame (position = 0)
            var isConfigure = position === '0';

            if (isConfigure)
                dat['isAutoName'] = true;

            if (isGroup) {
                setChannelPosition(curUserId, position, function() {
                    createBroadcast(dat);
                });
            } else {
                createBroadcast(dat);
            }
        }

        $broadcasterBtn.click(function() {
            location.hash = "live";
        });

        /* Load broadcasts */

        function loadNoise($videoHolder, videoHolderPosition) {
            var noise = $('<div/>').addClass('noise');

            if(isPresenter && videoHolderPosition > 0)
                noise.addClass('tongue');

            $videoHolder.append(noise);
            noise.height(noise.width() * 9 / 16);

            if ((isPresenter && isOwner && videoHolderPosition == 0)
                ||
                (/*App.isAuth &&*/ !isOwner && videoHolderPosition > 0)) {

                $videoHolder.append(
                    $('<i/>')
                            .addClass('video-icons sficon-camera')
                            .attr('title', 'Go live')
                            .attr('data-check-auth', '1')
                            .click(function() {
                                location.hash = null;
                                location.hash = "live=" + videoHolderPosition;
                            })
                );
                
                handleCheckAuth($videoHolder);
            }
        }

        var lastPlayerId = 0;

        function getBroadcasts(callback) {
            $.getJSON(
                '@Html.Raw(Url.Action("GetBroadcasts", "Channel", new {channelId = Model.ChannelId /*, privateSessionId = Model.PrivateSessionId*/, isGroup = IsGroup}))',
                function(data) {
                    updateBroadcasts(data, callback);
                }
            );
        }


        function updateBroadcasts(data, callback) {

            console.log('Broadcasts');
            console.log(data);

            if (data && data.Broadcasts) {
                updateSharingData(data.Broadcasts[0]);
            }

            if (!data)
                data = {};
            var list = $('#video-broadcast-dropdown-menu').empty();
            if (!data.Broadcasts || data.Broadcasts.length === 0) {
                data.Broadcasts = [];
                list.parent().addClass('hidden');
                $('#video').empty();
                //$('#video-title').text('');
            } else
                list.parent().removeClass('hidden');

            var dataTemp = [];

            if (isGroup) {
                list = $('#video-broadcasts');
                var lastPosition = null;
                for (var x in data.Broadcasts) {
                    var itemTemp = data.Broadcasts[x];
                    var position = itemTemp.Position;
                    if (position !== null && position != lastPosition && position < defaultVideoNumber) { //prevent empty or double position
                        lastPosition = position;
                        while (dataTemp.length < position)
                            dataTemp.push({});
                        dataTemp.push(itemTemp);
                    }
                }

                while (dataTemp.length < defaultVideoNumber)
                    dataTemp.push({});

                console.log('dataTemp');
                console.log(dataTemp);

                data.Broadcasts = dataTemp;
            }

            for (var i = 0; i < data.Broadcasts.length; i++) {

                var item = data.Broadcasts[i];

                if (isGroup) {

                    var $container = i === 0 ? $('#video') : list;
                    var videoHolder = $container.children('[data-position="' + i + '"]');

                    if (videoHolder.length === 0) {

                        videoHolder = $('<div/>').addClass('videoHolder')
                            .attr('data-position', i);

                        if (i !== 0) {
                            var col = Math.floor(12 / (defaultVideoNumber - 1));
                            videoHolder.addClass('col-xs-' + col);
                        }

                        $container.append(videoHolder);
                        loadNoise(videoHolder, i);
                    }

                    if (item.BroadcastId != videoHolder.attr('data-id') || item.UserId != videoHolder.attr('data-userId')) {

                        videoHolder.empty();

                        if (i === 0) {
                            //$('#video-title').text('');
                        }

                        item.BroadcastId
                            ? videoHolder.attr('data-id', item.BroadcastId)
                            : videoHolder.removeAttr('data-id');

                        item.UserId
                            ? videoHolder.attr('data-userId', item.UserId)
                            : videoHolder.removeAttr('data-userId');

                        videoHolder.attr('data-muted', item.IsMuted ? 1 : 0);

                        if (item.VideoUrl) {

                            var stickers = null;

                            if (i === 0) {
                                if (item.Type != 6) { //Not encoder
                                    stickers = {
                                        WebshowName: item.WebshowName,
                                        UserName: item.UserName
                                    };
                                }
                                //addPresenterWebshowOverlay(videoHolder, item.WebshowName);
                                //addPresenterNameOverlay(videoHolder, item.UserName);
                                initStats({ EntityType: 'Broadcast' }, item.BroadcastId);
                            }

                            loadVideo(videoHolder, i, item.VideoUrl, item.IsMuted, isOwner && isPresenter, stickers);
                        } 
                        else {
                            loadNoise(videoHolder, i);
                            //videoHolder.find('label').text('');

                            if (i === 0)
                                initStats(null);
                        }

                        if (item.UserId) {
                            if (i === 0) { //Main video frame
                                //$('#video-title').text(item.Name);
                                $('#broadcast-name').text(item.Name ? item.Name : '');
                                //Call notification
                                if (item.ChannelId && isPresenter && !isOwner) {
                                    setTimeout(function() {
                                        $.post('@Url.Action("PresenterIsOnWebshow", "Channel")', { channelId: item.ChannelId }, function(data) {
                                        });
                                    }, 60 * 1000);
                                }


                            } else {
                                //if (item.VideoUrl) {
                                //videoHolder.append( $('<label/>').text(item.Name));
                                //}

                                videoHolder.append(
                                    $('<i/>')
                                        .addClass('abuse video-icons sficon-flag-striked')
                                        .attr('title', 'Report abuse')
                                        .attr('data-check-auth', 1)
                                        .click(function() {
                                            reportAbuse($(this).closest('.videoHolder').attr('data-userId'));
                                        })
                                );

                                if (item.VideoUrl)
                                    addUserLogoOverlay(videoHolder, item.Name);
                            }


                            if (isOwner && i > 0) {
                                videoHolder.append(
                                    $('<i/>').addClass('remove video-icons sficon-camera-striked').attr('title', 'Remove from this position')
                                        .click(function() {
                                            setChannelPosition($(this).closest('.videoHolder').attr('data-userId'), -1);
                                        })
                                ).append(
                                    $('<i/>')
                                        .addClass('mute video-icons sficon-mic-striked')
                                        .attr('title', 'On/off sound')
                                        .click(function() {
                                            var holder = $(this).closest('.videoHolder');
                                            var isMuted = holder.attr('data-muted') == 1;
                                            setChannelMuted(holder.attr('data-userId'), !isMuted);
                                        })
                                );
                            }

                            handleCheckAuth(videoHolder);
                        }
                    } else if (item.BroadcastId && item.IsMuted != videoHolder.attr('data-muted')) {
                        muteVideo(i, item.IsMuted ? true : false);
                        videoHolder.attr('data-muted', item.IsMuted ? 1 : 0);
                    }
                } else {
                    list.append(
                        $('<li/>').append(
                            $('<a/>', { href: 'javascript:void(0)' }).text(item.Name ? item.Name : 'Broadcast')
                                .data('url', item.VideoUrl)
                        )
                    );
                }
            }

            if (isGroup) {
                /*
            if ($('#video-broadcasts .videoHolder[data-id]').length < defaultVideoNumber - 1)
                $broadcasterBtn.attr('disabled', 'disabled');
            else
                $broadcasterBtn.removeAttr('disabled');
                */
            } else {
                list.children().first().children().trigger('click');
            }

            if (isGroup) {
                var listNotApproved = $('#video-broadcasts-not-approved');

                listNotApproved.children().attr('data-not-checked', 1);

                console.log('dataNotApproved');
                console.log(data.BroadcastsNotAccepted);

                var menu = null;

                if (isOwner) {
                    var positions = [];
                    $('.videoHolder[data-position]').each(function() {
                        if (!$(this).attr('data-id')) {
                            positions.push($(this).attr('data-position'));
                        }
                    });

                    menu = $('<ul/>').addClass('dropdown-menu');

                    for (var p = 1; p < defaultVideoNumber; p++) {
                        var pos = $('<li/>').append(
                            $('<a/>', { href: 'javascript:void(0)' })
                                .text('Set to position ' + (p === 0 ? 'Main' : p))
                        );

                        for (var ps in positions) {
                            if (positions[ps] == p) {
                                pos.addClass('enabled')
                                    .attr('data-position', positions[ps])
                                    .click(function() {
                                        setChannelPosition($(this).closest('.videoImage').attr('data-userId'), $(this).attr('data-position'));
                                    });
                            }
                        }

                        menu.append(pos);
                    }
                }

                if (data.BroadcastsNotAccepted && data.BroadcastsNotAccepted.length > 0) {
                    if (!$.isEmptyObject(data.BroadcastsNotAccepted)) {

                        for (var t = 0; t < data.BroadcastsNotAccepted.length; t++) {

                            var itemNotApproved = data.BroadcastsNotAccepted[t];
                            var videoHolderNotApproved = listNotApproved.children('[data-id="' + itemNotApproved.BroadcastId + '"]');
                            console.log(videoHolderNotApproved);
                            if (videoHolderNotApproved.length === 0) {
                                videoHolderNotApproved = $('<div/>').addClass('videoImage')
                                    .attr('data-id', itemNotApproved.BroadcastId)
                                    .attr('data-userId', itemNotApproved.UserId)
                                    .append(
                                        $('<img/>').attr('src', itemNotApproved.SnapshotUrl)
                                            .addClass('user-avatar img-circle')
                                    )
                                    .append(
                                        $('<label/>').append(
                                            $('<span/>').text(itemNotApproved.Name)
                                        )
                                    );

                                if (isOwner) {
                                    var dropdown = $('<span/>')
                                        .addClass('dropdown')
                                        .append(
                                            $('<button/>', {
                                                'type': 'button',
                                                'data-toggle': 'dropdown',
                                                'aria-expanded': 'true'
                                            }).addClass('btn btn-default dropdown-toggle btn-xs')
                                                .append(
                                                    $('<span/>').addClass('caret')
                                                )
                                        );

                                    videoHolderNotApproved.append(dropdown);
                                }

                                listNotApproved.append(videoHolderNotApproved);

                                //if (itemNotApproved.VideoUrl) {
                                //loadVideo(videoHolderNotApproved, (100 + (++lastPlayerId)), itemNotApproved.VideoUrl, true);
                                //}

                            } else {
                                videoHolderNotApproved.removeAttr('data-not-checked');
                            }
                        }
                    }
                }

                listNotApproved.children().each(function() {
                    if ($(this).attr('data-not-checked'))
                        $(this).remove();
                    else if (menu) {
                        console.log($(this).find('.dropdown'));
                        $(this).find('.dropdown-menu').remove();
                        $(this).find('.dropdown').append(menu.clone(true));
                    }
                });



                //var $owl = listNotApproved.data('owl');
                //console.log('$owl');
                //console.log($owl);
                //if (listNotApproved) {
                    //listNotApproved.trigger('destroy.owl.carousel');
                    //listNotApproved.html(listNotApproved.find('.owl-stage-outer').html()).removeClass('owl-loaded');
                    //handleCarousel(listNotApproved.parent());
                    //$owl.trigger('refresh.owl.carousel');
               // }

            }

            if (typeof callback == 'function')
                callback();

        }

        getBroadcasts(function() {
            parseLocationHash();
        });
    }
    </script>