﻿@using System.Configuration
@using System.Web.Mvc.Html
@using Microsoft.AspNet.Identity
@using SayYeahTv.Dependencies.Services
@using SayYeahTV.DataAccess.Enums
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.DataAccess.Models
@using SayYeahTV.Web.Helpers
@using SayYeahTV.Web.Models.Enums
@using Roles = SayYeahTV.DataAccess.Enums.Roles
@model SayYeahTV.Web.Models.ChannelViewModel

@{
    ViewBag.Title = "Show";
}

@section head {
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="&#64;SayYeahAPP">
    <meta name="twitter:creator" content="&#64;SayYeahAPP">
    <meta name="twitter:title" content="Check this out @Model.Channel.Name">
    <meta name="twitter:description" content="@Model.Channel.User.Name">
    <meta name="twitter:image" content="@Model.Channel.Logo">
    
    @if (Model.CurrentBroadcast != null)
    {
        <meta property="og:title" content="@(string.IsNullOrEmpty(Model.CurrentBroadcast.Name) ? "SayYeah" : Model.CurrentBroadcast.Name)">
        <meta property="og:image" content="@Model.CurrentBroadcast.SnapshotUrl">
    }
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
}


<div class="background-holder inside">
    <div class="top-ads-container">
        @Html.Partial("_TopHorizontalAds")
    </div>
    <section class="row background-embed">
        @Html.Partial("~/Views/Channel/_WebShowPartial.cshtml", Model.Channel)
    </section>
</div>

<section id="show-page">
    <div class="categories">
        <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
            <li role="presentation" class="active">
                <a href="#recent" role="tab" aria-controls="recent" data-toggle="tab" data-loaded="1">
                    Recent
                    <i class="glyphicon glyphicon-backward"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab" data-limit="@ViewBag.EventsLimit" data-href="@Url.Action("GetEvents", "Channel", new {channelId = Model.Channel.ChannelId})" @*data-loaded="1"*@>
                    Upcoming
                    <i class="glyphicon glyphicon-forward"></i>
                </a>
            </li>
            <li role="presentation">
                <a href="#followers" role="tab" aria-controls="followers" data-toggle="tab" data-limit="@ViewBag.FollowersLimit" data-href="@Url.Action("GetFollowers", "Channel", new {channelId = Model.Channel.ChannelId})">
                    Followers
                    <i class="glyphicon glyphicon glyphicon-flash"></i>
                </a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content tab-content-custom">
            <div role="tabpanel" class="tab-pane active" id="recent">
                @Html.Action("GetRecordings", "Channel", new { channelId = Model.Channel.ChannelId, presenterOnly = true })
            </div>
            <div role="tabpanel" class="tab-pane" id="upcoming">
                @*Html.Partial("_EventsPartial", Model.Events)*@
            </div>
            <div role="tabpanel" class="tab-pane" id="followers">

            </div>

        </div>
    </div>
    @*
        <div class="col-xs-12">
            @Html.Partial("_CategoryBroadcastsPartial", Model.CategoryBroadcasts)
        </div>
    *@

    <section id="streamers-host" class="col-xs-12">
        <h2>Streamers Host</h2>
        <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
            <li role="presentation" class="active">
                <a href="#streamers-all" role="tab" aria-controls="recent" data-toggle="tab" data-loaded="1">
                    @StringHelper.Translate("All")
                </a>
            </li>
            <li role="presentation">
                <a href="#streamers-new" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetStreamers", "Home", new {type = TabTypes.New})">
                    @StringHelper.Translate("New")
                </a>
            </li>
            <li role="presentation">
                <a href="#streamers-top" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetStreamers", "Home", new {type = TabTypes.Top})">
                    @StringHelper.Translate("Top")
                </a>
            </li>
        </ul>
        <div class="tab-content user-info-tabs">
            <div role="tabpanel" class="tab-pane active" id="streamers-all">
                @Html.Partial("_StreamersHostPartial", Model.Shows)
            </div>
            <div role="tabpanel" class="tab-pane" id="streamers-new"></div>
            <div role="tabpanel" class="tab-pane" id="streamers-top"></div>
        </div>
    </section>

    <section id="people" class="col-xs-12">
        <h2>Members</h2>
        <ul class="nav nav-tabs nav-tabs-custom nav-tabs-small" role="tablist">
            <li role="presentation" class="active">
                <a href="#people-all" role="tab" aria-controls="recent" data-toggle="tab" data-loaded="1">
                    @StringHelper.Translate("All")
                </a>
            </li>
            <li role="presentation">
                <a href="#people-new" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetPeople", "Home", new {type = TabTypes.New})">
                    @StringHelper.Translate("New")
                </a>
            </li>
            <li role="presentation">
                <a href="#people-top" role="tab" aria-controls="recent" data-toggle="tab" data-href="@Url.Action("GetPeople", "Home", new {type = TabTypes.Top})">
                    @StringHelper.Translate("Top")
                </a>
            </li>
        </ul>
        <div class="tab-content user-info-tabs">
            <div role="tabpanel" class="tab-pane active" id="people-all">
                @Html.Partial("~/Views/Home/_UsersHomePartial.cshtml", Model.Users)
            </div>
            <div role="tabpanel" class="tab-pane" id="people-new"></div>
            <div role="tabpanel" class="tab-pane" id="people-top"></div>
        </div>
    </section>
</section>

<div id="modal-player" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Video</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div id="modal-encoder" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Encoder settings</h4>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <label class="control-label">RTMP url</label>
                    <input class="form-control" id="modal-encoder-rtmp-url" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label class="control-label">Stream name</label>
                    <input class="form-control" id="modal-encoder-stream-name" readonly="readonly" />
                </div>
            </div>
        </div>
    </div>
</div>




