﻿@using Microsoft.AspNet.Identity
@using SayYeahTv.Dependencies.Services
@using SayYeahTV.DataAccess.Enums
@using SayYeahTV.DataAccess.Extensions
@using SayYeahTV.DataAccess.Models
@using SayYeahTV.Web.Helpers
@using Roles = SayYeahTV.DataAccess.Enums.Roles
@model SayYeahTV.Web.Models.ChannelViewModel

@{
    ViewBag.Title = "Show";
    var IsGroup = Model.Channel.Type == ChannelTypes.ChannelGroup;
}

@section head {
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="&#64;SayYeahTV">
    <meta name="twitter:creator" content="&#64;SayYeahTV">
    <meta name="twitter:title" content="Check this out @Model.Channel.Name">
    <meta name="twitter:description" content="@Model.Channel.User.Name">
    <meta name="twitter:image" content="@Model.Channel.Logo">
}

@section preMain {
    <section id="show" class="black">
        <section id="video-main-block" class="container " style="background-image: url(@Model.Channel.Background)">
            @Html.Partial("_TopHorizontalAds")
            <div class="row">
                <div class="col-xs-1 text-center">
                    @if (!IsGroup)
                    {
                        <span id="video-broadcast-selector" class="dropdown hidden">
                        <button class="btn btn-default dropdown-toggle" type="button" id="video-broadcast-dropdown-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="video-broadcast-dropdown-menu" aria-labelledby="video-broadcast-dropdown-btn"></ul>
                    </span>
                    }
                </div>
                <section id="video-wrap" class="col-xs-7">
                    <div class="video-title row">
                        <div class="col-xs-2">
                            <img class="pull-right channel-logo" src="@Model.Channel.Logo" alt="@Model.Channel.Name" title="@Model.Channel.Name"/>
                        </div>
                        <div class="title-wrapper col-xs-8">
                            <div>
                                <span class="video-name" id="video-title">@Model.Channel.Name</span>
                                <a href="@Model.Channel.User.GetLink()" class="user-name pull-right">@Model.Channel.User.FullName</a>
                            </div>
                            <div class="info-container">
                                <a href="javascript: void(0)"
                                   class="btn-main pull-left"
                                   data-change-state="@Url.Action("Follow", "Channel", new {channelId = Model.Channel.ChannelId})"
                                   data-state="@(Model.IsChannelFollower ? "1" : "0")"
                                   data-alt-text="@StringHelper.Translate("Unfollow")">
                                    @StringHelper.Translate("Follow")
                                </a>
                                <a href="javascript: void(0)"
                                   class="sicon sicon-follow pull-right"
                                   data-alt-class="sicon-unfollow"
                                   data-state="@(Model.IsOwnerFollower ? "1" : "0")"
                                   data-change-state="@Url.Action("Follow", "Home", new {followId = Model.Channel.User.Id})">
                                </a>

                                <div class="tags">
                                    @if (Model.Channel.Categories != null)
                                    {
                                        foreach (var category in Model.Channel.Categories)
                                        {
                                            @Html.RouteLink("#" + category.Name, "Category", new {tag = category.Name}, new {@class = "tag"})
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <a href="@Model.Channel.User.GetLink()">
                                <img class="pull-right img-circle user-avatar" src="@Model.Channel.User.Photo" alt="@Model.Channel.User.UserName" title="@Model.Channel.User.UserName"/>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="video"></div>
                </section>
                <section id="chat" class="col-xs-offset-1 col-xs-3">
                    <div class="chat-header">
                        <a id="chat-toggler" href="javascript:;" data-alt-text="Show chat">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-chevron-up hidden"></i>
                            <span>Hide chat</span>
                        </a>
                        <ul class="nav nav-tabs pull-right" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#chat-messages" role="tab" aria-controls="recent" data-toggle="tab">
                                    <i class="sicon sicon-speech-bubble-pink"></i>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#chat-chatters" role="tab" aria-controls="recent" data-toggle="tab">
                                    <i class="sicon sicon-people"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content loader">
                        <div role="tabpanel" class="tab-pane active" id="chat-messages">
                            <div class="chat-frame"></div>
                            <form class="form">
                                <input type="text" autocomplete="off" data-check-auth="1" disabled="disabled" name="message" placeholder="Chat with friends..." class="form-control"/>
                                <input type="submit" class="sicon sicon-send-chat" value=""/>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="chat-chatters">
                            <div class="chat-frame"></div>
                        </div>
                    </div>


                </section>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-7">
                    <div class="hidden video-stats text-center">
                        <i class="sicon sicon-eye"></i>
                        <span class="video-stats-views counter"></span>
                        <a href="javascript:void(0)" class="sicon sicon-hand-up vote vote-up"></a>
                        <span class="video-stats-up counter"></span>
                        <a href="javascript:void(0)" class="sicon sicon-hand-down vote vote-down"></a>
                        <span class="video-stats-down counter"></span>
                        <div class="share-button-container">
                            <a href="javascript:void(0)" class="share-button"></a>
                        </div>
                        @*<i class="sicon sicon-share"></i>*@
                        @*
                        <button id="btn-launch-private-session" class="btn-main" data-check-auth="1">
                            GET THE CREW <i class="sicon sicon-plus"></i>
                            <i class="sicon sicon-user-small"></i>
                        </button>
                        *@
                    </div>
                </div>
                <div class="col-xs-offset-1 col-xs-3">
                    @if (Model.IsOwner || IsGroup)
                    {
                        @*<button data-check-auth="1" id="video-broadcast-btn" class="btn-main">Smile:) Let`s go live now</button>*@
                    }
                </div>
            </div>
            @*<div class="row">
                <div class="launch-block text-center col-xs-offset-1 col-xs-7">
                    <a data-check-auth="1" class="btn-main" href="javascript:;"
                       data-modal="@Url.Action("CreatePrivateSession", "Channel", new {channelId = Model.Channel.ChannelId})">
                        LAUNCH A PRIVATE ROOM
                    </a>
                    <i class="sicon sicon-question" data-helper="ps" data-toggle="tooltip" title="Private session description"></i>
                </div>
            </div>*@
        </section>
    </section>
}

<section class="row">
    <section id="video-add-block" class="col-xs-12">
        <div class="row">
            @if (IsGroup)
            {
                <div class="col-xs-12">
                    <div class="row" id="video-broadcasts">
                        <div class="ads col-xs-3 pull-right">
                            @Html.Partial("_SideAds")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-3">
                            
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="text-center col-xs-offset-2 col-xs-7">
                    <div style="color: #bb0c91; margin-bottom: 5px; margin-top: 30px;">
                        IT'S TIME TO SHOW YOUR FACE
                    </div>
                    <button data-check-auth="1" id="video-broadcast-btn" class="btn-main" disabled="disabled">
                        CLICK HERE TO BE THE NEXT ONE
                    </button>
                </div>
                <div class="clearfix"></div>
            }
            <div class="col-xs-12">
                <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#broadcasts" aria-controls="broadcasts" role="tab" data-toggle="tab">
                            THE NEXT ONES
                            <i class="glyphicon glyphicon-asterisk"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#recent" role="tab" aria-controls="recent" data-toggle="tab" data-limit="@ViewBag.RecordingsLimit" data-href="@Url.Action("GetRecordings", "Channel", new {channelId = Model.Channel.ChannelId, presenterOnly = true})">
                            Recent
                            <i class="glyphicon glyphicon-backward"></i>
                        </a>
                    </li>
                    <li role="presentation" >
                        <a href="#upcoming" aria-controls="upcoming" role="tab" data-toggle="tab" data-limit="@ViewBag.EventsLimit" data-href="@Url.Action("GetEvents", "Channel", new {channelId = Model.Channel.ChannelId})" @*data-loaded="1"*@>
                            Upcoming
                            <i class="glyphicon glyphicon-forward"></i>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#followers" role="tab" aria-controls="followers" data-toggle="tab" data-limit="@ViewBag.FollowersLimit" data-href="@Url.Action("GetFollowers", "Channel", new {channelId = Model.Channel.ChannelId})">
                            Followers
                            <i class="glyphicon glyphicon glyphicon-flash"></i>
                        </a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content tab-content-custom">
                    <div role="tabpanel" class="tab-pane active" id="broadcasts">
                        <div class="col-xs-12" id="video-broadcasts-not-approved"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="recent">

                    </div>
                    <div role="tabpanel" class="tab-pane" id="upcoming">
                        @*Html.Partial("_EventsPartial", Model.Events)*@
                    </div>
                    <div role="tabpanel" class="tab-pane" id="followers">

                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                @Html.Partial("_CategoryBroadcastsPartial", Model.CategoryBroadcasts)
            </div>
        </div>
    </section>


    <div id="modal-player" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Video</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <div id="modal-encoder" class="modal fade" role="dialog" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Encoder settings</h4>
                </div>
                <div class="modal-body form">
                    <div class="form-group">
                        <label class="control-label">RTMP url</label>
                        <input class="form-control" id="modal-encoder-rtmp-url" readonly="readonly" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Stream name</label>
                        <input class="form-control" id="modal-encoder-stream-name" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="modal-broadcaster" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <button type="button" class="close" data-minimize-modal="0">
                    <span aria-hidden="true" class="minus">&minus;</span>
                    <span aria-hidden="true" class="open">&#9633;</span>
                </button>
                <h4 class="modal-title">Live</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="modal-broadcaster-close" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    @StringHelper.Translate("Broadcast will be stopped.")
                    <br/>
                    @StringHelper.Translate("Are you sure?")
                </h4>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <input type="submit" class="btn btn-default" value="@StringHelper.Translate("Yes")" />
                    <input type="button" class="btn btn-warning" value="@StringHelper.Translate("No")" data-dismiss="modal" aria-label="Close"/>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="http://connect.facebook.net/en_US/all.js"></script>

    <script>

        /*
    $('#btn-launch-private-session').click(function() {

        FB.api(
            "/me/friends",
            function(response) {
                if (response && !response.error) {
                    var friendsIds = response.data.map(function(friend) {
                        return friend.id;
                    });

                    FB.ui({
                        //app_id:'xxxxxxxx',
                        method: 'send',
                        to: friendsIds,
                        //name: "sdfds jj jjjsdj j j ",
                        link: 'http://say-yeah-tv.azurewebsites.net/',
                        redirect_uri: 'http://say-yeah-tv.azurewebsites.net/?token=123456789',
                        //to:to,
                        //description:'sdf sdf sfddsfdd s d  fsf s '
                    });
                }
            }
        );
    });*/

        var isGroup = '@IsGroup' == 'True';
        var publishingUrl = '@SystemParameter.GetValueByTag("WowzaPublisherUrl")';
        var wowzaSimulationApiHost = '@SystemParameter.GetValueByTag("WowzaSimulationApiHost")';
        var isOwner = '@Model.IsOwner' == 'True';
        var defaultAvatar = '@FileHelper.GetUploadedFileUrl(FileHelper.DefaultUserLogo)';
        var chatId = '@Model.ChatId';
        var isPresenter = '@User.IsInAnyRoles(Roles.Presenter)' == 'True';
        var defaultVideoNumber = @Model.VideoFramesNumber;
        var curUserId = '@User.Identity.GetUserId()';

        $('[data-helper="ps"]').tooltip();


        function setChannelPosition(userId, position, callback) {
            $.post(
                '@Html.Raw(Url.Action("SetChannelToGroup", "Channel", new {groupId = Model.Channel.ChannelId /*, privateSessionId = Model.PrivateSessionId*/}))',
                {
                    userId: userId,
                    position: position
                },
                function(data) {
                    console.log(data);
                    if (callback)
                        callback();
                }, 'json'
            );
        }

        ;

        function reportAbuse(userId) {
            loadModal('@Url.Action("AbuseReport", "Profile")/' + userId + '?presenterId=' + '@Model.Channel.User.Id');
        }

        ;

        function setChannelMuted(userId, isMuted) {
            $.post(
                '@Html.Raw(Url.Action("SetChannelMuted", "Channel", new {groupId = Model.Channel.ChannelId /*, privateSessionId = Model.PrivateSessionId*/}))',
                {
                    userId: userId,
                    isMuted: isMuted
                },
                function(data) {
                    console.log(data);
                }, 'json'
            );
        }

        ;

        /* Video chat */

        var $chat = $('#chat');
        var $chatForm = $chat.find('form');
        var $chatTabs = $chat.children('.tab-content');
        var $chatFrame = $chat.find('#chat-messages .chat-frame');
        var $chatChatters = $chat.find('#chat-chatters .chat-frame');
        var $chattersTab = $('a[href="#chat-chatters"]');
        var $messagesTab = $('a[href="#chat-messages"]');

        if (App.isAuth) {
            $chatForm.find('input').removeAttr('disabled');
        } else {
            $chatForm.submit(function(e) {
                e.preventDefault();
            });
        }

        $('#chat-toggler').click(function() {
            if ($chatTabs.is(':visible'))
                $chatTabs.slideUp();
            else
                $chatTabs.slideDown();

            $(this).children('i').toggleClass('hidden');
            var $span = $(this).children('span');
            var text = $span.text();
            var altText = $(this).attr('data-alt-text');
            $span.text(altText);
            $(this).attr('data-alt-text', text);
        });

        $chattersTab.on('show.bs.tab', function() {
            $messagesTab.find('i').removeClass('sicon-speech-bubble-pink').addClass('sicon-speech-bubble');
            $chattersTab.find('i').removeClass('sicon-people').addClass('sicon-people-pink');
        });

        $messagesTab.on('show.bs.tab', function() {
            $messagesTab.find('i').removeClass('sicon-speech-bubble').addClass('sicon-speech-bubble-pink');
            $chattersTab.find('i').removeClass('sicon-people-pink').addClass('sicon-people');
        });

        function getTimeFromDateTime(str) {
            var dt = new Date(str);

            var hours = dt.getHours();
            if (hours < 10)
                hours = '0' + hours;

            var minutes = dt.getMinutes();
            if (minutes < 10)
                minutes = '0' + minutes;

            return hours + ':' + minutes;
            /*
        var ar = str.split('T');
        if (ar[1]) {
            var arr = ar[1].split(':');
            return arr[0] + ':' + arr[1];
        }
        return '';*/
        }


        //Video chat
        App.PushServer.onConnect(function() {
            $chatFrame.empty();
            $chatTabs.removeClass('loader');
            $chatForm.find('input, select, textarea').removeAttr('disabled');
            this.send(PushServer.Commands.InitChat, chatId, true);
        });

        App.PushServer.onDisconnect(function() {
            $chatTabs.addClass('loader');
            $chatForm.find('input, select, textarea').attr('disabled', 'disabled');
        });

        var lastData = null;
        var timeOut = false;

        App.PushServer.subscribe(PushServer.Commands.UpdateChannelVideo, function(data) {

            //updateBroadcasts(data);
            //return;

            lastData = data;

            //update UI not faster than 3 seconds
            if (!timeOut) {
                updateBroadcasts(lastData);
                timeOut = true;
                lastData = null;

                setTimeout(function() {
                    console.log(updateBroadcasts);
                    console.log('updateBroadcasts');
                    timeOut = false;

                    if (lastData !== null)
                        updateBroadcasts(lastData);
                }, 3000);
            }

            //updateBroadcasts(data);
        });

        App.PushServer.subscribe(PushServer.Commands.UpdateLiveBroadcasts, function() {
            $('.categories .tab-content > :first').load('@Url.Action("GetLiveBroadcasts", "Home")');
        });

        App.PushServer.subscribe(PushServer.Commands.Messages, function(data) {
            for (var i in data) {
                var item = data[i];

                var msg = $('<div/>').addClass('row')
                    .append(
                        $('<div/>').addClass('col-xs-2')
                            .append(
                                $('<img/>').addClass('img-responsive img-circle')
                                    .attr('src', item.UserPhoto)
                                    .attr('data-default-src', defaultAvatar)
                            )
                    );

                var msgBody = $('<div/>').addClass('col-xs-10')
                    .append($('<strong/>').text(item.UserName));

                msgBody.append($('<time/>').text(getTimeFromDateTime(item.Timestamp)))
                    .append($('<p/>').text(item.Message));


                msg.append(msgBody);


                $chatFrame.append(msg);

                handleImageErrors(msg);
            }

            $chatFrame.scrollTop($chatFrame[0].scrollHeight);
        });

        App.PushServer.subscribe(PushServer.Commands.UserConnected, function(data) {
            var user = data;
            var $user = $chatChatters.children('[data-id="' + user.Id + '"]');

            if ($user.length > 0) {
                var counter = $user.attr('data-counter');
                if (!counter)
                    counter = 1;

                $user.attr('data-counter', ++counter);
            } else {
                var msg = $('<div/>').addClass('row').attr('data-id', user.Id)
                    .append(
                        $('<div/>').addClass('col-xs-2')
                            .append(
                                $('<img/>').addClass('img-responsive img-circle')
                                    .attr('src', user.Photo)
                                    .attr('data-default-src', defaultAvatar)
                            )
                    );

                var msgBody = $('<div/>').addClass('col-xs-10')
                    .append($('<strong/>').text(user.Name));


                msg.append(msgBody);

                $chatChatters.append(msg);

                handleImageErrors(msg);

                $chatChatters.scrollTop($chatChatters[0].scrollHeight);
            }
        });

        App.PushServer.subscribe(PushServer.Commands.UserDisconnected, function(data) {
            var userId = data;
            var $user = $chatChatters.children('[data-id="' + userId + '"]');
            if ($user.length > 0) {
                var counter = $user.attr('data-counter');
                if (!counter)
                    counter = 1;
                counter--;
                if (counter <= 0) {
                    $user.remove();
                } else {
                    $user.attr('data-counter', counter);
                }
            }
        });

        App.PushServer.subscribe(PushServer.Commands.UpdateCounters, function(data) {
            console.log('New Counters');
            console.log(data);

            initStats(data);
        });
        /*
        var transport = new WsTransport(chatId, 'signalr',
            function(data) {
                console.log(data);
                switch (data.cmd) {
                case WsTransport.commands.Messages:
                    for (var i in data.data) {
                        var item = data.data[i];

                        var msg = $('<div/>').addClass('row')
                            .append(
                                $('<div/>').addClass('col-xs-2')
                                    .append(
                                        $('<img/>').addClass('img-responsive img-circle')
                                            .attr('src', item.UserPhoto)
                                            .attr('data-default-src', defaultAvatar)
                                    )
                            );

                        var msgBody = $('<div/>').addClass('col-xs-10')
                            .append($('<strong/>').text(item.UserName));

                        msgBody.append($('<time/>').text(getTimeFromDateTime(item.Timestamp)))
                            .append($('<p/>').text(item.Message));


                        msg.append(msgBody);


                        $chatFrame.append(msg);

                        handleImageErrors(msg);
                    }

                    $chatFrame.scrollTop($chatFrame[0].scrollHeight);

                    break;
                case WsTransport.commands.UserConnected:
                    var user = data.data;

                    var $user = $chatChatters.children('[data-id="' + user.Id + '"]');
                    if ($user.length > 0) {
                        var counter = $user.attr('data-counter');
                        if (!counter)
                            counter = 1;

                        $user.attr('data-counter', ++counter);
                    } else {
                        var msg = $('<div/>').addClass('row').attr('data-id', user.Id)
                            .append(
                                $('<div/>').addClass('col-xs-2')
                                    .append(
                                        $('<img/>').addClass('img-responsive img-circle')
                                            .attr('src', user.Photo)
                                            .attr('data-default-src', defaultAvatar)
                                    )
                            );

                        var msgBody = $('<div/>').addClass('col-xs-10')
                            .append($('<strong/>').text(user.Name));


                        msg.append(msgBody);

                        $chatChatters.append(msg);

                        handleImageErrors(msg);

                        $chatChatters.scrollTop($chatChatters[0].scrollHeight);
                    }
                    break;
                case WsTransport.commands.UserDisconnected:
                    var userId = data.data;
                    var $user = $chatChatters.children('[data-id="' + userId + '"]');
                    if ($user.length > 0) {
                        var counter = $user.attr('data-counter');
                        if (!counter)
                            counter = 1;
                        counter--;
                        if (counter <= 0) {
                            $user.remove();
                        } else {
                            $user.attr('data-counter', counter);
                        }
                    }
                    break;
                case WsTransport.commands.UpdateChannelVideo:
                    getBroadcasts();
                    break;
                }
            },
            function(state) {
                console.log('OnState: ' + state);

                switch (state) {
                case 'connected':
                    $chatTabs.removeClass('loader');
                    $chatForm.find('input, select, textarea').removeAttr('disabled');
                    break;
                case 'disconnected':
                    $chatTabs.addClass('loader');
                    $chatForm.find('input, select, textarea').attr('disabled', 'disabled');
                    break;
                }
            }
        );*/

        $chatForm.submit(function(e) {
            e.preventDefault();
            var $message = $(this).find('[name="message"]');
            if ($message.val()) {
                App.PushServer.send(
                    PushServer.Commands.Messages,
                    [
                        {
                            chatId: chatId,
                            message: $message.val()
                        }
                    ]
                );
                $message.val('');
            }
        });

        /* INIT MODAL PLAYER */

        var $modalPlayer = $('#modal-player')
            .on('shown.bs.modal', function(e) {
                $('body').removeClass('modal-open');
            })
            .on('hidden.bs.modal', function(e) {
                location.hash = '';
            })
            .draggable({ handle: ".modal-header" });

        /* HASH NAVIGATION */

        function parseLocationHash() {
            var hash = location.hash.substr(1);
            console.log('hash');
            console.log(hash);

            if (hash) {
                var param = hash.split('=');
                var paramName = param[0];
                var paramValue = param[1];

                switch (paramName) {
                case 'live':
                    //console.log("goLive: " + position);

                    //console.log(position === 0 && !isPresenter);

                    if (paramValue === '0' && !isPresenter)
                        return;

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            goLive(paramValue, position.coords.latitude, position.coords.longitude);
                        }, function() {
                            goLive(paramValue);
                        });
                    } else
                        goLive(paramValue);
                    break;
                case 'recording':
                    if (paramValue) {
                        $.post(
                            '@Html.Raw(Url.Action("GetRecordingUrl", "Channel", new {channelId = Model.Channel.ChannelId}))',
                            { recordingId: paramValue },
                            function(data) {
                                if (data && data.VideoUrl) {
                                    if ($('#video').children('[data-id]').length === 0) {
                                        var videoHolder = $('#video').children('.videoHolder');
                                        var stickers = {
                                            WebshowName: data.Channel.Name,
                                            UserName: data.Channel.User.Name
                                        };
                                        loadVideo(videoHolder.empty(), 0, data.VideoUrl, false, false, stickers);
                                        //addPresenterWebshowOverlay(videoHolder, data.Channel.Name);
                                        //addPresenterNameOverlay(videoHolder, data.Channel.User.Name);
                                    } else {
                                        $modalPlayer.modal();
                                        loadVideo($modalPlayer.find('.modal-body').empty(), -1, data.VideoUrl);
                                    }
                                } else {
                                    //alert('Error');
                                }
                            },
                            'json'
                        );
                    }
                    break;
                case 'broadcast':
                    if (paramValue && $('.videoHolder[data-id="' + paramValue + '"]').length === 0) {
                        $.post(
                            '@Html.Raw(Url.Action("GetBroadcastUrl", "Channel", new {channelId = Model.Channel.ChannelId}))',
                            { broadcastId: paramValue },
                            function(data) {
                                console.log(data);
                                if (data && data.Url) {
                                    if ($('#video').children('[data-id]').length === 0) {
                                        loadVideo($('#video').empty(), 0, data.Url);
                                    } else {
                                        $modalPlayer.modal();
                                        loadVideo($modalPlayer.find('.modal-body').empty(), -1, data.Url);
                                    }
                                } else {
                                    //alert('Error');
                                }
                            },
                            'json'
                        );
                    }
                    break;
                }
            }
        }

        $(window).on('hashchange', function() {
            parseLocationHash();
        });

        /* Init UI */

        $('#video-broadcast-dropdown-menu').delegate('a', 'click', function() {
            //$('#video-title').text($(this).text());
            loadVideo($('#video').empty(), 0, $(this).data('url'));
        });


        /* Counters */

        function initStats(data, id) {

            var $container = $('.video-stats');

            if (data === null) {
                $container.addClass('hidden');
                return;
            }


            if (data) {

                if (id) {
                    //var $counter = $container.find('.video-stats-views');
                    //var counter = parseInt($counter.text());
                    //$counter.text(++counter);
                    var type = data.EntityType;

                    App.PushServer.send(
                        PushServer.Commands.AddView,
                        {
                            chatId: chatId,
                            type: type,
                            id: id
                        },
                        true
                    );

                                                            @*$.post('@Url.Action("AddView", "Channel")', { type: type, id: id }, function(data) {}, 'json');*@

                    if (App.isAuth) {

                        $container.find('.vote').off().click(function() {
                            var $this = $(this);
                            $container.find('.vote').attr('disabled', 'disabled').off().removeAttr('href');
                            //$counter = $this.next();
                            //counter = parseInt($counter.text());
                            //$counter.text(++counter);

                            App.PushServer.send(
                                PushServer.Commands.Vote,
                                {
                                    chatId: chatId,
                                    type: type,
                                    id: id,
                                    vote: $this.hasClass('vote-up')
                                }
                            );
                                                                                    @*$.post('@Url.Action("Vote", "Channel")', { type: type, id: id, vote: $this.hasClass('vote-up') }, function(data) {}, 'json');*@
                        });
                    }

                    $container.find('.counter').text(0);
                }

                if (data.Views)
                    $container.find('.video-stats-views').text(data.Views);

                if (data.VotesUp)
                    $container.find('.video-stats-up').text(data.VotesUp);

                if (data.VotesDown)
                    $container.find('.video-stats-down').text(data.VotesDown);

            }

            $container.removeClass('hidden');
        }

        /* Init Broadcaster */

        var broadcasterId = 'broadcaster';
        var $broadcasterBtn = $('#video-broadcast-btn');


        var broadcasterWrap = isGroup
            ? '#modal-broadcaster .modal-body'
            : '#video';

        $(broadcasterWrap).empty()
            .append($('<div/>', { id: broadcasterId }));

        if (isGroup) {
            var $broadcasterModal = $(broadcasterWrap).closest('.modal');
            $broadcasterModal
                .on('shown.bs.modal', function(e) {
                    $('body').removeClass('modal-open');
                })
                .on('hide.bs.modal', function(e) {
                    if ($broadcasterCloseModal.is(':visible'))
                        return true;

                    $broadcasterCloseModal.modal('show');
                    return false;
                    //return confirm('Do you want to close active broadcasting?');
                })
                .on('hidden.bs.modal', function(e) {
                    $broadcasterBtn.removeClass('hidden');
                    location.hash = '';
                })
                .draggable({
                    handle: ".modal-header:not([disabled])",
                    stop: function(event, ui) {
                        //$broadcasterModal.data('position', $broadcasterModal.offset());
                    }
                });

            var $broadcasterCloseModal = $('#modal-broadcaster-close');

            $broadcasterCloseModal.find('input[type="submit"]').click(function() {
                $broadcasterModal.modal('hide');
                $broadcasterCloseModal.modal('hide');
            });

            $(window).bind("beforeunload", function() {
                if ($broadcasterModal.is(':visible'))
                    return 'Do you want to close the window with active broadcasting?';
            });

            $broadcasterModal.find('[data-minimize-modal]').click(function() {
                //var $modalBody = $broadcasterModal.find('.modal-body');

                //console.log($broadcasterModal.offset());

                var state = $(this).attr('data-minimize-modal');

                if (state == '1') {
                    //$modalBody.show();

                    $broadcasterModal.css({
                        bottom: 'auto',
                        right: 'auto',
                        position: 'absolute'
                    });

                    $broadcasterModal.removeClass('collapsed');
                    $broadcasterModal.find('.modal-header').removeAttr('disabled');
                    $broadcasterModal.offset($broadcasterModal.data('position'));


                } else {
                    //$modalBody.hide();
                    $broadcasterModal.addClass('collapsed');
                    $broadcasterModal.find('.modal-header').attr('disabled', 'disabled');

                    $broadcasterModal.data('position', $broadcasterModal.offset());

                    $broadcasterModal.css({
                        top: 'auto',
                        left: 'auto',
                        bottom: '-335px',
                        right: '0',
                        position: 'fixed'
                    });
                }

                $(this).attr('data-minimize-modal', state == '1' ? '0' : '1');
            });
        }

        function loadBroadcaster(broadcastUid, fileName, publishingUrl, isRecord) {
            $broadcasterBtn.addClass('hidden');
            $(broadcasterWrap).closest('.modal').modal();
            //$('body').removeClass('modal-open');

            var params = {
                fileName: fileName,
                publishingUrl: publishingUrl,
                target: broadcasterId,
                isRecord: isRecord,
                onStart: function() {
                    if (wowzaSimulationApiHost) {
                        $.post('http://' + wowzaSimulationApiHost + '/wowzaapi/event', {
                            broadcastUid: broadcastUid,
                            duration: 0,
                            eventName: 'broadcastStarted',
                            file: null,
                            format: null,
                            message: null,
                            recording: null,
                            startTime: null,
                            streamName: null,
                            time: null,
                        });
                    }
                },
                onStop: function() {
                    if (wowzaSimulationApiHost) {
                        $.post('http://' + wowzaSimulationApiHost + '/wowzaapi/event', {
                            broadcastUid: broadcastUid,
                            duration: 0,
                            eventName: 'broadcastStopped',
                            file: null,
                            format: null,
                            message: null,
                            recording: null,
                            startTime: null,
                            streamName: null,
                            time: null,
                        });
                    }
                }
            };

            //params['onBeforeStart'] = function(type) {
            //loadModal('@Url.Action("SetBroadcast", "Channel")?uid=' + data.Uid + '&withRecord=' + (type == 'recording' ? 'True' : 'False'));
            //}

            console.log('params');
            console.log(params);

            App.Broadcaster.Init(params);
        }

        function goLive(position, latitude, longitude) {

            function createBroadcast(params) {
                //TODO: add loader
                $.post(
                    '@Html.Raw(Url.Action("CreateBroadcast", "Channel", new {channelId = Model.Channel.ChannelId /*, privateSessionId = Model.PrivateSessionId, isGroup = IsGroup*/}))',
                    params,
                    function(data) {
                        console.log(data);
                        if (data) {
                            if (isConfigure)
                                loadModal('@Url.Action("SetBroadcast", "Channel")?uid=' + data.Uid);
                            else
                                loadBroadcaster(data.Uid, data.FileName, data.PublishingUrl);
                        } else {
                            alert('Error');
                        }
                    },
                    'json'
                );
            }

            var dat = {};

            //if (position !== undefined && position !== null)
            //dat['position'] = position;

            if (latitude && longitude)
                dat['geolocation'] = longitude + ' ' + latitude;

            //configure broadcast params (in popup) if we do not select target position or target position = main frame (position = 0)
            var isConfigure = position === '0';


            if (isConfigure)
                dat['isAutoName'] = true;

            if (isGroup) {
                setChannelPosition(curUserId, position, function() {
                    createBroadcast(dat);
                });
            } else {
                createBroadcast(dat);
            }
        }

        $broadcasterBtn.click(function() {
            location.hash = "live";
        });

        /* Load broadcasts */

        function loadNoise($videoHolder, videoHolderPosition) {
            var noise = $('<div/>').addClass('noise');
            $videoHolder.append(noise);
            noise.height(noise.width() * 3 / 4);

            if ((isPresenter && isOwner && videoHolderPosition == 0)
                ||
                (App.isAuth && !isOwner && videoHolderPosition > 0)) {
                $videoHolder.append(
                    $('<a/>', { href: 'javascript:void(0)' }).addClass('live').attr('title', 'Go live')
                        .click(function() {
                            location.hash = null;
                            location.hash = "live=" + videoHolderPosition;
                        })
                );
            }
        }

        var lastPlayerId = 0;

        function getBroadcasts(callback) {
            $.getJSON(
                '@Html.Raw(Url.Action("GetBroadcasts", "Channel", new {channelId = Model.Channel.ChannelId /*, privateSessionId = Model.PrivateSessionId*/, isGroup = IsGroup}))',
                function(data) {
                    updateBroadcasts(data, callback);
                }
            );
        }


        function updateBroadcasts(data, callback) {

            console.log('Broadcasts');
            console.log(data);
            if (!data)
                data = {};
            var list = $('#video-broadcast-dropdown-menu').empty();
            if (!data.Broadcasts || data.Broadcasts.length === 0) {
                data.Broadcasts = [];
                list.parent().addClass('hidden');
                $('#video').empty();
                //$('#video-title').text('');
            } else
                list.parent().removeClass('hidden');

            var dataTemp = [];

            if (isGroup) {
                list = $('#video-broadcasts');
                var lastPosition = null;
                for (var x in data.Broadcasts) {
                    var itemTemp = data.Broadcasts[x];
                    var position = itemTemp.Position;
                    if (position !== null && position != lastPosition) { //prevent empty or double position
                        lastPosition = position;
                        while (dataTemp.length < position)
                            dataTemp.push({});
                        dataTemp.push(itemTemp);
                    }
                }

                while (dataTemp.length < defaultVideoNumber)
                    dataTemp.push({});

                console.log('dataTemp');
                console.log(dataTemp);

                data.Broadcasts = dataTemp;
            }

            for (var i = 0; i < data.Broadcasts.length; i++) {

                var item = data.Broadcasts[i];

                if (isGroup) {

                    var $container = i === 0 ? $('#video') : list;
                    var videoHolder = $container.children('[data-position="' + i + '"]');

                    if (videoHolder.length === 0) {

                        videoHolder = $('<div/>').addClass('videoHolder')
                            .attr('data-position', i);

                        if (i !== 0) {
                            var col = Math.floor(12 / defaultVideoNumber);
                            videoHolder.addClass('col-xs-' + col);
                        }

                        $container.append(videoHolder);
                        loadNoise(videoHolder, i);
                    }

                    if (item.BroadcastId != videoHolder.attr('data-id') || item.UserId != videoHolder.attr('data-userId')) {

                        videoHolder.empty();

                        if (i === 0) {
                            //$('#video-title').text('');
                        }

                        item.BroadcastId
                            ? videoHolder.attr('data-id', item.BroadcastId)
                            : videoHolder.removeAttr('data-id');

                        item.UserId
                            ? videoHolder.attr('data-userId', item.UserId)
                            : videoHolder.removeAttr('data-userId');

                        videoHolder.attr('data-muted', item.IsMuted ? 1 : 0);

                        if (item.VideoUrl) {

                            var stickers = null;

                            if (i === 0) {
                                if(item.Type != 6){ //Not encoder
                                    stickers = {
                                        WebshowName: item.WebshowName,
                                        UserName: item.UserName
                                    };
                                }
                                //addPresenterWebshowOverlay(videoHolder, item.WebshowName);
                                //addPresenterNameOverlay(videoHolder, item.UserName);
                                initStats({ EntityType: 'Broadcast' }, item.BroadcastId);
                            }

                            loadVideo(videoHolder, i, item.VideoUrl, item.IsMuted, isOwner && isPresenter, stickers);
                        } 
                        else {
                            loadNoise(videoHolder, i);
                            //videoHolder.find('label').text('');

                            if (i === 0)
                                initStats(null);
                        }

                        if (item.UserId) {
                            if (i === 0) { //Main video frame
                                //$('#video-title').text(item.Name);
                                //Call notification
                                if (isPresenter && !isOwner) {
                                    setTimeout(function() {
                                        $.post('@Url.Action("PresenterIsOnWebshow", "Channel")', { channelId: item.ChannelId }, function(data) {
                                        });
                                    }, 60 * 1000);
                                }


                            } 
                            else {
                                //if (item.VideoUrl) {
                                videoHolder.append(
                                    $('<label/>').text(item.Name)
                                );
                                //}

                                videoHolder.append(
                                    $('<a/>', { href: 'javascript:void(0)' })
                                        .addClass('abuse video-icons video-icons-flag')
                                        .attr('title', 'Report abuse')
                                        .attr('data-check-auth', 1)
                                        .click(function() {
                                            reportAbuse($(this).closest('.videoHolder').attr('data-userId'));
                                        })
                                );

                                addUserLogoOverlay(videoHolder, item.Name);
                            }


                            if (isOwner && i > 0) {
                                videoHolder.append(
                                    $('<a/>', { href: 'javascript:void(0)' }).addClass('remove video-icons video-icons-camera-off').attr('title', 'Remove from this position')
                                        .click(function() {
                                            setChannelPosition($(this).closest('.videoHolder').attr('data-userId'), -1);
                                        })
                                ).append(
                                    $('<a/>', { href: 'javascript:void(0)' })
                                        .addClass('mute video-icons video-icons-mute')
                                        .attr('title', 'On/off sound')
                                        .click(function() {
                                            var holder = $(this).closest('.videoHolder');
                                            var isMuted = holder.attr('data-muted') == 1;
                                            setChannelMuted(holder.attr('data-userId'), !isMuted);
                                        })
                                );
                            }

                            handleCheckAuth(videoHolder);
                        }
                    } else if (item.BroadcastId && item.IsMuted != videoHolder.attr('data-muted')) {
                        muteVideo(i, item.IsMuted ? true : false);
                        videoHolder.attr('data-muted', item.IsMuted ? 1 : 0);
                    }
                } else {
                    list.append(
                        $('<li/>').append(
                            $('<a/>', { href: 'javascript:void(0)' }).text(item.Name ? item.Name : 'Broadcast')
                                .data('url', item.VideoUrl)
                        )
                    );
                }
            }

            if (isGroup) {
                if ($('#video-broadcasts .videoHolder[data-id]').length < defaultVideoNumber - 1)
                    $broadcasterBtn.attr('disabled', 'disabled');
                else
                    $broadcasterBtn.removeAttr('disabled');
            } else {
                list.children().first().children().trigger('click');
            }

            if (isGroup) {
                var listNotApproved = $('#video-broadcasts-not-approved');

                listNotApproved.children().attr('data-not-checked', 1);

                console.log('dataNotApproved');
                console.log(data.BroadcastsNotAccepted);

                var menu = null;

                if (isOwner) {
                    var positions = [];
                    $('.videoHolder[data-position]').each(function() {
                        if (!$(this).attr('data-id')) {
                            positions.push($(this).attr('data-position'));
                        }
                    });

                    menu = $('<ul/>').addClass('dropdown-menu');

                    for (var p = 1; p < defaultVideoNumber; p++) {
                        var pos = $('<li/>').append(
                            $('<a/>', { href: 'javascript:void(0)' })
                                .text('Set to position ' + (p === 0 ? 'Main' : p))
                        );

                        for (var ps in positions) {
                            if (positions[ps] == p) {
                                pos.addClass('enabled')
                                    .attr('data-position', positions[ps])
                                    .click(function() {
                                        setChannelPosition($(this).closest('.videoImage').attr('data-userId'), $(this).attr('data-position'));
                                    });
                            }
                        }

                        menu.append(pos);
                    }
                }

                if (data.BroadcastsNotAccepted && data.BroadcastsNotAccepted.length > 0) {
                    if (!$.isEmptyObject(data.BroadcastsNotAccepted)) {

                        for (var t = 0; t < data.BroadcastsNotAccepted.length; t++) {
                            var itemNotApproved = data.BroadcastsNotAccepted[t];

                            var videoHolderNotApproved = listNotApproved.children('[data-id="' + itemNotApproved.BroadcastId + '"]');
                            console.log(videoHolderNotApproved);
                            if (videoHolderNotApproved.length === 0) {
                                videoHolderNotApproved = $('<div/>').addClass('videoImage col-xs-1')
                                    .attr('data-id', itemNotApproved.BroadcastId)
                                    .attr('data-userId', itemNotApproved.UserId)
                                    .append(
                                        $('<img/>').attr('src', itemNotApproved.SnapshotUrl)
                                            .addClass('user-avatar img-circle')
                                    )
                                    .append(
                                        $('<label/>').text(itemNotApproved.Name)
                                    );

                                if (isOwner) {
                                    var dropdown = $('<span/>')
                                        .addClass('dropdown')
                                        .append(
                                            $('<button/>', {
                                                'type': 'button',
                                                'data-toggle': 'dropdown',
                                                'aria-expanded': 'true'
                                            }).addClass('btn btn-default dropdown-toggle btn-xs')
                                                .append(
                                                    $('<span/>').addClass('caret')
                                                )
                                        );

                                    videoHolderNotApproved.append(dropdown);
                                }

                                listNotApproved.append(videoHolderNotApproved);

                                //if (itemNotApproved.VideoUrl) {
                                //loadVideo(videoHolderNotApproved, (100 + (++lastPlayerId)), itemNotApproved.VideoUrl, true);
                                //}

                            } else {
                                videoHolderNotApproved.removeAttr('data-not-checked');
                            }
                        }
                    }
                }

                listNotApproved.children().each(function() {
                    if ($(this).attr('data-not-checked'))
                        $(this).remove();
                    else if (menu) {
                        console.log($(this).find('.dropdown'));
                        $(this).find('.dropdown-menu').remove();
                        $(this).find('.dropdown').append(menu.clone(true));
                    }
                });
            }

            if (typeof callback == 'function')
                callback();

        }

        getBroadcasts(function() {
            parseLocationHash();
        });

    </script>
}
