﻿@{
    ViewBag.Title = "Error";
}

<div class="row error-page-container">
    <div class="col-sm-12">
        <div class="text-center empty-content">
            <h2>There is nothing here</h2>
            <h2>Error @ViewBag.ErrorNumber</h2>
            <div class="image-container">
                <img src="/Content/images/about/ray-big.png" alt="Ray">
            </div>
            <a class="btn btn-main btn-lg" href="@Url.RouteUrl("Category", new {tag = string.Empty})">EXPLORE SAYYEAH</a>
        </div>
    </div>
</div>