﻿@{
    ViewBag.Title = "Contact us";
}

<div class="contact-us">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1 class="contact-us-title">CONTACT US</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <div class="contact-us-text">
                <div>We are friendly, we always Rail Connect and we don't bite.</div>
                <div>At sunrise each day, look to the west and get in touch with us.</div>
            </div>
            <div class="contact-email">
                <i class="sicon sicon-mail"></i> <a href="mailto:hola@sayyeah.tv">hola@sayyeah.tv</a>
            </div>
            <img class="ray-logo" src="/Content/images/about/ray-big.png" width="65" height="91" alt="logo" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <hr />
            <div class="row address-container">
                <div class="col-sm-8">
                    <div class="address">
                        <div>HEADQUATERS</div>
                        <div>Av. Eugenia 626 Edif. 8 Depto 702</div>
                        <div>Col. del Valle Centro</div>
                        <div>Delegación Benito Juarez</div>
                        <div>México City C.P. 03100</div>
                        <div>México</div>
                    </div>
                    <i class="sicon sicon-location pull-left"></i>
                </div>
                <div class="col-sm-4">
                    <div class="address">
                        <div>1 Shankar Street</div>
                        <div>Herzliya</div>
                        <div>46725</div>
                        <div>Israel</div>
                    </div>
                    <i class="sicon sicon-location pull-left"></i>
                </div>
            </div>
        </div>
    </div>
</div>