﻿@{
    ViewBag.Title = "Advertising";
}

<div class="about-page about-advertising">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center main-promo">
                <img src="/Content/images/about/background-advertising.jpg" alt="jobs" class="img-responsive" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center advertising-text">
                <h2 class="title-colored">ADVERTISING</h2>

                <p>Reach millions of active users who are super engaged with premium webshows.</p>

                <p>All our video and display advertising is served through Google DFP with extremely advanced forms of targeting by age, gender, content category as per IAB's taxonomy, broadcast name, geolocation, time of day and more.</p>

                <p>Get in touch today to reach millions of active Millennials connected with the platform on a daily basis through web and apps on mobiles and tablets.</p>

                <p>hola@sayyeah.tv</p>
            </div>
        </div>
    </div>
</div>