﻿@{
    ViewBag.Title = "Branded content";
}

<div class="about-page about-branded-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center main-promo">
                <img src="/Content/images/about/background-branded.jpg" alt="jobs" class="img-responsive" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center branded-content-text">
                <h2 class="title-colored">BRANDED CONTENT</h2>

                <p>More and more brands look to reach audiences through engaging content, but only a handfull do it right.</p>

                <p>SayYeah provides a unique way of engaging with our audiences via face to face video, which is the only interaction that builds real emotion. </p>

                <p>If your brand is hot and produces engaging branded content for Millennials, let's talk.</p>

                <p>hola@sayyeah.tv</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-sm-4">
                    <img src="/Content/images/about/branded-minions.jpg" alt="Minions" class="img-responsive" />
                </div>
                <div class="col-sm-8">
                    <img src="/Content/images/about/branded-cola.png" alt="Cola" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>