﻿@{
    ViewBag.Title = "About company";
}

<div class="about-page about-company">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center main-promo">
                <img src="/Content/images/about/background-company.jpg" alt="jobs" class="img-responsive" />

                <div class="promo-title-container">
                    <h1 class="promo-title">THE BEST VIEW COMES</h1>
                    <h1 class="promo-title">
                        <i>after</i> THE HARDEST CLIMB
                    </h1>
                </div>

                <div class="description">
                    <div class="event-name">
                        Wolves Summit POLAND
                    </div>
                    <div class="date">
                        APR 2015
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="text-center main-text">
                <img src="/Content/images/about/ray-big.png" alt="Ray" />

                <h1 class="title-colored">WATCH LIVE THE THINGS YOU LOVE, TOGETHER WITH FRIENDS</h1>
                <div class="about-text">
                    <p>
                        <strong>SayYeah</strong> is a platform and app where you can watch live video content that you love together with your friends. It's all about watching video content together and being able to see your friends. Imagine watching a football match with your friends who are abroad but being see each other and scream together for each goal. We are revolutionizing the way we watch content together and are building an amazing product for you all to enjoy.
                    </p>
                    <p>
                        Founded by 2 ex MTV veterans Gabo Ramos (MTV, Disney, Coca-Cola Company) and 
                        Paul Bojarski (MTV, AOL, Skipworth) and Jonathan Williams (WISEgroup) but joined also by the best dream team from all around the world.
                    </p>
                    <p>
                        <strong>SayYeah</strong> is backed by AltaLab from Israel and Start-Up Chile. We are very proud to have Andy Chen (recent CEO of Tidal/Aspiro) on our board of directors, as well as very talented advisers from the investment industry as advisers.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <hr />
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_PressHighlights")

</div>