﻿@{
    ViewBag.Title = "title";
}

<div class="about-page about-directors">
    <h1 class="text-center title-colored">BOARD OF DIRECTORS</h1>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/gabo-ramos.png" alt="" />
                    <h1 class="member-name">Gabo Ramos</h1>
                    <div class="about-member">
                        <p>
                            Gabo is a visionary presenter from MTV LATAM, Nickelodeon and Coca Cola FM that has for the past 15 years connected with Millennial audiences.
                            In 2010 he started Rail Connect by launching his first live webshow and thanks to him everything has the SayYeahStyle.
                        </p>
                        <p>
                            Back in 2009 Gabo also founded his clothing company and you can hear his voice as Ash from Pokemon in Latin America.
                            Gabo is a regular host and speaker at Comic Conferences in Latin America and has been invited to give talks about Millennials to Coca Cola executives.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/paul-bojarski.png" alt="" />
                    <h1 class="member-name">Paul Bojarski</h1>
                    <div class="about-member">
                        <p>Paul was most recently the Head of MTV LATAM Digital Ad Sales and Operations based in Argentina and Miami, responsible for double digital % year on year growth and hitting multi million dollar budgets. He was promoted from MTV London to head up MTV LATAM.</p>
                        <p>Paul is also an expert in Ad Operations from his time at AOL UK back in 2004.
                            He founded Skipworth, a digital music label, his first startup in 1998 at the age of 17 and has lived across 3 continents.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/jonny-williams.png" alt="" />
                    <h1 class="member-name">Jonny Williams</h1>
                    <div class="about-member">
                        <p>
                             7 years experience as a Promoter, Manager and PR for some of the most important artists in LATAM.
                            For the past 12 years involved in international negotiations across wide industries such as textile exports, tourism and music management.
                        </p>
                        <p >He is also the co-founder of WISEgroup, an artist management company.
                            Jonny is a master in alliances and partnership negotiations with our content partners and media groups.
                        </p>
                    </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 col-xs-offset-4 member-card">
                    <img src="/Content/images/about/andy-chen.png" alt=""/>
                    <h1 class="member-name">Andy Chen</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <div class="member-card">
                <div class="about-member text-center">
                    <p>Andy currently serves as an advisory council for the World Economic Forum. He was most recently the CEO of Aspiro Group, a public listed company on Nasdaq stock exchange in Stockholm, Sweden. Aspiro Group is a media and mobile technology company behind TIDAL, a world leading streaming music OTT focused on high fidelity sound quality, and in April 2015 the company was acquired by RocNation and JayZ.</p>
                    <p>Previously Andy was the CEO of Preview Networks, a venture-funded B2B video syndication company acquired by Rightster in April 2013. He was also formerly Vice President of Digital for Viacom International and MTV Europe, as well as global strategy director at Aegis Media (Carat and Isobar) for many years. He started his career in San Francisco during the dotcom era in the late 90s and has a bachelor degree from University of California, Berkeley with a MBA from Stockholm University in global management.</p>
                    <p>A true global citizen with international upbringing, education and work experiences across 3 continents with a vast personal and business network across US, Europe, and Asia. Andy is an active angel investor in several start-ups in US and Europe, business advisor to VCs, start-ups, as well as Fortune 500 public companies. He is also a frequent speaker at international media and digital conferences with over 50 published articles in digital media strategy and behavioral targeting, and a collaborative book. </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>