﻿@{
    ViewBag.Title = "Investors";
}

<div class="about-page about-investors">
    <div class="investors-text">
        <h1 class="title-colored">INVESTORS</h1>

        <p>
            Rail Connect is backed by an investor from Israel.
        </p>

        <p>
            We are currently planning to raise our next round and if you are passionate in this area of Tech and Media, we would love to hear from you.
        </p>

        <p>
            <a href="http://www.angel.co/sayyeah/" target="_blank">Angel List</a> or get in touch via email to hola@sayyeah.tv
        </p>
    </div>
</div>