﻿@{
    ViewBag.Title = "About jobs";
}

<div class="about-page about-jobs">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center main-promo">
                <img src="/Content/images/about/background-jobs.jpg" alt="jobs" class="img-responsive" />
                <div class="promo-title-container">
                    <h1 class="promo-title text-right">DO WHAT <i>you</i> LOVE
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center jobs-text">
                <h2 class="title-colored">NOT JUST A JOB BUT A PASSION</h2>

                <p>So you are crazy? Never feeling lazy? Sometimes a little bit hazy, but not dazy? </p>

                <p>If you answered Yeah, then you are ready to join our dream(ers) team and we would love to hear from you.</p>

                <p>If we would only recruite people with "years of experience" then they would probably end up doing what "years of experience" has taught them to do. Trust us, it's very hard to swim against the tide! We want fresh people, who haven't spent years in the corporate world. We want the dreamers, the fighters, the do-ers, those that truelly do what they love, persevere and get shit done.</p>

                <p>We believe in the modern way of remote working from any device. Why should a content supervisor be held down to work in an office 9-5 when actually they should be out meeting talented stars at events that happen in the evenings? Each role is different and we focus on results and not the where.</p>

                <h3>INTERNSHIPS</h3>

                <p>
                    We have internship opportunities available in the UK, USA, Poland, Sweden, Mexico, Colombia, Argentina, Chile and Peru.
                    As the sun rises send us a lovely message to hola@sayyeah.tv
                </p>

                <h3>JOBS</h3>

                <p>Check out the current career opportunities on our <a target="_blank" href="http://www.linkedin.com/company/sayyeah/">LinkedIn</a> profile or send an email to hola@sayyeah.tv</p>
            </div>
        </div>
    </div>
</div>