﻿@{
    ViewBag.Title = "Partnership";
}

<div class="about-page about-partnership">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center main-promo">
                <img src="/Content/images/about/background-partnership.jpg" alt="jobs" class="img-responsive" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center partnership-text">
                <h2 class="title-colored">CONTENT PARTNERSHIPS</h2>

                <p>We partner with the best content producers in the world to bring you the hottest live streaming because it doesn't matter where they are from, we all speak the same language #Innovation.</p>

                <p>If you think you have what it takes to become a content partner, producer, approved artist, presenter or an approved record label, then at sunrise send us a poetic message to hola@sayyeah.tv</p>                
            </div>
        </div>
    </div>

    <div class="row partners-row">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="partner-card">
                <img src="/Content/images/about/dspx.png" class="img-circle img-responsive" alt="logo" />
                <div class="partner-name">ARGENTINA</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-card">
                <img src="/Content/images/about/chile-artifices.png" class="img-circle img-responsive" alt="logo" />
                <div class="partner-name">CHILE</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-card">
                <img src="/Content/images/about/falcon.png" class="img-circle img-responsive" alt="logo" />
                <div class="partner-name">COLOMBIA</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-card">
                <img src="/Content/images/about/mexico-indessign.png" class="img-circle img-responsive" alt="logo" />
                <div class="partner-name">MEXICO</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-4 col-sm-2">
            <div class="partner-card">
                <img src="/Content/images/about/peru-elemental.png" class="img-circle img-responsive" alt="logo" />
                <div class="partner-name">PERU</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="partner-card">
                <img src="/Content/images/about/bralson.png" class="img-circle img-responsive" alt="logo" />
                <div class="partner-name">POLAND</div>
            </div>
        </div>
    </div>
</div>