﻿
@{
    ViewBag.Title = "title";
}

<div>
    <h2>SAY YEAH Privacy Policy</h2>

    <p>Last Updated: May 5th, 2015</p>
    <p>This Privacy Policy describes how and when  SAY YEAH S.A. DE C.V. (“SAY YEAH”) collects, uses, and shares your information when you use our Services. SAY YEAH receives your information through our Apps, websites to which this Privacy Policy is posted, including without limitation http://sayyeah.tv, and other interactions with our Services. When using our Services, you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Also, please note that, unless we define a term in this Privacy Policy, all capitalized terms used in this Privacy Policy have the same meanings as in our Terms of Service. So, please make sure that you have read and understand our Terms of Service.</p>

    <h3>1. Information Collection And Use</h3>
    <p>Information Collected or Received from You</p>
    <p>Creating an Account and Profile Information</p>
    <p>If you create a SAYYEAH account, you will provide us with certain information that can be used to identify you, such as your name, email address, and phone number (“Personally Identifiable Information” or “PII”). If you create a SAYYEAH account using your login credentials from one of your social networking service accounts (“SNS Account”), we’ll be able to access and collect your name and other PII that your privacy settings on the SNS Account permit us to access. If you create a SAYYEAH account through one of your SNS Accounts, we may also collect your gender, date of birth, zip code and other information that is not considered PII because it cannot be used by itself to identify you.</p>
    <p>Use of your information</p>
    <p>Our primary goals in collecting information are to provide and improve our Services, to administer your use of the Services (including your account, if you are an account holder), and to enable you to enjoy and easily navigate our Services. In addition, we may use your information to send you information about our Services, respond to your requests and facilitate your use of the Services. We may also use your information to send you e-mails and materials that directly promote our Services.</p>
    <p>Location Information</p>
    <p>In addition to profile information, if you choose to enable your computer or mobile device to send us location information we may collect and store information about your location by converting your IP address into a rough geo-location or by accessing your mobile device’s GPS coordinates or coarse location. We may use and store information about your location, to provide features of our Services, such as tagging a stream with a location, and to improve and customize the Services with Content that has been tagged near your location. If you do not want us to collect location information, you may disable that feature on your mobile device.</p>
    <p>Links</p>
    <p>We may keep track of how you interact with links across our Services, including our email notifications, third-party services, and Apps, by redirecting clicks or through other means. We do this to help improve our Services, for example to provide relevant advertising, and to be able to share aggregate click statistics such as how many times a particular link was clicked on.</p>
    <p>Cookies</p>
    <p>Like many websites, we use “Cookie” technology to collect additional information, including website usage data, and to improve our Services. A Cookie is a small data file that is placed on your computer’s hard disk by a Web server when you access our Services. SAY YEAH may use both session Cookies and persistent Cookies to identify that you’ve logged in to the Services, to better understand how you interact with our Services, to monitor aggregate usage and web traffic routing on our Services, to customize and improve our Services and to identify if you are logged to a SNS Account. Unlike persistent cookies, session Cookies are deleted when you log off from the Services and close your browser. Most Internet browsers automatically accept Cookies. If you do not want cookies from SAY YEAH or other websites, you can instruct your browser, by changing its settings, to stop accepting Cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable Cookies.</p>
    <p>Web Beacons</p>
    <p>“Web Beacons” (also known as Web bugs, pixel tags or clear GIFs) are tiny graphics with a unique identifier that may be included on our Services for several purposes, including to deliver or communicate with Cookies, to track and measure the performance of our Services, to monitor how many visitors view our Services, and to monitor the effectiveness of our advertising. Unlike Cookies, which are stored on the user’s hard drive, Web Beacons are typically embedded invisibly on web pages (or in an e-mail).</p>
    <p>Log Data</p>
    <p>Our servers automatically record information (“Log Data”) created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page you were visiting before accessing our Services, pages visited, location, your mobile carrier, device and application IDs, search terms, the links on our Services that you clicked on, streams videos that you watched, access date and time spent on pages and features of the Services and other statistics and Cookie information. We receive Log Data when you interact with our Services, for example, when you visit our websites, sign into our Services, view videos hosted by SAY YEAH, or interact with our email notifications. SAY YEAH uses Log Data to provide our Services and to measure, customize, and improve them. For instance, SAY YEAH may provide you with recommendations based on your use of the Services.</p>
    <p>Information Sent by Your Mobile Device</p>
    <p>We collect certain information that your mobile device sends when you use our Services, like a device identifier, user settings and the operating system of your device, as well as information about your use of our Services.</p>

    <h3>2. Information Sharing And Disclosure</h3>

    <p>We will not share any PII that we have collected from or regarding you except as described below:</p>
    <p>Information Shared with the Public</p>
    <p>SAY YEAH is a live video sharing platform and, except for your log-in credentials (like your email, phone number and passwords) which are not available to the public, the information you provide and Content you submit when using the Services is public. This means that not only is the Content that you post publicly available, so is the data provided with such Content (such as, but not limited to, when it was posted), and other activity information like the accounts you follow or that follow you, the number of users who clicked on a particular link, or the Content that you like or comment on (“Usage Information”). In addition to your Content, and Usage Information, your PII associated with your account (like your profile information which includes your username, photograph and biography) is broadly and instantly disseminated to a wide range of users and other services that access SAYYEAH. For instance, your profile information and Content may be accessed via our APIs by our partners and other third parties, including developers and publishers, that integrate with our Services. When you share information or Content via the Services, it’s a good idea to be thoughtful about what you share with the public!</p>
    <p>Information Shared with Service Providers</p>
    <p>We engage third-party service providers to perform functions and provide services to us in the United Mexican States and abroad. These third-party service providers only have access to your PII for the purpose of performing services on our behalf and are expressly obligated not to disclose or use your PII for any other purpose.</p>
    <p>Information Shared with Third Parties</p>
    <p>We may share aggregated information and non-identifying information with third parties for industry research and analysis, demographic profiling and other similar purposes.</p>
    <p>Information Disclosed for Our Protection and the Protection of Others</p>
    <p>We cooperate with government and law enforcement officials or private parties to enforce and comply with the law. We may disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate: (i) to respond to claims, legal process (including subpoenas); (ii) to protect our property, rights and safety and the property, rights and safety of a third party or the public in general; and (iii) to stop any activity that we consider illegal, unethical or legally actionable activity.</p>
    <p>Information Disclosed in Connection with Business Transfers</p>
    <p>It is clearly understood that the user accept the privacy policies and terms of use of this Web site and / or application and / or platform empowers and expressly consent to SAYYEAH, that all information is obtained from users, among them, personally identifiable information, may be used, handled and / or transferred because of commercial speculation; therefore, such consent and user authorization shall be in force until such time as the user by written notice reveals the contrary.</p>

    <h3>3. Your Choices</h3>
    <p>We offer you choices regarding the collection, use and sharing of your PII and we’ll respect the choices you make. Please note that if you decide not to provide us with the PII that we request, you may not be able to access all of the features of the Services.</p>
    <p>Opt-Out</p>
    <p>We may periodically send you free newsletters and e-mails that directly promote our Services. When you receive such promotional communications from us, you will have the opportunity to “opt-out” by following the unsubscribe instructions provided in the e-mail you receive. We do need to send you certain communications regarding the Services and you will not be able to opt out of those communications – e.g., communications regarding updates to our Terms of Service or this Privacy Policy.</p>

    <h3>4. Modifying Your Personal Information</h3>
    <p>If you are a registered user of our Services, we may provide you with tools and account settings to access or modify your PII associated with your account, such as your profile photograph, name, username and biography. If the functionality for modifying your account is not available you can contact us at hola@sayyeah.tv with your request. You can also permanently delete your SAYYEAH account or request that we delete your PII, by contacting us at support@sayyeah.tv.  We’ll take steps to delete your information as soon we can, but some information may remain in archived/backup copies for our records or as otherwise required by law.</p>

    <h3>5. The Security of Your Information</h3>
    <p>We take reasonable administrative, physical and electronic measures designed to protect the information that we collect from or about you (including your PII) from unauthorized access, use or disclosure. Please be aware, however, that no method of transmitting information over the Internet or storing information is completely secure. Accordingly, we cannot guarantee the absolute security of any information.</p>

    <h3>6. Responding to Do Not Track Signals</h3>
    <p>Our Site does not have the capability to respond to “Do Not Track” signals received from various web browsers.</p>

    <h3>7. Links to Other Sites</h3>
    <p>Our Services may contain links to websites and services that are owned or operated by third parties (each, a “Third-party Service”). Any information that you provide on or to a Third-party Service or that is collected by a Third-party Service is provided directly to the owner or operator of the Third-party Service and is subject to the owner’s or operator’s privacy policy. We’re not responsible for the content, privacy or security practices and policies of any Third-party Service. To protect your information we recommend that you carefully review the privacy policies of all Third-party Services that you access.</p>

    <h3>8. International Transfer</h3>
    <p>Your PII may be transferred to, and maintained on, computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. If you’re located outside the United States  United Mexican States and choose to provide your PII to us, we may transfer your PII to the United States  United Mexican States and process it there.</p>

    <h3>9. Our Policy Towards Children</h3>
    <p>Our Services are not directed to persons under 13. We do not knowingly collect PII from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information from our files as soon as possible and terminate the child’s account.</p>

    <h3>10. Changes To This Privacy Policy</h3>
    <p>Any information that is collected via our Services is covered by the Privacy Policy in effect at the time such information is collected. We may revise this Privacy Policy from time to time. If we make a change to this Privacy Policy that, in our sole discretion, is material, we will notify you of those changes by posting them on the Services or by sending you an email to the email address associated with your account or other communication, and we’ll update the “Last Updated Date” above to indicate when those changes will become effective. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
    <p>Questions?</p>
    <p>Please contact us at hola@sayyeah.tv if you have any questions about our Privacy Policy.</p>
    <p>30866/00100/DOCS/3653334.4</p>
</div>
