﻿@{
    ViewBag.Title = "About team";
}
<div class="about-page about-team">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center main-promo">
                <img src="/Content/images/about/background-team.jpg" alt="team" class="img-responsive" />
                <div class="promo-title-container">
                    <h1 class="promo-title">THINK CRAZY, NEVER STAGNATE</h1>
                    <h1 class="promo-title">
                        <i>and</i> ALWAYS INNOVATE
                    </h1>
                </div>

                <div class="description">
                    <div class="event-name">
                        Rail Connect Team Chile
                    </div>
                    <div class="date">
                        Jan 2015
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="text-center main-text">
                <h1 class="title-colored">TEAM</h1>
                <div class="about-text">
                    <p>We love people with a passion and we build our teams around that. Our teams are like one big family where we celebrate successes, overcome difficulties and always question everything in order to innovate.</p>

                    <p>SayYeah is a mixture of people with 10+ years experience in different industries such as content, monetisation, technology, branding and strategy but also young and eager to change the world university students who have not been affected by the "corporate world way of thinking".</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/gabo-ramos.png" alt="" />
                    <h1 class="member-name">Gabo Ramos</h1>
                    <h3 class="member-position">Chief Content Officer</h3>
                    <a href="https://www.linkedin.com/profile/view?id=109969824" target="_blank"><i class="sicon sicon-linkedin"></i></a>
                    <p class="about-member">
                        Gabo is a visionary presenter from MTV LATAM, Nickelodeon and Coca Cola FM that has for the past 15 years connected with Millennial audiences.
                        In 2010 he started Rail Connect by launching his first live webshow and thanks to him everything has the SayYeahStyle. Back in 2009 Gabo also founded his clothing company and you can hear his voice as Ash from Pokemon in Latin America.
                        Gabo is a regular host and speaker at Comic Conferences in Latin America and has been invited to give talks about Millennials to Coca Cola executives.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/paul-bojarski.png" alt="" />
                    <h1 class="member-name">Paul Bojarski</h1>
                    <h3 class="member-position">CEO</h3>
                    <a href="https://linkedin.com/in/paulbojarski" target="_blank"><i class="sicon sicon-linkedin"></i></a>
                    <p class="about-member">
                        Paul was most recently the Head of MTV LATAM Digital Ad Sales and Operations based in Argentina and Miami, responsible for double digital % year on year growth and hitting multi million dollar budgets. He was promoted from MTV London to head up MTV LATAM.
                        Paul is also an expert in Ad Operations from his time at AOL UK back in 2004.
                        He founded Skipworth, a digital music label, his first startup in 1998 at the age of 17 and has lived across 3 continents.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/jonny-williams.png" alt="" />
                    <h1 class="member-name">Jonny Williams</h1>
                    <h3 class="member-position">COO</h3>
                    <a href="https://www.linkedin.com/pub/jonny-williams/64/291/6a8" target="_blank"><i class="sicon sicon-linkedin"></i></a>
                    <p class="about-member">
                        7 years experience as a Promoter, Manager and PR for some of the most important artists in LATAM.
                        For the past 12 years involved in international negotiations across wide industries such as textile exports, tourism and music management. He is also the co-founder of WISEgroup, an artist management company.
                        Jonny is a master in alliances and partnership negotiations with our content partners and media groups.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 col-xs-offset-4 member-card">
                    <img src="/Content/images/about/teresa-villalpando.jpg" alt="teresa" class="img-circle" />
                    <h1 class="member-name">Teresa Villalpando</h1>
                    <h3 class="member-position">CFO</h3>
                    <a href="https://mx.linkedin.com/pub/tere-villalpando/26/378/180/en" target="_blank"><i class="sicon sicon-linkedin"></i></a>
                    <p class="about-member">
                        Teresa supports all our financial activities, is very passionate about music and likes Public Relations amongst many other things. Her biggest achievement has been having a beautiful family and having worked for MTV for more than 3 years in getting audiences for their big events, realities and shows. She loves working with the team because everybody is young, professional, fun and crazy.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="subtitle text-center">The Dream(ers) Team</h2>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/aaron-victores.jpg" alt="" class="img-circle"/>
                    <h1 class="member-name">Aaron Victores</h1>
                    <h3 class="member-position">Account Manager Mexico</h3>
                    <a href="http://www.twitter.com/aaron_victores" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        I relate easily to people, regardless of race or tastes haha and I like to contact people who can work together for a mutual benefit. I always say "we should divide the cake and not eat it alone". The word that best describe me is "fun". I like that Rail Connect is a brotherhood, a relaxed atmosphere, fun people working in what they like and that the work does not feel as such.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/carlox-guerrero.jpg" alt="" class="img-circle"/>
                    <h1 class="member-name">Carlox Guerrero</h1>
                    <h3 class="member-position">Screenwriter & Social Media Manager</h3>
                    <a href="http://www.twitter.com/carloxguerrero" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        I'am a publicist, a radio and social media enthusiast and waking up I already breath music. I am also passionate about the musical stories behind each band, song or artist. At Rail Connect I like that I have the opportunity to grow, live and feel what I really like, the team are like my second family.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/jorge-sepulveda.jpg" alt="" class="img-circle"/>
                    <h1 class="member-name">Jorge Sepúlveda</h1>
                    <h3 class="member-position">Talent Relationships Rest of LATAM</h3>
                    <a href="http://www.twitter.com/georgesepu" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        Who am I? If I could answer that most likely I would currently be in a temple of Buddhist meditation in an orange tunic,
                        but if I have to find an answer it would be: "I am what I do", "And what do I @@$ #¢ @@ do? Basically what I like, and that is to be surrounded by people with good ideas, incredible energy, great complicity and desire to change the world; for me that is SayYeah, a place where I have the possibility to grow, invent, undertake, be wrong, start over... and most importantly, enjoy the moment, which is the only space in which we can really make changes visible in our short but intense lives. So... only SayYeah!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/lucia-ramos.jpg" alt="" class="img-circle" />
                    <h1 class="member-name">Lucia Ramos</h1>
                    <h3 class="member-position">Talent Relationships Mexico</h3>
                    <a href="http://www.twitter.com/aLUCIArv" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        I handle all the Talent Relations in Mexico but also am a graduate in International Marketing, have skills as a Digital Media Planner, presenter, actress of dubbing, talent manager, to name a few of my activities.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/gabriela-juarez.jpg" alt="" class="img-circle" />
                    <h1 class="member-name">María Gabriela  Juárez</h1>
                    <h3 class="member-position">Social Media Manager</h3>
                    <a href="http://www.twitter.com/gabsj27" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        ​I have a degree in marketing and some of my interests include music, advertising and social networking and you could say that I have talent to sing and act. When it comes to work, I think that I am good in "marketing". "Intense" is what describes me the best. I love digital and believe that there are several aspects to Rail Connect which I can make even better. Also, I think that I can have fun with the team.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/matias-parente.jpg" alt="" class="img-circle" />
                    <h1 class="member-name">Matías Parente</h1>
                    <h3 class="member-position">Digital Art Director</h3>
                    <a href="https://www.linkedin.com/in/matparente" target="_blank"><i class="sicon sicon-linkedin"></i></a>
                    <p class="about-member">
                        I can say that my tastes include film and television series, so I dare to say that I am a "film buff" and "series buff". One of my greatest passions has to do with football and Argentina's Boca Juniors. One of my greatest achievements has been to that I can work as freelance and a word that describes me is "detailed", if we talk about work I am passionate about design and detail to the pixel. Previously I was the Digital Art Director at Group M in Argentina, working with Mindshare, Mediacom and Maxus with clients such as Volkswagen, Audi, Warner Bros, Bic, Teléfonica, Movistar, LG, Diageo, Volvo amongst others. Prevous to that I was a Senior Designer at Viacom (MTV, Nickelodeon) in Buenos Aires and also back in the day at MySpace and Latin3 Agency (Miller) to name a few.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/mech-marquez.jpg" alt="" class="img-circle"/>
                    <h1 class="member-name">Mech Márquez</h1>
                    <h3 class="member-position">Commissioner</h3>
                    <a href="http://www.twitter.com/mechmarquez" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        I'm a specialist in communications and public relations, passionate about music, the good vibes, partying and my convictions. A word that could describe me would be "intensity". One of my skills is that I'm easy to interact with people, I have always believed that we all have something good to offer, provide and deliver. The most important achievement of my life has been studying an MBA in Argentina, completely grateful that there came the madness, the struggle and love for SayYeah, which became my dream and now my reality, which is worth fighting and moving forward, now everything boils down to... ONLY SAYYEAH!
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/nando-carbonell.jpg" alt="" class="img-circle"/>
                    <h1 class="member-name">Nando Carbonell</h1>
                    <h3 class="member-position">Production Supervisor Argentina</h3>
                    <a href="http://www.twitter.com/nandocarbonell" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        I'm interested in creating challenges and accepting them, my skill is to understand feelings and climates. My achievement is the creation of DSPX, combining all of my interests and skills as pixels, creating a single image, involving those who share my ideals, creating a work team, a realization, and best of all, without even knowing it. I would like that the world recognizes that once I did something, only to see it or hear it, caused a feeling. The words that best describe me are "sensitivity, activation, strength". Rail Connect allows me to be as I am and lets me re-invent myself.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/natalia-higuera.jpg" alt="" class="img-circle"/>
                    <h1 class="member-name">Natalia Higuera</h1>
                    <h3 class="member-position">Press Conference Coordinator</h3>
                    <a href="https://www.twitter.com/natahiguerac" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        "All my life I only have tried to make life pleasant for others." In Colombia, my first dream took me without my account to work with various projects such as project manager, PR and production. Since then I have focused on public and commercial relations. Rail Connect is a door always open in everything I've worked on, live concerts, artists everywhere and tremendous Latin flavour. To be part of Rail Connect today is a fortune for me, to create, propose, and continue to grow, especially with a team that has come so far.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row text-center">
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/valeria-colinna.jpg" alt="" class="img-circle" />
                    <h1 class="member-name">Valeria  Colinna</h1>
                    <h3 class="member-position">Production Supervisor Colombia</h3>
                    <a href="http://www.twitter.com/ValeriaColinna" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        I'm a Colombian actress, acting to be a presenter. I think that one of my virtues is that I say things straight up whether they are good or bad, but with the gift that they sound beautiful. I define myself in a nutshell "perfectionist" and "critic", without ceasing to be dreamy, my motto, no dream is impossible. What I like about Rail Connect is, that everything flowed from the beginning with the team.
                    </p>
                </div>
                <div class="col-sm-4 member-card">
                    <img src="/Content/images/about/walter-batto.jpg" alt="" class="img-circle" />
                    <h1 class="member-name">Walter Batto</h1>
                    <h3 class="member-position">Account Coordinator</h3>
                    <a href="http://www.twitter.com/waltbatto" target="_blank"><i class="sicon sicon-twitter-black"></i></a>
                    <p class="about-member">
                        What I most enjoy doing is singing, taking pictures, writing and imagining stories to tell. If I'm looking for a word that defines me it's "initiative". I think the greatest achievement, was encouraging me to take theater classes, sing and apply for a scholarship at the University. In the center of performing arts at the University is where I found a space to discover and develop artistic sides that are part of me. In Rail Connect I find something similar, but with the plus to combine my career with my artistic discovery.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>