﻿@{
    ViewBag.Title = "Terms of Service";
}

<div>
    <h2>SAYYEAH Terms of Service</h2>

    <p>These Terms of Service (“Terms”) are between you and SAY YEAH S.A. De C.V. (“SAY YEAH”). These Terms govern your access to and use of our SAYYEAH services, including our SAYYEAH mobile applications (“Apps”), our websites and channels, including the website located at sayywah.tv (collectively the “Services” or “SAYYEAH”), and any videos, live videos, information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as “Content”). Your access to and use of the Services is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.</p>

    <h3>1. Basic Terms</h3>

    <p>You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the Services and through third party services and websites. You should only provide Content that you are comfortable sharing with others under these Terms.</p>
    <p>You may use the Services only if you can form a binding contract with SAY YEAH and are not a person barred from receiving services under the laws of the United Mexican States or other applicable jurisdiction. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.</p>
    <p>The Services that SAY YEAH provides are always evolving and the form and nature of the Services may change from time to time without prior notice to you. In addition, SAY YEAH stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.</p>
    <p>The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information. The types and extent of advertising by SAY YEAH on the Services are subject to change. In consideration for SAY YEAH granting you access to and use of the Services, you agree that SAY YEAH and its subsidiary, third party providers and partners may place such advertising on the Services or in connection with the display of Content or information from the Services whether submitted by you or others. In the case of Content Partners and Content Generators SAY YEAH will guaranty a Revenue Share stablished by the parties in a Commercial Agreement.</p>

    <h3>2. Privacy</h3>

    <p>Any information that you provide to SAY YEAH (including information you provide with connecting the Services to a your social networking service account (“SNS Account” ) is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United Mexican States and/or other countries for storage, processing and use by SAY YEAH. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your account, which you may not be able to opt-out from receiving.</p>

    <h3>3. Passwords</h3>

    <p>You are responsible for safeguarding the password or credentials that you use to access the Services and for any activities or actions under your account. We encourage you to use “strong” passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account and with other accounts that you may connect to your SAY YEAH account (such as an SNS Account or your email). SAY YEAH cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.</p>

    <h3>4. Content On the Services</h3>

    <p>All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may, but are not required to monitor or control the Content posted via the Services and we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.</p>
    <p>We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will SAY YEAH be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.</p>
    <p>We may offer you the opportunity to invite your friends or contacts to view your streams or otherwise enjoy the Services. If you choose to invite one or more of your friends or contacts using text messaging (SMS), we may suggest content for the message. You may be able to edit that suggested content, and if you choose to send text message invitations, those messages will be sent from the native SMS application on your device. If you do choose to send such invitations, you represent to SAY YEAH that the recipients of such invitations have consented to receive such messages from you, and that those recipients do not consider such messages unwanted or unsolicited.</p>

    <h3>5. Rights in Content Granted by You</h3>

    <p>You retain your rights to any Content you submit, post or display on or through the Services. In order to make the Services available to you and other users, SAY YEAH needs a license from you. By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, exclusive,  Paid license base on a revenue share model stablished on a commercial agreement (for content partners and content generators: with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).</p>
    <p>You agree that this license includes the right for SAY YEAH to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals who partner with SAY YEAH for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use. Such additional uses by SAY YEAH, or other companies, organizations or individuals who partner with SAY YEAH.</p>
    <p>We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.</p>
    <p>You are responsible for your use of the Services, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. You understand that your Content may be syndicated, broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability.  SAY YEAH will not be responsible or liable for any use of your Content by SAY YEAH in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit. You also represent and warrant that neither your Content, nor your use and provision of your Content to be made available through the Services, nor any use of your Content by SAY YEAH on or through the Services will infringe, misappropriate or violate a third party’s intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</p>
    <p>Rights in Content Granted by SAY YEAH</p>
    <p>Subject to your compliance with these Terms, SAY YEAH grants you a limited, non-exclusive, non-transferable license to access post and view the Content posted by other users via the Services solely in connection with your permitted use of the Services and for your personal and commercial purposes.</p>

    <h3>6. Your License To Use The Services</h3>

    <p>SAYYEAH gives you a personal or company acount, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by SAYYEAH as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by SAYYEAH, in the manner permitted by these Terms.</p>

    <h3>7. SAY YEAH Rights</h3>

    <p>All right, title, and interest in and to the Services (excluding Content provided by Content Partners and Content Generators) are and will remain the exclusive property of SAY YEAH and its licensors. The Services are protected by copyright, trademark, and other laws of both the United Mexican States and foreign countries. SAY YEAH reserves all rights not expressly granted in these Terms. You acknowledge and agree that any feedback, comments, or suggestions you may provide regarding SAY YEAH, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.</p>

    <h3>8. Restrictions On Content And Use Of The Services</h3>

    <p>We reserve the right at all times (but will not have an obligation) to remove or refuse to distribute any Content on the Services and to suspend and or terminate users or reclaim usernames without liability to you.</p>
    <p>You may NOT post Content that:</p>
    <ul>
        <li>Impersonates another person or entity in a manner that does or is intended to mislead, confuse, or deceive others;</li>
        <li>Violates the rights of a third party, including copyright, trademark, privacy, and publicity rights;</li>
        <li>Promotes discrimination, hatred or harm against any individual or group;</li>
        <li>Is a direct and specific threat of violence to others;</li>
        <li>Is defamatory, obscene or pornographic;</li>
        <li>Is furtherance of illegal activities; or</li>
        <li>Is harassing, abusive, or constitutes spam.</li>
    </ul>
    <p>In addition to the above mentioned restrictions you must comply with the SAY YEAH Community Guidelines.</p>
    <p>We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of SAY YEAH , its users and the public. SAY YEAH does not disclose personally identifying information to third parties except in accordance with our Privacy Policy.</p>
    <p>You may not do any of the following while accessing or using the Services:</p>

    <ul>
        <li>access, tamper with, or use non-public areas of the Services, SAY YEAH computer systems, or the technical delivery systems of SAY YEAH providers;</li>
        <li>probe, scan, or test the vulnerability of any system or network or breach or circumvent any security or authentication measures;</li>
        <li>access or search or attempt to access or search the Services by any means (automated or otherwise) other than through our currently available, published interfaces that are provided by SAY YEAH (and only pursuant to those terms and conditions), unless you have been specifically allowed to do so in a separate agreement with SAY YEAH (NOTE: scraping the Services without the prior consent of SAY YEAH is expressly prohibited);</li>
        <li>forge any TCP/IP packet header or any part of the header information in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying information;</li>
        <li>interfere with, or disrupt, (or attempt to do so), the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of Content in such a manner as to interfere with or create an undue burden on the Services.</li>
        <li>use, display, mirror or frame the Services or any individual element within the Services, SAY YEAH’s name, any SAY YEAH trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without SAY YEAH’s express written consent;</li>
        <li>avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by SAY YEAH or any of SAY YEAH’s providers or any other third party (including another user) to protect the Services or Content;</li>
        <li>attempt to access or search the Services or Content or download Content from the Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by SAY YEAH or other generally available third-party web browsers;</li>
        <li>send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;</li>
        <li>use any meta tags or other hidden text or metadata utilizing a SAY YEAH trademark, logo URL or product name without SAY YEAH’s express written consent;</li>
        <li>use the Services or Content, or any portion thereof, for any commercial purpose or for the benefit of any third party or in any manner not permitted by these Terms;</li>
        <li>attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services or Content;</li>
        <li>interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Services;</li>
        <li>collect or store any personally identifiable information from the Services from other users of the Services without their express permission;</li>
        <li>violate any applicable law or regulation; or</li>
        <li>encourage or enable any other individual to do any of the foregoing.</li>
    </ul>

    <h3>9. Copyright Policy</h3>

    <p>SAY YEAH respects copyright law and expects its Content Partners and Content Generators to do the same. It is SAY YEAH’s policy to terminate in appropriate circumstances Account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders. Please see SAY YEAH’s Copyright Policy, for further information.</p>


    <h3>10. Ending These Terms</h3>

    <p>The Terms will continue to apply until terminated by either you or SAY YEAH as follows.</p>
    <p>You may end your legal agreement with SAY YEAH at any time for any reason by deactivating your accounts and discontinuing your use of the Services. In order to deactivate your account, please contact us hola@sayyeah.tv</p>
    <p>We may suspend or terminate your accounts or cease providing you with all or part of the Services at any time for any reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms, (ii) you create risk or possible legal exposure for us; or (iii) our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with your account or through the Services the next time you attempt to access your account.</p>
    <p>In all such cases, the Terms shall terminate, including, without limitation, your license to use the Services, except that the following sections shall continue to apply: 4, 5, 7, 8, 10, 11, 12, 13 and 14.</p>
    <p>Nothing in this section shall affect SAY YEAH 's rights to change, limit or stop the provision of the Services without prior notice, as provided above in section 1.</p>

    <h3>11. Indemnity</h3>

    <p>You will indemnify and hold harmless SAY YEAH and its officers, directors, employee and agents, from and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses, including, without limitation, reasonable legal and accounting fees arising out of or in any way connected with (i) your access to or use of the Services or Content, (ii) your Content, or (iii) your violation of these Terms.</p>

    <h3>12. Disclaimers And Limitations Of Liability</h3>

    <p>Please read this section carefully since it limits the liability of SAY YEAH and its parents, subsidiaries, affiliates, related companies, officers, directors, employees, agents, representatives, partners, and licensors (collectively, the “SAY YEAH Entities”). Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents of this section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully limited.</p>
    <p>A. The Services are Available “AS-IS”</p>
    <p>Your access to and use of the Services or any Content is at your own risk. You understand and agree that the Services is provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, SAY YEAH ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p>
    <p>SAY YEAH Entities make no warranty and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services, or any Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; (iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from SAY YEAH Entities or through the Services, will create any warranty not expressly made herein.</p>

    <h3>B. Links</h3>

    <p>The Services may contain links to third-party websites or resources. You acknowledge and agree that we are not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by SAY YEAH Entities of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.</p>


    <h3>C. Limitation of Liability</h3>

    <p>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SAY YEAH ENTITIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT.</p>
    <p>IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE SAY YEAH ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID SAY YEAH, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.</p>
    <p>THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE SAY YEAH ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.</p>

    <h3>13. Dispute Resolution</h3>

    <p>Governing Law</p>
    <p>These Terms and any action related thereto will be governed by the laws of the  Mexico City without regard to its conflict of laws provisions.</p>
    <p>Agreement to Arbitrate</p>
    <p>You and SAY YEAH agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof or the use of the Services or Content (collectively, “Disputes”) will be settled by binding arbitration, except that each party retains the right: (i) to bring an individual action in small claims court and (ii) to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade secrets, patents or other intellectual property rights (the action described in the foregoing clause (ii), an “IP Protection Action”). The exclusive jurisdiction and venue of any IP Protection Action will be the state and federal courts located in the Mexican, District of Mexico City and each of the parties hereto waives any objection to jurisdiction and venue in such courts. You acknowledge and agree that you and SAY YEAH are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding. Further, unless both you and SAY YEAH otherwise agree in writing, the arbitrator may not consolidate more than one person's claims, and may not otherwise preside over any form of any class or representative proceeding. If this specific paragraph is held unenforceable, then the entirety of this “Dispute Resolution” section will be deemed void. Except as provided in the preceding sentence, this “Dispute Resolution” section will survive any termination of these Terms.</p>

    <h3>14. General Terms</h3>
    <p>The failure of SAY YEAH to enforce any right or provision of these Terms will not be deemed a waiver of such right or provision. In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. You may not assign or transfer these Terms, by operation of law or otherwise, without SAY YEAH’s prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null. SAY YEAH may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.</p>
    <p>Any notices or other communications provided by SAY YEAH under these Terms, including those regarding modifications to these Terms, will be given: (i) via email; or (ii) by posting to the Services. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.</p>
    <p>These Terms and our Privacy Policy are the entire and exclusive agreement between SAY YEAH and you regarding the Services (excluding any services for which you have a separate agreement with SAY YEAH that is explicitly in addition or in place of these Terms), and these Terms supersede and replace any prior agreements between SAY YEAH and you regarding the Services and Content.</p>
    <p>We may revise these Terms from time to time, the most current version will always be at http://sayyeah.tv/terms. If the revision, in our sole discretion, is material we will notify you via email to the email associated with your account or through the Services. If you do not wish to be bound by any such revisions to the Terms, you must end these Terms with us as set forth in Section 10 above. By continuing to access or use the Services after those revisions become effective, you agree to be bound by the revised Terms.</p>
    <p>These Services are operated and provided by SAY YEAH S.A. DE .C.V.  Adress: Av. Eugenia 626 Edif.8 Suite 702, Colonia del Valle Centro. Mexico DF, Delegacion Benito Juarez C.P. 03100, Mexico If you have any questions about these Terms, please contact us, hola@sayyeah.tv.</p>
</div>